<template>
    <section class="yachts__catamaran">
        <vue-flux
            :options="fluxOptions"
            :images="fluxImages"
            :transitions="fluxTransitions"
            class="yachts__slider--big"
            fullscreen="true"
            ref="slider">
            <flux-controls v-if="mounted" slot="controls" :slider="$refs.slider"></flux-controls>
            <flux-pagination slot="pagination"></flux-pagination>
        </vue-flux>

        <div class="yachts__catamaran-header yachts__catamaran-header-left">
            <div class="yachts__catamaran-header-inner">
                <router-link to="yacht/5">
                    <h3 class="heading-tertiary yachts__catamaran-heading">Katamaran Lagoon 420</h3>
                </router-link>
            </div>
        </div>

        <div class="yachts__catamaran-header yachts__catamaran-header-right">
            <div class="yachts__catamaran-header-inner">
                <router-link to="yacht/5">
                    <h3 class="heading-tertiary yachts__catamaran-heading">Nowy w naszej flocie!</h3>
                </router-link>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        props: ['images', 'justify', 'order'],
        data() {
            return {
                mounted: false,
                collapseBool: false,
                fluxOptions: {
                    autoplay: true,
                    delay: 10000,
                },
                fluxImages: [
                    'https://res.cloudinary.com/dlqvkenro/image/upload/v1542801492/7.jpg',
                    'https://res.cloudinary.com/dlqvkenro/image/upload/v1542802068/3.jpg',
                    'https://res.cloudinary.com/dlqvkenro/image/upload/v1542801997/6.jpg'

                ],
                fluxTransitions: {
                    transitionSlide: Transitions.transitionSlide
                }
            };
        },
        mounted() {
            this.mounted = true;
        },
        created() {
            this.$nuxt.$on('resize::slider', () => {
                this.$refs.slider.resize();
            });
        }
    }
</script>