<template>
    <section class="yachts__row">
        <div class="yachts__record">
            <div class="yachts__overlay"
                 :class="order === '1' || order === '3' ? 'yachts__overlay--1' : 'yachts__overlay--3'"></div>
            <div class="yachts__catamaran-header yachts__header--1">
                <div class="yachts__catamaran-header-inner">
                    <router-link to="yacht/1">
                        <h3 class="heading-tertiary yachts__catamaran-heading">
                            {{ nameFirst }}
                        </h3>
                    </router-link>
                </div>
            </div>
            <router-link to="yacht/1">
                <first-fleet-slider justify="left"
                              :order="order"
                              :images="imagesFirst"
                              ref="sliderYachtFirst"></first-fleet-slider>
            </router-link>
        </div>
        <div class="yachts__record yachts__record--2">
            <div class="yachts__overlay"
                 :class="order === '1' || order === '3' ? 'yachts__overlay--2' : 'yachts__overlay--4'"></div>
            <div class="yachts__catamaran-header yachts__header--2">
                <div class="yachts__catamaran-header-inner">
                    <h3 class="heading-tertiary yachts__catamaran-heading">
                        {{ nameSecond }}
                    </h3>
                </div>
            </div>
            <first-fleet-slider justify="right"
                          :order="order"
                          :images="imagesSecond"
                          ref="sliderYachtSecond"></first-fleet-slider>
        </div>
    </section>
</template>
<script>
    import firstFleetSlider from './elements/firstFleetSlider'

    export default {
        created() {
            let counter = 0;
            setInterval(() => {
                counter++;
                //console.log(counter);
                if(counter === 1) {
                    this.$refs.sliderYachtFirst.$refs.slider.showImage('next');
                }
                if(counter === 2) {
                    counter = 0;
                    this.$refs.sliderYachtSecond.$refs.slider.showImage('next');
                }
            }, 10000);
        },
        components: {
            firstFleetSlider
        },
        props:[
            'order',
            'nameFirst',
            'nameSecond',
            'thumbnailFirst',
            'thumbnailSecond',
            'imagesFirst',
            'imagesSecond',
        ]
    }
</script>