<template>
    <article class="all-yachts">
        <yacht-col :images="images[0]"
                   header="Monte Carlo 5"
                   paragraph="Jacht Monte Carlo 5 to jednostka przeznaczona do zapewnienia pasażerom jak najbardziej luksusowych warunków."
                   link="/yacht/1"></yacht-col>

        <yacht-col :images="images[1]"
                   header="Monte Carlo 4"
                   paragraph="Jacht charakteryzujący się ponadczasową elegancją typową dla francuskiego wzornictwa."
                   link="/yacht/2"></yacht-col>

        <yacht-col :images="images[2]"
                   header="Azimut Magellano 43"
                   paragraph="Model 43 z linii Magellano to jednostka, która świetnie sprawdza się w długich rejsach, nawet w trudnych warunkach pogodowych."
                   link="/yacht/3"></yacht-col>

        <yacht-col :images="images[3]"
                   header="Cranchi M 44 HT"
                   paragraph="Idealny na rodzinne wakacje, bądź rejs w przyjacielskim gronie. Jacht cechuje między innymi bardzo dobra sterowność."
                   link="/yacht/4"></yacht-col>

        <yacht-col :images="images[4]"
                   header="Catamaran Lagoon 420"
                   paragraph="Lagoon 420 to katamaran, który zachowuje idealne proporcje pomiędzy komfortem rodzinnych rejsów, a właściwościami nautycznymi."
                   link="/yacht/5"></yacht-col>
    </article>
</template>
<script>
    import yachtCol from './elements/yachtCol';

    export default {
        data() {
            return {
                images: [
                    [
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543076828/mc5featured3.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543076828/mc5featured2.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543076827/mc5featured1.jpg'
                    ],
                    [
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543321432/mc4featured1.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543321439/mc4featured2.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543321441/mc4featured3.jpg'
                    ],
                    [
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543077031/m43featured1.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543077031/m43featured2.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543077031/m43featured3.jpg'
                    ],
                    [
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1547100785/597_d8907b3de13883ae5e653931df788de6.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1547100785/602_aaeb7145581a81da1a8ce17ae3c3711e.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1547100785/599_97d396539a2fd6fd27ea2d0934f4773f.jpg'
                    ],
                    [
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1542801492/7.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1542802068/3.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1542801997/6.jpg'
                    ]
                ]
            }
        },
        components: {
            yachtCol
        }
    }
</script>