<template>
    <div>
        <balears-header header="Cabrera"
                        image="https://res.cloudinary.com/dlqvkenro/image/upload/v1547004651/cabreraimg.jpg"
                        paragraph="To najmniejsza wyspa archipelagu ulokowana 10 km na południe od Majorki. Z uwagi na ukształtowanie terenu oraz bajeczną roślinność od 1991 roku jest parkiem narodowym, który można zwiedzać przez cały rok. <br><br>Wybierając Cabrerę jako punkt swojej morskiej podroży, warto odwiedzić wzniesiony nad portem XIV-wieczny zamek czy też muzeum zlokalizowane w starej winiarni. W drodze powrotnej polecamy rejs do jaskini Blue Grotto i kąpiel w tym urokliwym miejscu. "></balears-header>
        <balears-images-second :images='[
            "https://res.cloudinary.com/dlqvkenro/image/upload/v1547763935/cabreradodatkoe1.jpg",
            "https://res.cloudinary.com/dlqvkenro/image/upload/v1547763939/cabreradodatkoe2.jpg"
        ]'></balears-images-second>
    </div>
</template>
<script>
    import balearsHeader from "../elements/balearsHeader";
    import balearsImagesSecond from "../elements/balearsImagesSecond";

    export default {
        components: {
            balearsHeader,
            balearsImagesSecond
        }
    }
</script>