<template>
    <div>
        <balears-header header="Formentera"
                        image="https://res.cloudinary.com/dlqvkenro/image/upload/v1546948576/shutterstock_209064655.jpg"
                        paragraph="Nazywana często „ostatnim śródziemnomorskim rajem”. Odwiedź ją i przekonaj się, że nie ma w tych słowach ani grama przesady. <br><br>Ogromne plaże z białym, miękkim piaskiem oraz turkusowa woda przypominają krajobrazem Karaiby czy Malediwy. Roślinność jest tu bardziej egzotyczna z powodu braku słodkiej wody. <br><br>Na Formenterę nie docierają przypadkowi turyści. Plaże wyspy są bardzo popularne wśród nudystów i uważa się je za jedne z najlepszych na całym wybrzeżu basenu Morza Śródziemnego. <br><br>Spokój odnajdą tutaj również ci, którzy cenią sobie odpoczynek z dala od tłumów, w otoczeniu niezwykłej przyrody."></balears-header>
        <balears-images-second :images='[
            "https://res.cloudinary.com/dlqvkenro/image/upload/v1547762761/formenteradodatkowe1.jpg",
            "https://res.cloudinary.com/dlqvkenro/image/upload/v1547762788/formenteradodatkowe3.jpg"
        ]'></balears-images-second>
    </div>
</template>
<script>
    import balearsHeader from "../elements/balearsHeader";
    import balearsImagesSecond from "../elements/balearsImagesSecond";

    export default {
        components: {
            balearsHeader,
            balearsImagesSecond
        }
    }
</script>