<template>
    <div>
        <balears-header header="Ibiza"
                        image="https://res.cloudinary.com/dlqvkenro/image/upload/v1545146493/minorkamainphot.jpg"
                        paragraph="Symbol szaleństwa i długich hiszpańskich nocy. Mekka fanów muzyki tanecznej oraz najsłynniejszych DJ-ów z całego świata. Regularnie rezydują tu David Guetta, Tiesto, Armin Van Buuren, Skrillex czy Steve Aoki. Poznaj najpopularniejsze kluby z rankingu Billboard: Amnesia, DC-10, Destino, Es Paradise, Eden, Heart, Space lub Ushuaia. <br><br>W ciągu dnia odkryjesz tu panującą od lat hipisowską atmosferę i poczujesz prawdziwego ducha wolności na słynnym Hippie Market. Wieczorem będziesz podziwiać niezapomniane zachody słońca z jednego z kultowych beach barów – Café del Mar i Nikki Beach. Na północnowschodnim wybrzeżu znajduje się luksusowe SPA z uzdrawiającą gliną zmieszaną z morską wodą. Ta niezwykle relaksująca terapia jest idealnym sposobem na tonizację skóry. <br><br>Fani ekskluzywnych i futurystycznych miejsc powinni odwiedzić Sublimotion. Ta znajdująca się na zachodzie wyspy restauracja z kuchnią molekularną została nagrodzona dwiema gwiazdkami Michelin i swoimi iluminacjami przyciąga turystów z całego świata."></balears-header>
        <balears-col-second header="Puerto de Ibiza"
                            paragraph="<p class='balears__text'>Wzdłuż portu zlokalizowanych jest wiele restauracji i barów, a bezpośrednio z Puerto de Ibiza można dostać się do najpiękniejszej dzielnicy miasta – Dalt Vila. Stare Miasto zostało wpisane na listę światowego dziedzictwa UNESCO, a majestatyczne zabytki przyciągają wzrok na każdym kroku. To miejsce dla tych, którzy chcą poznać współczesne życie lub odkryć historię dawnych mieszkańców miasta. Punktem obowiązkowym jest Park Naturalny Ses Salines ze względu na bioróżnorodność i bogactwo przyrodnicze Ibizy.</p>"
                            image="https://res.cloudinary.com/dlqvkenro/image/upload/v1545227882/someporto2ibiza.jpg"
        ></balears-col-second>
        <balears-col-second header="Puerto De Sant Antoni"
                            paragraph="<p class='balears__text'>Jeden z najpopularniejszych portów nie tylko na Ibizie, ale w całej Hiszpanii. W tutejszych restauracjach spróbujesz najbardziej wyszukanych potraw ze świeżych ryb i owoców morza.</p><p class='balears__text'> Nieopodal odkryjesz jaskinię Ses Fontanelles i prehistoryczne rysunki z epoki brązu. Po drodze do jaskini ujrzysz piękny widok na całe wybrzeże Cala Salada i małe wyspy na zachodzie.</p>"
                            image="https://res.cloudinary.com/dlqvkenro/image/upload/v1545227849/someportoibiza.jpg"
                            align="right"
        ></balears-col-second>
        <!--
        <balears-slider headerFirst="Puerto de Ibiza"
                        headerSecond="Puerto De Sant Antoni"
                        paragraphFirst='<p class="balears__text">Wzdłuż portu zlokalizowanych jest wiele restauracji i barów, a bezpośrednio z Puerto de
                            Ibiza można dostać się do najpiękniejszej dzielnicy miasta – Dalt Vila. Stare Miasto
                            zostało wpisane na listę światowego dziedzictwa UNESCO, a majestatyczne zabytki
                            przyciągają wzrok na każdym kroku. To miejsce dla tych, którzy chcą poznać
                            współczesne życie lub odkryć historię dawnych mieszkańców miasta. Punktem
                            obowiązkowym jest Park Naturalny Ses Salines ze względu na bioróżnorodność
                            i bogactwo przyrodnicze Ibizy.</p>'
                        paragraphSecond='<p class="balears__text">Jeden z najpopularniejszych portów nie tylko na Ibizie, ale w całej Hiszpanii.
                                    W tutejszych restauracjach spróbujesz najbardziej wyszukanych potraw ze świeżych ryb
                                    i owoców morza.</p><p class="balears__text">
                                    Nieopodal odkryjesz jaskinię Ses Fontanelles i prehistoryczne rysunki z epoki brązu.
                                    Po drodze do jaskini ujrzysz piękny widok na całe wybrzeże Cala Salada i małe wyspy na
                                    zachodzie.</p>'
                        :images="[
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1545227849/someportoibiza.jpg',
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1545227882/someporto2ibiza.jpg'
                        ]"></balears-slider>
                        -->
    </div>
</template>
<script>
    import balearsHeader from "../elements/balearsHeader";
    import balearsComposition from './../elements/balearsComposition'
    import balearsSlider from './../elements/balearsSlider'
    import balearsColSecond from './../elements/balearsColSecond'

    export default {
        components: {
            balearsHeader,
            balearsSlider,
            balearsComposition,
            balearsColSecond
        }
    }
</script>