<template>
    <div>
        <balears-header header="Majorka"
                        image="https://res.cloudinary.com/dlqvkenro/image/upload/v1545147343/mallorca_night.jpg"
                        paragraph="Majorka to największa z pięciu wysp archipelagu Balearów położona kilkadziesiąt mil na południe od wybrzeża Hiszpanii. Wyróżnia się piękną rzeźbą i zróżnicowanym krajobrazem. Turystów przyciągają jej długie, piaszczyste plaże, błękitne laguny, palmy oraz ciepłe morze. Pasmo górskie sięgające 1445 m n.p.m., z licznymi krętymi szlakami jest idealne dla kolarzy. Urokliwe miasta zachwycają bogatą architekturą, jak stolica Palma de Mallorca, czy Valldemossa, w której można odkryć historię Fryderyka Chopina. Majorka to także nadmorskie porty z klimatycznymi knajpkami, w których skosztujemy miejscowych przysmaków i owoców morza. Dzięki idealnym warunkom pogodowym i niedużej odległości, zaledwie w kilka godzin popłyniemy łodzią na imprezową Ibizę, zieloną Minorkę czy rajską Formenterę.">
        </balears-header>
        <balears-col-second header="Palma de Mallorca"
                            paragraph="<p class='balears__text'> Jest największym miastem Majorki, kosmopolityczną stolicą Balearów i prężnie działającym, śródziemnomorskim ośrodkiem turystycznym. </p><p class='balears__text'> Katedra La Seu to zdecydowanie najsłynniejsza budowla Palmy. Ta gotycka świątynia z elementami architektury zaprojektowanej przez słynnego Gaudiego stanowi wizytówkę miasta i jest symbolem całej wyspy. </p><p class='balears__text'> Nieopodal katedry znajduje się pałac królewski La Almudaina. Spacer po komnatach i dziedzińcu sprawi, że poczujesz się, jakbyś wędrował po tych zabudowaniach w czasach ich świetności. </p><p class='balears__text'> Doskonałym pomysłem na rodzinne popołudnie jest wizyta w jednym z największych kompleksów akwariowych na świecie. W Palma Aquarium możesz przeżyć niesamowitą przygodę, nurkując z rekinami w najgłębszym zbiorniku w Europie, tzw. Big Blue. </p>"
                            image="https://res.cloudinary.com/dlqvkenro/image/upload/v1542728967/palma.png"></balears-col-second>
        <balears-col-second header="Port Adriano"
                            paragraph="<p class='balears__text'> Odkryj ekskluzywną marinę zaprojektowaną przez Philippe’a Starcka. To jeden z najnowocześniejszych portów basenu śródziemnomorskiego i wyjątkowa baza ekskluzywnych jachtów o powierzchni ponad 10 000 m 2 . Daj się zaskoczyć jej szykownemu designowi i najwyższej jakości obsłudze. </p><p class='balears__text'> To raj dla nawet najbardziej wymagających podniebień - znajdziesz tu 11 restauracji, gdzie serwowane są dania od kuchni śródziemnomorskiej po haute cousine. Marina jest siedzibą wielu modnych butików z najlepszymi międzynarodowymi markami. </p><p class='balears__text'> Nie zabraknie tutaj też atrakcji dla fanów żeglarstwa, windsurfingu, nurkowania, spływów kajakowych i innych sportów wodnych. </p>"
                            image="https://res.cloudinary.com/dlqvkenro/image/upload/v1545076481/_portadraino.jpg"
                            align="right"></balears-col-second>
        <balears-col-second header="Port D'andratx"
                            paragraph="<p class='balears__text'>Jeden z najbardziej ekskluzywnych ośrodków wypoczynkowych słynących ze swojej różnorodności kulturowej. Miejsce przyciągające wielbicieli mody, yachtingu oraz gwiazdy filmowe, których wille piętrzą się na stokach wzgórz. Zobaczysz tu najpiękniejsze zachody słońca i zrelaksujesz się w jednym z malowniczo położonych barów. Idealne miejsce do uprawiania sportów wodnych, wycieczek łodzią lub po prostu długich spacerów. </p>"
                            image="https://res.cloudinary.com/dlqvkenro/image/upload/v1545076613/PORTDANDRATX.jpg"
                            ></balears-col-second>
        <balears-col-second header="Porto Cristo"
                            paragraph="<p class='balears__text'> Legendarny port, w którym obowiązkowym punktem jest zwiedzenie jaskiń Coves dels Hams oraz Coves del Drach. Poznaj fantastyczny świat stalaktytów i stalagmitów oraz największe podziemne jezioro na świecie. Niedaleko miasteczka, po drodze do Cala Millor, znajduje się Auto Safari ZOO, gdzie można odbyć fascynujący przejazd trasą wśród dzikich zwierząt. </p>"
                            image="https://res.cloudinary.com/dlqvkenro/image/upload/v1543238360/shutterstock_190202546.jpg"
                            align="right"></balears-col-second>
        <balears-col-second header="Port De PolenÇa"
                            paragraph="<p class='balears__text'> Piękne, średniowieczne miasto, ale też ekskluzywny port, w którym cumują najdroższe jachty świata. Plaże ściągają wielu twórców, którzy przyjeżdżają tutaj w poszukiwaniu inspiracji. Piękne okolice zachęcają do długich wycieczek pieszych. Lazurowa woda idealnie nadaje się do uprawiania sportów wodnych, nurkowania i odkrywania morskiej fauny. Atrakcją Port de Pollença są ruiny XVII-wiecznej fortyfikacji, która dawniej pełniła funkcję obronną przed najazdami piratów. </p>"
                            image="https://res.cloudinary.com/dlqvkenro/image/upload/v1545077065/portdepollenca.jpg"
                            ></balears-col-second>
        <balears-col-second header="Cap de Formentor"
                            paragraph="<p class='balears__text'> Znajduje się tu Puig Fumat, najwyższy punkt widokowy Majorki mierzący 384 m n.p.m. Prowadzi do niego ponad 13-kilometrowa, pełna zakrętów droga, która podnosi poziom adrenaliny nawet najodważniejszym podróżnikom. </p><p class='balears__text'> Główny punkt widokowy położony jest na skale o wysokości ponad 200 m. W trakcie podroży do niego zobaczysz m.in.:<br>– XVI-wieczną wieżę warowną, skąd w przeszłości wypatrywano pirackie statki. Ze strażnicy można podziwiać panoramę całej okolicy.<br>– Białą, piaszczystą plażę, u stóp której znajduje się kultowy i zarazem luksusowy Hotel Formentor, od lat goszczą w nim wybitni politycy oraz światowej sławy artyści.<br>– Zabytkową latarnię morską o wysokości 56 m, w jej wnętrzu obecnie znajduje się restauracja. </p>"
                            align="right"
                            image="https://res.cloudinary.com/dlqvkenro/image/upload/v1547742058/capformenterooo.jpg"
                            ></balears-col-second>
        <balears-col-second header="Cala de Sa Calobra"
                            paragraph="<p class='balears__text'> Jedna z najpiękniejszych zatok na Majorce i podobno najlepsza plaża z szaﬁrową wodą otoczona majestatycznymi górami. Raj dla płetwonurków. Do Cala de Sa Calobra prowadzi malownicza i wyjątkowo kręta droga stanowiąca niekiedy wyzwanie dla kierowców.</p><p class='balears__text'> Odwiedzając ten wyjątkowy punkt, nie możesz pominąć wąwozu Torrent de Pareis. Idąc w jego głąb, już po kilkunastu metrach zostaniesz otoczony wysokimi ścianami gór oraz ogłuszającą ciszą. Strefa wąwozu przyciąga turystów możliwością oderwania się od wielkomiejskiego zgiełku.</p>"
                            image="https://res.cloudinary.com/dlqvkenro/image/upload/v1547760954/salacobre.jpg"
        ></balears-col-second>

        <balears-images :images='[
            "https://res.cloudinary.com/dlqvkenro/image/upload/v1547764531/plazamajorka4.jpg",
            "https://res.cloudinary.com/dlqvkenro/image/upload/v1547764529/plazamajorka1.jpg",
            "https://res.cloudinary.com/dlqvkenro/image/upload/v1547764532/plazamajorka3.jpg",
            "https://res.cloudinary.com/dlqvkenro/image/upload/v1547764532/plazamajorka5.jpg",
            "https://res.cloudinary.com/dlqvkenro/image/upload/v1547764533/plazamajorka2.jpg",
            "https://res.cloudinary.com/dlqvkenro/image/upload/v1547764534/plazamajorka7.jpg",
            "https://res.cloudinary.com/dlqvkenro/image/upload/v1547764535/plazamajorka6.jpg",
            "https://res.cloudinary.com/dlqvkenro/image/upload/v1547807436/calapi.jpg"
        ]'></balears-images>
<!--
        <balears-slider align="left"
                        headerFirst="Palma de Mallorca"
                        headerSecond="Port Adriano"
                        headerThird="Port D'andratx"
                        paragraphFirst='<p class='balears__text'>
                            Jest największym miastem Majorki, kosmopolityczną stolicą Balearów i prężnie
                            działającym, śródziemnomorskim ośrodkiem turystycznym.
                            </p>
                            <p class='balears__text'>
                                Katedra La Seu to zdecydowanie najsłynniejsza budowla Palmy. Ta gotycka świątynia
                                z elementami architektury zaprojektowanej przez słynnego Gaudiego stanowi
                                wizytówkę miasta i jest symbolem całej wyspy.
                            </p>
                            <p class='balears__text'>
                                Nieopodal katedry znajduje się pałac królewski La Almudaina. Spacer po komnatach
                                i dziedzińcu sprawi, że poczujesz się, jakbyś wędrował po tych zabudowaniach
                                w czasach ich świetności.
                            </p>
                            <p class='balears__text'>
                                Doskonałym pomysłem na rodzinne popołudnie jest wizyta w jednym z największych
                                kompleksów akwariowych na świecie. W Palma Aquarium możesz przeżyć niesamowitą
                                przygodę, nurkując z rekinami w najgłębszym zbiorniku w Europie, tzw. Big Blue.
                            </p>'
                        paragraphSecond='<p class='balears__text'>
                            Odkryj ekskluzywną marinę zaprojektowaną przez Philippe’a Starcka. To jeden z najnowocześniejszych portów basenu śródziemnomorskiego
                            i wyjątkowa baza ekskluzywnych jachtów o powierzchni ponad 10 000 m 2 . Daj się zaskoczyć jej szykownemu designowi i najwyższej jakości
                            obsłudze.
                            </p>
                            <p class='balears__text'>
                                To raj dla nawet najbardziej wymagających podniebień - znajdziesz tu 11 restauracji, gdzie serwowane są dania od kuchni śródziemnomorskiej
                                po haute cousine. Marina jest siedzibą wielu modnych butików z najlepszymi międzynarodowymi markami.
                            </p>
                            <p class='balears__text'>
                                Nie zabraknie tutaj też atrakcji dla fanów żeglarstwa, windsur?ngu, nurkowania, spływów kajakowych i innych sportów wodnych.
                            </p>'
                        paragraphThird='<p class='balears__text'>
                            Port uznawany jest za jeden z najbardziej ekskluzywnych ośrodków
                            wypoczynkowych słynących ze swojej różnorodności kulturowej. Miejsce
                            przyciąga wielbicieli mody, yachtingu oraz gwiazdy ﬁlmowe, których wille piętrzą
                            się na stokach wzgórz. Zobaczysz tu najpiękniejsze zachody słońca i zrelaksujesz
                            się w jednym z malowniczo położonych barów. To idealne miejsce do uprawiania
                            sportów wodnych, wycieczek łodzią lub po prostu długich spacerów.
                            Doskonałym pomysłem na rodzinne popołudnie jest wizyta w jednym z największych
                            kompleksów akwariowych na świecie. W Palma Aquarium możesz przeżyć niesamowitą
                            przygodę, nurkując z rekinami w najgłębszym zbiorniku w Europie, tzw. Big Blue.
                        </p>'
                        :images="[
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1542728967/palma.png',
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1545076481/_portadraino.jpg',
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1545076613/PORTDANDRATX.jpg'
                        ]"></balears-slider>
        <balears-slider align="right"
                        headerFirst="Porto Cristo"
                        headerSecond="Port De PolenÇa"
                        paragraphFirst='<p class='balears__text'>
                            Legendarny port, w którym obowiązkowym punktem jest
                                                zwiedzenie jaskiń Coves dels Hams oraz Coves del Drach. Poznaj
                                                fantastyczny świat stalaktytów i stalagmitów oraz eksploruj
                                                największe podziemne jezioro na świecie.
                                                Niedaleko miasteczka, po drodze do Cala Millor, znajduje się Auto
                                                Safari ZOO, gdzie można odbyć fascynujący przejazd trasą wśród
                                                dzikich zwierząt.
                            </p>'
                        paragraphSecond='<p class='balears__text'>
                            Piękne, średniowieczne miasto, ale też ekskluzywny port, w którym
                            cumują najdroższe jachty świata.
                            Plaże ściągają wielu twórców, którzy przyjeżdżają tutaj w poszukiwaniu
                            inspiracji. Piękne okolice zachęcają do długich pieszych wycieczek.
                            Lazurowa woda idealnie nadaje się do uprawiania sportów wodnych,
                            nurkowania oraz odkrywania morskiej fauny.
                        </p>'
                        :images="[
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1543238360/shutterstock_190202546.jpg',
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1545077065/portdepollenca.jpg'
                        ]"></balears-slider>


        <balears-composition imageThumbnailFirst="https://res.cloudinary.com/dlqvkenro/image/upload/v1543232328/shutterstock_790293724.jpg"
                             imageThumbnailSecond="https://res.cloudinary.com/dlqvkenro/image/upload/v1545078237/portdepolencaup.jpg"
                             imageFirst="https://res.cloudinary.com/dlqvkenro/image/upload/v1543238360/shutterstock_190202546.jpg"
                             imageSecond="https://res.cloudinary.com/dlqvkenro/image/upload/v1545077065/portdepollenca.jpg"
                             headerFirst="Porto Cristo"
                             headerSecond="Port De PolenÇa"
                             paragraphFirst="Legendarny port, w którym obowiązkowym punktem jest
                                                zwiedzenie jaskiń Coves dels Hams oraz Coves del Drach. Poznaj
                                                fantastyczny świat stalaktytów i stalagmitów oraz eksploruj
                                                największe podziemne jezioro na świecie.
                                                Niedaleko miasteczka, po drodze do Cala Millor, znajduje się Auto
                                                Safari ZOO, gdzie można odbyć fascynujący przejazd trasą wśród
                                                dzikich zwierząt."
                             paragraphSecond="Piękne, średniowieczne miasto, ale też ekskluzywny port, w którym
                                                cumują najdroższe jachty świata.
                                                Plaże ściągają wielu twórców, którzy przyjeżdżają tutaj w poszukiwaniu
                                                inspiracji. Piękne okolice zachęcają do długich pieszych wycieczek.
                                                Lazurowa woda idealnie nadaje się do uprawiania sportów wodnych,
                                                nurkowania oraz odkrywania morskiej fauny."
                             ></balears-composition>
         -->
    </div>
</template>
<script>
    import balearsHeader from './../elements/balearsHeader'
    import balearsComposition from './../elements/balearsComposition'
    import balearsSlider from './../elements/balearsSlider'
    import balearsColSecond from './../elements/balearsColSecond'
    import balearsImages from './../elements/balearsImages'

    export default {
        components: {
            balearsHeader,
            balearsComposition,
            balearsSlider,
            balearsColSecond,
            balearsImages
        }
    }
</script>