<template>
    <div>
        <balears-header header="Minorka"
                        image="https://res.cloudinary.com/dlqvkenro/image/upload/v1545147439/mmmmmm.jpg"
                        paragraph="Szmaragdowe zatoki, dzikie plaże, megalityczne budowle i brak tłumów. Oto hiszpańska Minorka – najspokojniejsza wyspa Morza Śródziemnego i jeden z ostatnich rajskich zakątków Europy. <br><br>Wyspa toczy życie kompletnie odmienne od imprezowo-turystycznych kombinatów reszty Balearów. Przez cały sezon przyjeżdża tu tylu turystów, co w wakacyjny tydzień na pobliską Majorkę. Oczywiście nie dlatego, że nie warto, po prostu na Minorce przyroda jest ważniejsza niż masowa turystyka."></balears-header>
        <balears-col-second header="Port MahÓn"
                            paragraph="<p class='balears__text'> Prawdopodobnie najciekawszą atrakcją turystyczną Minorki jest Port Mahón, do którego prowadzą majestatyczne schody przy Escales del Carme. Miejscem obowiązkowym podczas zwiedzania jest Plaça Espanya – główny plac na starówce oraz Casa Mir, perełka lokalnego modernizmu i rezydencja rodzin kupieckich. Podczas wizyty w destylarni Xoriguer poznasz tajniki produkcji oraz historię tutejszego klasycznego dżinu. Wokół portu biegnie piękna promenada, na której liczni żonglerzy, akrobaci i performerzy zabawiają turystów swoimi popisami. Wieczorami można obejrzeć pokazy taneczne oraz ogniowe.</p><p class='balears__text'> Odkryjesz tu tradycyjne hiszpańskie dania i spróbujesz regionalnych produktów – słynnego majonezu czy lokalnego sera.</p>"
                            image="https://res.cloudinary.com/dlqvkenro/image/upload/q_60/v1543413078/shutterstock_162344165.jpg"
        ></balears-col-second>
        <balears-col-second header="Ciutadella"
                            paragraph="<p class='balears__text'>To kameralne miasteczko portowe na Minorce zlokalizowane na zachodnim wybrzeżu wyspy. Perła starej architektury hiszpańskiej.</p><p class='balears__text'> Możesz podziwiać tu zabytkowe pałace, muzea oraz kościoły. Jedną z najciekawszych budowli jest gotycka katedra z XIII wieku wzniesiona na miejscu meczetu.</p><p class='balears__text'> Port słynie z obchodzonego z rozmachem Festiwalu Świętojańskiego, Fiestas de Sant Joan, którego głównym punktem są prezentacje koni miejscowej rasy.</p>"
                            image="https://res.cloudinary.com/dlqvkenro/image/upload/v1547747737/ciutadellanew.jpg"
                            align="right"
        ></balears-col-second>

        <!--
        <balears-slider headerFirst="Port MahÓn"
                        headerSecond="Ciutadella"
                        :images="[
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1545228601/portibiza1.jpg',
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1545227882/someporto2ibiza.jpg'
                        ]"
                        paragraphFirst='<p class='balears__text'>
                            Prawdopodobnie najciekawszą atrakcją turystyczną Minorki jest Port Mahón, do którego
                            prowadzą majestatyczne schody przy Escales del Carme. Miejscem obowiązkowym podczas
                            zwiedzania jest Plaça Espanya – główny plac na starówce oraz Casa Mir, perełka lokalnego
                            modernizmu i rezydencja rodzin kupieckich. Podczas wizyty w destylarni Xoriguer poznasz tajniki
                            produkcji oraz historię tutejszego klasycznego dżinu.
                            Wokół portu biegnie piękna promenada, na której liczni żonglerzy, akrobaci i performerzy
                            zabawiają turystów swoimi popisami. Wieczorami można obejrzeć pokazy taneczne oraz
                            ogniowe.</p><p class='balears__text'>
                            Odkryjesz tu tradycyjne hiszpańskie dania i spróbujesz regionalnych produktów – słynnego
                            majonezu czy lokalnego sera.</p>'
                        paragraphSecond='<p class='balears__text'>To kameralne miasteczko portowe na Minorce zlokalizowane na zachodnim wybrzeżu wyspy.
                            Perła starej architektury hiszpańskiej.</p><p class='balears__text'>
                            Możesz podziwiać tu zabytkowe pałace, muzea oraz kościoły. Jedną z najciekawszych budowli
                            jest gotycka katedra z XIII wieku wzniesiona na miejscu meczetu.</p><p class='balears__text'>
                            Port słynie z obchodzonego z rozmachem Festiwalu Świętojańskiego, Fiestas de Sant Joan,
                            którego głównym punktem są prezentacje koni miejscowej rasy.</p>'></balears-slider>
                    -->
    </div>
</template>
<script>
    import balearsHeader from "../elements/balearsHeader";
    import balearsComposition from './../elements/balearsComposition'
    import balearsSlider from './../elements/balearsSlider'
    import balearsColSecond from './../elements/balearsColSecond'

    export default {
        components: {
            balearsHeader,
            balearsComposition,
            balearsSlider,
            balearsColSecond
        }
    }
</script>