<template>
    <div class="lang">
        <div class="lang__row">
            <div class="lang__col">
                <div class="lang__span lang__span--pl"
                     :class="selectedLang === 'pl' ? 'lang__span--selected' : ''"
                     @click="changeLanguage('pl')"></div>
            </div>
            <div class="lang__col">
                <div class="lang__span lang__span--en"
                     :class="selectedLang === 'en' ? 'lang__span--selected' : ''"
                     @click="changeLanguage('en')"></div>
            </div>
            <div class="lang__col">
                <div class="lang__span lang__span--es"
                     :class="selectedLang === 'es' ? 'lang__span--selected' : ''"
                     @click="changeLanguage('es')"></div>
            </div>
            <div class="lang__col">
                <div class="lang__span lang__span--de"
                     :class="selectedLang === 'de' ? 'lang__span--selected' : ''"
                     @click="changeLanguage('de')"></div>
            </div>
        </div>
    </div>
</template>
<script>

    export default {
        data() {
            return {
                selectedLang: '',
            }
        },
        created() {
            console.log(this.$store.state.currentLanguage);

            if(this.$store.state.currentLanguage) {
                this.selectedLang = this.$store.state.currentLanguage;
            }
        },
        methods: {
            changeLanguage(lang) {
                this.$store.commit('changeLang', lang)
            }
        },
        computed: {
            lang() {
                return this.$store.state.currentLanguage
            }
        },
        watch: {
            lang(newVal, oldVal) {
                this.selectedLang = newVal;
            }
        }
    }
</script>