<template>
    <article class="office">
        <section class="office__row">
            <div class="office__col office__col--big office__col--poland"></div>
            <div class="office__col office__col--big office__col--poland--overlay"></div>
            <div class="office__col office__col--small">
                <div>
                    <h4 class="heading-tertiary heading-tertiary--dashed office__header">{{ 'Biuro Polska' | translate }}</h4>
                    <ul class="office__col-list">
                        <li>Al. Rzeczypospolitej 18/152</li>
                        <li>02-972 {{ 'Warszawa' | translate }}</li>
                        <li>+48 883 888 670</li>
                        <li>+48 664 059 905</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="office__row">
            <div class="office__col office__col--small office__col--bottom">
                <div>
                    <h4 class="heading-tertiary heading-tertiary--dashed heading-tertiary--dashed-right office__header">{{ 'Biuro Majorka' | translate }}</h4>
                    <ul class="office__col-list">
                        <li>Av. de Cala Llonga 2 local 1</li>
                        <li>07660 Illes Baleares, {{ 'Hiszpania' | translate }}</li>
                        <li>+34 629 549 409</li>
                        <li>+48 664 059 905</li>
                    </ul>
                </div>
            </div>
            <div class="office__col office__col--big office__col--mallorca--overlay"></div>
            <div class="office__col office__col--big office__col--mallorca"></div>
        </section>
    </article>
</template>