<template>
    <div class="footer__partners-background">
        <div class="footer__partners">
            <a href="https://naekranie.pl/" target="_blank">
                <img src="/partners/naekranie.png" class="footer__partners-icon">
            </a>
            <a href="http://www.digitalbeast.pl/" target="_blank">
                <img src="/partners/digital_east.png" class="footer__partners-icon">
            </a>
            <a href="http://balthazar.pl/" target="_blank">
                <img src="/partners/balthazar.jpg" class="footer__partners-icon">
            </a>
            <a href="https://two-house.com/" target="_blank">
                <img src="/partners/logo_small.png" class="footer__partners-icon">
            </a>
            <a href="https://4fun.tv/" target="_blank">
                <img src="/partners/4funtv.png" class="footer__partners-icon">
            </a>
        </div>
    </div>
</template>