<template>
    <article class="footer__social-row">
        <div class="footer__tripadvisor">
            <div class="footer__tripadvisor-header">
                {{ 'Obiekt polecany w' | translate }}:
                <a href="https://pl.tripadvisor.com/Attraction_Review-g580287-d12703710-Reviews-Active_Yacht_Club_by_Yates_d_Or-Cala_d_Or_Majorca_Balearic_Islands.html" target="_blank">
                    <img src="/icons/footer/trip-advisor.png" alt="TripAdvisor" />
                </a>
                <a href="https://pl.tripadvisor.com/UserReviewEdit-g580287-d12703710-Active_Yacht_Club_by_Yates_d_Or-Cala_d_Or_Majorca_Balearic_Islands.html" target="_blank">
                    <img src="/icons/footer/trip-advisor-button.png" />
                </a>
            </div>
        </div>
        <div class="footer__social">
            <a href="https://www.facebook.com/activeyachtclub/" target="_blank">
                <img src="/icons/fb-icon.png" alt="Facebook" />
            </a>
            <a href="https://www.instagram.com/activeyachtclub/?hl=pl" target="_blank">
                <img src="/icons/ig-icon.png" alt="Instagram" />
            </a>
            <p class="footer__text">
                <a href="https://www.facebook.com/activeyachtclub/" target="_blank" class="footer__social-link">{{ 'Polub nas na facebooku' | translate }}</a>
                <br><span> {{'i' | translate }}</span>
                <a href="https://www.instagram.com/activeyachtclub/?hl=pl" target="_blank" class="footer__social-link">{{ 'obserwuj na instagramie.' | translate }}</a>
            </p>
        </div>
    </article>
</template>