<template>
    <div class="footer__tripadvisor">
        <div class="footer__tripadvisor-header">
            Obiekt polecany w
            <img src="..//icons/footer/trip-advisor.png" alt="TripAdvisor" />
        </div>
        <div class="footer__tripadvisor-body">
            <a href="https://pl.tripadvisor.com/Attraction_Review-g580287-d12703710-Reviews-Active_Yacht_Club_by_Yates_d_Or-Cala_d_Or_Majorca_Balearic_Islands.html" target="_blank">
                Active Yacht Club by Yates d'Or
            </a>
            <a href="">
                <img src="..//icons/footer/trip-advisor-button.png" />
            </a>
        </div>
    </div>
</template>
<script>

</script>