<template>
    <div class="fleet">
        <div>
            <fleet-default></fleet-default>
        </div>
    </div>
</template>
<script>
    import fleetDefault from './fleetSecond/fleetSecond'

    export default {
        components: {
            fleetDefault
        }
    }
</script>