<template>
    <section class="row about__destinations">
        <div class="col-8">
            <div class="about__destinations-image-left">
                <div class="about__destinations-body">
                    <div class="about__destinations-body-inner">
                        <div class="about__intro-header">
                            <h3 v-if="mallorca" class="heading-tertiary heading-tertiary--dashed about__intro-heading">Majorka</h3>
                            <h3 v-if="minorka" class="heading-tertiary heading-tertiary--dashed about__intro-heading">Minorka</h3>
                            <h3 v-if="ibiza" class="heading-tertiary heading-tertiary--dashed about__intro-heading">Ibiza</h3>
                        </div>
                        <p v-if="mallorca">
                            Majorka to największa z pięciu wysp archipelagu Balearów, położona jest kilkadziesiąt mil na południe od wybrzeża Hiszpanii. Wyróżnia się piękną
                            rzeźbą terenu i zróżnicowanym krajobrazem. Turystów przyciągają jej długie, piaszczyste plaże, błękitne laguny, palmy oraz ciepłe morze.
                            Urokliwe miasta zachwycają lokalną architekturą, jak stolica Palma
                            de Mallorca czy Valldemossa, gdzie można poznać historię losów Fryderyka Chopina.
                        </p>
                        <p v-if="minorka">
                            Szmaragdowe zatoki, dzikie plaże, megalityczne budowle i brak tłumów. Oto hiszpańska Minorka – najspokojniejsza wyspa Morza
                            Śródziemnego i jeden z ostatnich rajskich zakątków Europy. Wyspa toczy życie kompletnie odmienne od imprezowo-turystycznych kombinatów reszty Balearów. Przez cały sezon przyjeżdża tu tylu
                            turystów, co w wakacyjny tydzień na pobliską Majorkę. Oczywiście nie dlatego, że nie warto, po prostu na Minorce przyroda jest ważniejsza
                            niż masowa turystyka.
                        </p>
                        <p v-if="ibiza">
                            Symbol szaleństwa i długich hiszpańskich nocy. Mekka fanów muzyki tanecznej oraz najsłynniejszych DJ-ów z całego świata. Regularnie rezydują tu David Guetta,
                            Tiesto, Armin Van Buuren, Skrillex czy Steve Aoki. Poznaj najpopularniejsze kluby z rankingu Billboard: Amnesia, DC-10, Destino, Es Paradise, Eden, Heart, Space
                            lub Ushuaia.
                            W ciągu dnia odkryjesz tu panującą od lat hipisowską atmosferę i poczujesz prawdziwego ducha wolności na słynnym Hippie Market.
                        </p>

                        <div class="about__intro-button">
                            <router-link to="/mallorca" v-if="mallorca">
                                <span>Więcej o wyspie &rarr;</span>
                            </router-link>
                            <router-link to="/minorka" v-if="minorka">
                                <span>Więcej o wyspie &rarr;</span>
                            </router-link>
                            <router-link to="/ibiza" v-if="ibiza">
                                <span>Więcej o wyspie &rarr;</span>
                            </router-link>
                        </div>
                    </div>

                </div>
            </div>
            <div class="about__destinations-overlay-left"></div>
        </div>
        <div class="about__destinations-balears">
            <div class="about__destinations-image-right--minorka" @click="setIsland('minorka')"></div>
            <div class="about__destinations-image-right--mallorca" @click="setIsland('mallorca')"></div>
            <div class="about__destinations-image-right--ibiza" @click="setIsland('ibiza')"></div>
            <transition name="fade">
                <div v-if="mallorca" class="about__destinations-overlay-right about__destinations-overlay-right--mallorca"></div>
            </transition>
            <transition name="fade">
                <div v-if="minorka" class="about__destinations-overlay-right about__destinations-overlay-right--minorka"></div>
            </transition>
            <transition name="fade">
                <div v-if="ibiza" class="about__destinations-overlay-right about__destinations-overlay-right--ibiza"></div>
            </transition>
        </div>
    </section>
</template>
<script>
    export default {
        data() {
            return {
                mallorca: true,
                ibiza: false,
                minorka: false
            }
        },
        methods: {
            setIsland(island) {
                if(island === 'mallorca') {
                    this.mallorca = true;
                    this.ibiza = false;
                    this.minorka = false;
                }
                if(island === 'minorka') {
                    this.mallorca = false;
                    this.ibiza = false;
                    this.minorka = true;
                }
                if(island === 'ibiza') {
                    this.mallorca = false;
                    this.ibiza = true;
                    this.minorka = false;
                }

            }
        }
    }
</script>