<template>
    <section class="row about__poland">
        <div class="col-8" style="position: relative">
            <div class="about__poland-overlay"></div>
            <transition name="fade" mode="out-in">
                <img :src="currentImage" :key="currentImage" alt="Biuro w polsce - zdjęcie" class="img-fluid about__image">
            </transition>
            <div class="about__intro">
                <div class="about__intro-inner">
                    <div class="about__intro-header">
                        <h3 class="heading-tertiary heading-tertiary--dashed about__intro-heading">
                            Nasze biura
                        </h3>
                    </div>
                    <div class="about__intro-body">
                        <div>
                            <h4 class="heading-quaternary">Polska</h4>
                            <ul class="about__intro-list">
                                <li>Al. Rzeczypospolitej 18/152</li>
                                <li>02-972 Warszawa</li>
                                <li>+48 664 059 905</li>
                            </ul>
                        </div>
                        <div>
                            <h4 class="heading-quaternary">Majorka</h4>
                            <ul class="about__intro-list">
                                <li>Aleja Rzeczypospolitej 18/152</li>
                                <li>02-972 Warszawa</li>
                                <li>+48 664 059 905</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="about__thumbnails-box">
                <div class="about__thumbnail about__thumbnail--1" @mouseover="setImage(1)"></div>
                <div class="about__thumbnail about__thumbnail--2" @mouseover="setImage(2)"></div>
                <div class="about__thumbnail about__thumbnail--3" @mouseover="setImage(3)"></div>
            </div>
        </div>
        <div class="col-4">
            <h3 class="heading-tertiary about__heading-secondary">
                Kilka słów o nas
            </h3>
            <p class="about__text">
                Firma Active Yacht Club powstała z miłości do luksusowych łodzi motorowych,<br>
                <span class="about__text-line about__text-line--1">
                    sportów wodnych i niezwykłej wyspy jaką jest Majorka. Zebraliśmy dynamiczny
                </span>
                <span class="about__text-line about__text-line--2">
                     zespół doświadczonych ludzi aby dostarczać klientom najwyższej jakości
                </span>
                <span class="about__text-line about__text-line--3">
                    usługi i produkty dostosowane do ich potrzeb i wymagań. Dbamy o każdy
                </span>
                <span class="about__text-line about__text-line--4">
                    najdrobniejszy szczegół wymarzonych wakacji na morzu i na lądzie.
                </span>
            </p>
        </div>
    </section>
</template>
<script>
    export default {
        data() {
            return {
                currentImage: 'https://res.cloudinary.com/dlqvkenro/image/upload/v1541431721/ayc_panorama.png',
                firstThumb: 'https://res.cloudinary.com/dlqvkenro/image/upload/v1541431935/thumb1.jpg',
                secThumb: 'https://res.cloudinary.com/dlqvkenro/image/upload/v1541431935/thumb2.jpg',
                thirdThumb: 'https://res.cloudinary.com/dlqvkenro/image/upload/v1541431935/thumb3.jpg'
            }
        },
        methods: {
            setImage(which) {
                if(which === 1) {
                    this.currentImage = this.firstThumb;
                }
                if(which === 2) {
                    this.currentImage = this.secThumb;
                }
                if(which === 3) {
                    this.currentImage = this.thirdThumb;
                }
            }
        }
    }
</script>