<template>
    <section class="second-fleet__slider-container second-fleet__slider-container--fluid">
        <vue-flux
            class="second-fleet__slider"
            style="height: 90vh; margin-bottom: 8vh;"
            :options="fluxOptions"
            :images="images"
            :transitions="fluxTransitions"
            fullscreen="false"
            ref="slider">
            <flux-pagination slot="pagination"></flux-pagination>
        </vue-flux>
        <div class="second-fleet__header second-fleet__header--sec">
            <div class="second-fleet__header-inner">
                <div class="second-fleet__icon"
                     :class="[
                        header === 'Monte Carlo 5' ? 'second-fleet__icon--mc' : '',
                        header === 'Monte Carlo 4' ? 'second-fleet__icon--mc' : '',
                        header === 'Azimut Magellano 43' ? 'second-fleet__icon--azimut' : '',
                        header === 'Cranchi M 44 HT' ? 'second-fleet__icon--cranchi' : '',
                        header === 'Catamaran Lagoon 420' ? 'second-fleet__icon--catamaran' : '',
                    ]"></div>
                <h4 class="heading-tertiary about__intro-heading">{{ header }}</h4>
                <p class="second-fleet__header-text">{{ paragraph | translate }}</p>
                <router-link :to="link">
                    <div class="second-fleet__button">
                        <span class="second-fleet__button-image"></span>
                        <span class="second-fleet__button-text"> {{ 'Dowiedz się więcej' | translate }} </span>
                    </div>
                </router-link>
            </div>
        </div>
    </section>
</template>
<script>
    import { VueFlux, Transitions, FluxPagination } from 'vue-flux';
    ////import { eventBus } from "../../../helpers/eventBus";

    export default {
        data() {
            return {
                fluxOptions: {
                    autoplay: true,
                    delay: 10000,
                },
                fluxTransitions: {
                    transitionFade: Transitions.transitionFade,
                    transitionSwipe: Transitions.transitionSwipe
                }
            }
        },
        components: {
            VueFlux,
            FluxPagination
        },
        props: ['images', 'header', 'paragraph', 'link'],
        created() {
            this.$nuxt.$on('resize::slider', () => {
                this.$refs.slider.resize();
            });
        }
    }
</script>
