<template>
    <div class="offer">
        <app-logo></app-logo>
        <header-sports></header-sports>
        <col-sports align="left"
                    header="Skutery wodne"
                    image="https://res.cloudinary.com/dlqvkenro/image/upload/v1547816227/seedoolast.jpg"
                    paragraph="Szaleństwo i niezapomniana przygoda na wodzie. Duża prędkość, wiatr we włosach i kadłub przecinający fale to gwarancja wyśmienitej zabawy. Skuter Sea Doo to idealne rozwiązanie do zabawy na wodzie dla całej rodziny. Szybki i komfortowy, zapewni niezapomniane doznania."></col-sports>
        <col-sports align="right"
                    header="Sea Bob"
                    image="https://res.cloudinary.com/dlqvkenro/image/upload/v1547131550/Seabob_F_5.jpg"
                    paragraph="Rewolucyjne urządzenie, którym popływasz zarówno w wodzie jak i pod nią. Pływanie Sebobem jest niezwykle proste i nie wymaga posiadania żadnych uprawnień. Napędzany jest silnikiem elektrycznym, który umożliwia poruszanie się z prędkością 20km/h."></col-sports>
        <other-yachts header="Zobacz nasze jachty"></other-yachts>
    </div>
</template>
<script>
    import headerSports from './elements/headerSports';
    import colSports from './elements/colSports';
    //import { eventBus } from "../../../helpers/eventBus";

    export default {
        components: {
            headerSports,
            colSports
        }
    }
</script>