<template>
    <div class="offer">
        <car-header></car-header>
        <car-slider></car-slider>
        <other-yachts header="Zobacz nasze jachty"></other-yachts>
    </div>
</template>
<script>
    import carHeader from './elements/carHeader'
    import carSlider from './elements/carSlider'

    export default {
        components: {
            carHeader,
            carSlider
        }
    }
</script>