<template>
    <router-link :to="link"
                 tag="div"
                 class="third-services__row"
                 :class="row === '2' ? 'third-services__row--middle' : ''">
        <div class="third-services__col third-services__col--text"
             :class="[ align === 'left' ? 'third-services__col--order-1' : 'third-services__col--order-2',
                       row === '1' || row === '3' ? 'third-services__col--text-left' : '']">
            <router-link :to="link">
                <h4 class="third-services__header heading-tertiary heading-tertiary--dashed"
                    :class="row === '1' || row === '3' ? 'heading-tertiary--dashed-right' : ''">{{ header | translate }}</h4>
            </router-link>
            <p class="third-services__text"> {{ paragraph | translate }}... </p>
        </div>
        <div class="third-services__col third-services__col--image"
             :class="align === 'right' ? 'third-services__col--order-1' : 'third-services__col--order-2'">
            <router-link :to="link">
                <div class="third-services__image"
                     :style="{ backgroundImage: `url(${image})`}"></div>
            </router-link>
            <div class="third-services__image third-services__image-overlay"
                 :class="align === 'right' ? 'third-services__col--order-1' : 'third-services__col--order-2'"></div>
        </div>
    </router-link>
</template>
<script>
    export default {
        props:['align', 'header', 'image', 'paragraph', 'row', 'link']
    }
</script>