<template>
    <div class="second-service">
        <div class="second-service__row second-service__row--1">
            <service-col row="1"
                         place="left"
                         header="Majorka"
                         image="https://res.cloudinary.com/dlqvkenro/image/upload/v1542115098/mallorca.jpg"
                         paragraph="Majorka to największa z pięciu wysp archipelagu Balearów..."
                         link="/mallorca"></service-col>
            <service-col row="1"
                         place="right"
                         header="Sporty wodne"
                         image="https://res.cloudinary.com/dlqvkenro/image/upload/v1542135289/sports.jpg"
                         paragraph="Propozycja dla osób poszukujących adrenaliny <br>i prędkości..."
                         link="/sports"></service-col>
        </div>
        <div class="second-service__row">
            <service-col row="2"
                         place="left"
                         header="Ibiza"
                         image="https://res.cloudinary.com/dlqvkenro/image/upload/v1542125749/ibiza.jpg"
                         paragraph="Symbol szaleństwa i długich hiszpańskich nocy..."
                         link="/ibiza"></service-col>
            <service-col row="2"
                         place="right"
                         header="Samochody"
                         image="https://res.cloudinary.com/dlqvkenro/image/upload/v1542127996/car.jpg"
                         paragraph="Wygodne samochody zapewnią komfort podczas podróży wgłąb wyspy..."
                         link="/cars"></service-col>
        </div>
        <div class="second-service__row second-service__row--3">
            <service-col row="3"
                         place="left"
                         header="Minorka"
                         image="https://res.cloudinary.com/dlqvkenro/image/upload/v1542668562/assas.jpg"
                         paragraph="Szmaragdowe zatoki, dzikie plaże, megalityczne budowle i brak tłumów..."
                         link="/minorka"></service-col>
            <service-col row="3"
                         place="right"
                         header="Oferta specjalna"
                         image="https://res.cloudinary.com/dlqvkenro/image/upload/v1545062303/szmapannn.jpg"
                         paragraph="Zaręczyny, podróż poślubna, weekend panieński, sesje ślubne na jachcie..."
                         link="/special"></service-col>
        </div>
    </div>
</template>
<script>
    import serviceCol from './elements/secondServicesCol';

    export default {
        components: {
            serviceCol
        }
    }
</script>