<template>
    <section>
        <yachts order="1"
                nameFirst="Monte Carlo 5"
                nameSecond="Monte Carlo 4"
                thumbnailFirst="https://res.cloudinary.com/dlqvkenro/image/upload/v1541687288/min.jpg"
                thumbnailSecond="https://res.cloudinary.com/dlqvkenro/image/upload/v1541669139/MONTE_CARLO_4.jpg"
                :imagesFirst="[
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543076828/mc5featured3.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543076828/mc5featured2.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543076827/mc5featured1.jpg'
                    ]"
                :imagesSecond="[
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543321432/mc4featured1.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543321439/mc4featured2.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543321441/mc4featured3.jpg'
                    ]"
                id="yachts"></yachts>
        <yachts order="2"
                nameFirst="Cranchi M 44 HT"
                nameSecond="Monte Carlo 5"
                thumbnailFirst="https://res.cloudinary.com/dlqvkenro/image/upload/v1541691607/CRANCHI_M_44_HT.jpg"
                thumbnailSecond="https://res.cloudinary.com/dlqvkenro/image/upload/v1541691129/gmr_mc4_1063.jpg"
                :imagesFirst="[
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543077031/m43featured1.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543077031/m43featured2.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543077031/m43featured3.jpg'
                    ]"
                :imagesSecond="[
                        'http://activeyachtclub.com/files/cache/597_75c5807dc089ee3c1b617bf563cc6846.jpg',
                        'http://activeyachtclub.com/files/cache/602_4fcc7eb5c46255ffc0bec0201aff66b0.jpg',
                        'http://activeyachtclub.com/files/cache/599_827dc750f3811700cd932a6f19bb8120.jpg'
                    ]"></yachts>
        <catamaran></catamaran>
    </section>
</template>
<script>
    import yachts from './yachts/yachts'
    import catamaran from './yachts/catamaran'

    export default {
        components: {
            yachts,
            catamaran
        }
    }
</script>