<template>
    <header class="yacht__header">
        <div class="yacht__slider-overlay">
            <div class="yacht__slider">
                <app-logo></app-logo>
                <vue-flux
                    id="mainSlider"
                    :options="fluxOptions"
                    :images="fluxImages"
                    :transitions="fluxTransitions"
                    fullscreen="false"
                    ref="slider">
                </vue-flux>
                <div class="yacht__slider-button">
                    <a class="button button-primary"
                            href="#gallery" v-smooth-scroll="{ duration: 500, offset: -60 }">
                        {{ 'Więcej zdjęć' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </header>
</template>
<script>
    import { VueFlux, Transitions } from 'vue-flux';
    ////import { eventBus } from "../../../helpers/eventBus";

    export default {
        components: {
            VueFlux
        },
        data () {
            return {
                collapseBool: false,
                fluxOptions: {
                    autoplay: true,
                    delay: 10000,
                },
                fluxImages: [],
                fluxTransitions: {
                    transitionFade: Transitions.transitionFade
                }
            };
        },
        created() {
            this.$nuxt.$on('resize::slider', () => {
                console.log('resize');
                this.$refs.slider.resize();
            });

            let _return = false;
            if(this.images) {
                console.log(this.images);
                this.fluxImages = this.images.split(',');
                _return = true;
            }
            //if(_return) return;

            this.$nuxt.$on('loadedYacht', (data) => {
                this.fluxImages = data.images_featured.split(',');
                console.log('assigned new featured images', this.fluxImages);
            });
        },
        props:['images']
    }
</script>