<template>
    <div class="yacht__gallery" id="gallery">
        <div class="row yacht__row">
            <vue-gallery :images="imagesArr" :index="index" @close="index = null"></vue-gallery>
            <div v-for="(n, key) in imagesArr" 
                 :key="key" 
                 :class="key % 5 === 0 || key % 5 === 1 ? 'yacht__image-container--big' : 'yacht__image-container--small'"
                 class="yacht__image-container"
                 @click="index = key">

                <div :style="{ backgroundImage: `url(${n})`}"
                     :class="key % 5 === 0 || key % 5 === 1 ? 'yacht__image--big' : 'yacht__image--small'"
                     class="yacht__image"></div>
            </div>
        </div>
    </div>
</template>
<script>
    ////import { eventBus } from "../../../helpers/eventBus";
    import VueGallery from 'vue-gallery';

    export default {
        data() {
            return {
                imagesArr:[],
                index: null
            }
        },
        created() {
            let _return = false;
            if(this.images) {
                this.imagesArr = this.images.split(',');
                _return = true;
                //console.log(this.fluxImages);
            }
            if(_return) return;
            this.$nuxt.$on('loadedYacht', (data) => {
                this.imagesArr = data.images.split(',');
                //console.log(this.imagesArr);
            });
            //console.log(this.imagesArr);
        },
        props:['images'],
        components: {
            VueGallery
        }
    }
</script>