<template>
    <div class="yacht__main-info">
        <template v-if="!contact">
            <div class="">
                <header>
                    <h2 class="heading-secondary yacht__heading-primary"> {{ name }}</h2>
                    <p class="yacht__description">
                        {{ description | translate }}
                    </p>
                    <p class="yacht__description">
                        {{ 'Skontaktuj się z nami, aby uzyskać więcej informacji o tym jachcie i jego dostępności w wybranym terminie.' | translate }}
                    </p>
                </header>
                <div class="yacht__small-specification">
                    <div class="yacht__small-specification-col">
                        <img src="/icons/icon-length.png" alt="Length">
                        <span class="yacht__small-specification-text">{{ length }}m</span>
                    </div>
                    <div class="yacht__small-specification-col">
                        <img src="/icons/icon-person.png" alt="Length">
                        <span class="yacht__small-specification-text">max {{ person }}</span>
                    </div>
                    <div class="yacht__small-specification-col">
                        <img src="/icons/icon-bed.png" alt="Length">
                        <span class="yacht__small-specification-text">{{ bed }}</span>
                    </div>
                </div>
                <div class="yacht__throw" v-if="imagesThrow.length > 1">
                     <carousel ref="carousel"
                              :perPage="1"
                              :autoplay="false"
                              :autoplayTimeout="3000"
                              :loop="true"
                              :paginationEnabled="true"
                              :paginationActiveColor="'#333'"
                              :paginationColor="'#d8d8d8'"
                              :scrollPerPage="false">
                        <slide v-for="n in imagesThrow" :key="n">
                            <img :src="n" alt="Rzut" class="img-fluid" />
                        </slide>
                    </carousel>
                </div>
            </div>
        </template>
        <template v-if="contact">
            <contact header="Spytaj o ten jacht"></contact>
        </template>
    </div>

</template>
<script>
    ////import { eventBus } from "../../../helpers/eventBus";
    import { Carousel, Slide } from 'vue-carousel';

    export default {
        data() {
            return {
                contact: false,
                imagesThrow: []
            }
        },
        created() {
            this.$nuxt.$on('loadedYacht', (data) => {
                this.imagesThrow = data.images_throw.split(',');
                console.log('from event', this.imagesThrow);
            });
        },
        mounted() {
            this.$nuxt.$on('resize::slider', () => {
                this.$refs['carousel'].onResize();
                this.$refs['carousel'].goToPage(0);
            });
        },
        props:['name', 'description', 'length', 'person', 'bed', 'throws'],
        components: {
            Carousel,
            Slide
        }
    }
</script>