<template>
    <div class="yacht__specification">
        <div class="yacht__specification-header">
            <h3 class="heading-tertiary heading-tertiary--dashed" @click="show = !show">{{ 'Pokaż specyfikację techniczną' | translate }}</h3>
            <span class="arrow" @click="show = !show">
                <span :class="show ? 'arrow__up' : 'arrow__down'"></span>
            </span>
        </div>
        <div class="yacht__specification-body"
             :class="show ? 'yacht__specification--collapsed' : 'yacht__specification--not-collapsed'">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <table class="yacht__table table table-striped table-hover">
                        <tbody>
                        <tr>
                            <td class="yacht__table-bold">{{ 'Długość całkowita' | translate }}</td>
                            <td class="text-center">{{ data.length_total }}m</td>
                        </tr>
                        <tr>
                            <td class="yacht__table-bold">{{ 'Długość kadłuba' | translate }}</td>
                            <td class="text-center">{{ data.length_body }}m</td>
                        </tr>
                        <tr>
                            <td class="yacht__table-bold">{{ 'Szerokość' | translate }}</td>
                            <td class="text-center">{{ data.width }}m</td>
                        </tr>
                        <tr>
                            <td class="yacht__table-bold">{{ 'Wyporność' | translate }}</td>
                            <td class="text-center">{{ data.displacement }}</td>
                        </tr>
                        <tr>
                            <td class="yacht__table-bold">{{ 'Silniki' | translate }}</td>
                            <td class="text-center">{{ data.engines }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-sm-6">
                    <table class="yacht__table table table-striped table-hover">
                        <tbody>
                        <tr>
                            <td class="yacht__table-bold">{{ 'Pojemność zbiornika paliwa' | translate }}</td>
                            <td class="text-center">{{ data.fuel_capacity }}</td>
                        </tr>
                        <tr>
                            <td class="yacht__table-bold">{{ 'Kabiny' | translate }}</td>
                            <td class="text-center">{{ data.cabs | translate }}</td>
                        </tr>
                        <tr>
                            <td class="yacht__table-bold">{{ 'Ilość miejsc do spania' | translate }}</td>
                            <td class="text-center">{{ data.bedrooms }}</td>
                        </tr>
                        <tr>
                            <td class="yacht__table-bold">{{ 'Toalety' | translate }}</td>
                            <td class="text-center">{{ data.toilets }}</td>
                        </tr>
                        <tr>
                            <td class="yacht__table-bold">{{ 'Maksymalna ilość osób na łodzi z załogą' | translate }}</td>
                            <td class="text-center">{{ data.max_people }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props:['data'],
        data() {
            return {
                show: false
            }
        }
    }
</script>