<template>
    <header class="yacht__header">
        <div class="yacht__slider-overlay">
            <slider></slider>
        </div>
    </header>
</template>
<script>
    import slider from './featuredSlider';

    export default {
        components: {
            slider
        }
    }
</script>