<template>
    <div class="services__col">
        <div class="services__col-inner services__col--order-1">
            <div class="services__col-overlay"
                 :class="[
                        row === '1' ? 'services__col-overlay--first' : '',
                        row === '2' ? 'services__col-overlay--second' : '',
                        row === '3' ? 'services__col-overlay--third' : '',
                 ]"></div>
            <router-link :to="link">
                <div class="services__col-image"
                     :style="{ backgroundImage: `url(${image})`}"
                     :class="[
                        row === '1' ? 'services__col-image--first' : '',
                        row === '2' ? 'services__col-image--second' : '',
                        row === '3' ? 'services__col-image--third' : '',
                     ]"></div>
            </router-link>
        </div>
        <div class="services__col-info"
             :class="[
                row === '2' ? 'services__col--order-1' : 'services__col--order-2',
                row === '1' ? 'services__col-info--1' : '',
                row === '2' ? 'services__col-info--2' : '',
                row === '3' ? 'services__col-info--3' : ''
             ]">
            <router-link :to="link">
                <h3 class="heading-tertiary heading-tertiary--dashed"> {{ header }} </h3>
            </router-link>
            <p class="services__col-text"> {{ paragraph }} </p>
        </div>
    </div>
</template>
<script>
export default {
    props:['image', 'place', 'link', 'row', 'header', 'paragraph']
}
</script>