<template>
    <article class="destinations">
        <div class="destinations__container">
            <div class="destinations__left">
                <h3 class="heading-secondary destinations__heading">Majorka, minorka, ibiza</h3>
                <p class="destinations__text-small">Wybierz wyspę i dowiedz się więcej!</p>
                <div class="destinations__switch">
                    <div class="destinations__switch-col destinations__switch-col--1"
                         :class="minorka.active ? 'destinations__switch-col--selected' : ''"
                         @click="switchIsland('minorka')">
                        <span> Minorka </span>
                    </div>
                    <div class="destinations__switch-col destinations__switch-col--2"
                         :class="mallorca.active ? 'destinations__switch-col--selected' : ''"
                         @click="switchIsland('mallorca')">
                        <span> Majorka </span>
                    </div>
                    <div class="destinations__switch-col destinations__switch-col--3"
                         :class="ibiza.active ? 'destinations__switch-col--selected' : ''"
                         @click="switchIsland('ibiza')">
                        <span> Ibiza </span>
                    </div>
                </div>
                <div class="destinations__islands">
                    <div class="destinations__islands-minorka"
                         @click="switchIsland('minorka')"></div>
                    <div class="destinations__islands-mallorca"
                         @click="switchIsland('mallorca')"></div>
                    <div class="destinations__islands-ibiza"
                         @click="switchIsland('ibiza')"></div>
                </div>
            </div>
            <div class="destinations__right">
                <card :header="currentHeader"
                      :paragraph="currentParagraph"
                      :image="currentImage"
                      :link="currentLink"></card>
            </div>
        </div>

    </article>
</template>
<script>
    import card from './elements/card'

    export default {
        data() {
            return {
                currentHeader: '',
                currentParagraph: '',
                currentLink: '',
                currentImage: '',

                minorka: {
                    active: false,
                    header: 'Minorka',
                    paragraph: 'Szmaragdowe zatoki, dzikie plaże i brak tłumów. Oto hiszpańska Minorka – najspokojniejsza wyspa Morza Śródziemnego i jeden z ostatnich rajskich zakątków Europy. Wyspa toczy życie kompletnie odmienne od imprezowo-turystycznych kombinatów reszty Balearów.',
                    image: 'https://res.cloudinary.com/dlqvkenro/image/upload/v1542668562/assas.jpg',
                    link: '/minorka'
                },
                mallorca: {
                    active: true,
                    header: 'Majorka',
                    paragraph: 'Majorka to największa z pięciu wysp archipelagu Balearów, położona jest kilkadziesiąt mil na południe od wybrzeża Hiszpanii. Wyróżnia się piękną rzeźbą terenu i zróżnicowanym krajobrazem. Turystów przyciągają jej długie, piaszczyste plaże oraz ciepłe morze.',
                    image: 'https://res.cloudinary.com/dlqvkenro/image/upload/v1542115098/mallorca.jpg',
                    link: '/mallorca'
                },
                ibiza: {
                    active: false,
                    header: 'Ibiza',
                    paragraph: 'Symbol szaleństwa i długich hiszpańskich nocy. Mekka fanów muzyki tanecznej oraz najsłynniejszych DJ-ów <br>z całego świata. Regularnie rezydują tu David Guetta, Tiesto, Armin Van Buuren, Skrillex czy Steve Aoki. Poznaj najpopularniejsze kluby z rankingu Billboard.',
                    image: 'https://res.cloudinary.com/dlqvkenro/image/upload/v1542125749/ibiza.jpg',
                    link: '/ibiza'
                }
            }
        },
        methods: {
            switchIsland(island) {
                if(island === 'mallorca') {
                    this.mallorca.active = true;
                    this.minorka.active = false;
                    this.ibiza.active = false;

                    this.currentImage = this.mallorca.image;
                    this.currentParagraph = this.mallorca.paragraph;
                    this.currentLink = this.mallorca.link;
                    this.currentHeader = this.mallorca.header;
                }
                if(island === 'minorka') {
                    this.mallorca.active = false;
                    this.minorka.active = true;
                    this.ibiza.active = false;

                    this.currentImage = this.minorka.image;
                    this.currentParagraph = this.minorka.paragraph;
                    this.currentLink = this.minorka.link;
                    this.currentHeader = this.minorka.header;
                }
                if(island === 'ibiza') {
                    this.mallorca.active = false;
                    this.minorka.active = false;
                    this.ibiza.active = true;

                    this.currentImage = this.ibiza.image;
                    this.currentParagraph = this.ibiza.paragraph;
                    this.currentLink = this.ibiza.link;
                    this.currentHeader = this.ibiza.header;
                }
            }
        },
        created() {
            this.currentImage = this.mallorca.image;
            this.currentParagraph = this.mallorca.paragraph;
            this.currentLink = this.mallorca.link;
            this.currentHeader = this.mallorca.header;
        },
        components: {
            card
        }
    }
</script>