<template>
    <article class="destinations">
        <div class="destinations__container">
            <div class="destinations__left">
                <img src="/mapabalery.png" usemap="#image-map" class="destinations__map">

                <map name="image-map">
                    <router-link to="/ibiza">
                        <area target="" alt="Ibiza" title="Ibiza" coords="36,381,197,531" shape="rect" @prevent.default="">
                    </router-link>
                    <router-link to="/formentera">
                        <area target="" alt="Formentera" title="Formentera" coords="91,541,209,613" shape="rect" @prevent.default="">
                    </router-link>
                    <router-link to="/mallorca">
                        <area target="" alt="Mallorca" title="Mallorca" coords="117,277,403,60,566,198,418,446" shape="poly" @prevent.default="">
                    </router-link>
                    <router-link to="/minorka">
                        <area target="" alt="Minorka" title="Minorka" coords="558,124,551,44,706,28,761,171,719,175" shape="poly" @prevent.default="">
                    </router-link>
                    <router-link to="/cabrera">
                        <area target="" alt="Cabrera" title="Cabrera" coords="247,439,342,495" shape="rect" @prevent.default="">
                    </router-link>
                </map>
            </div>
            <div class="destinations__right">
                <div class="text-right">
                    <h2 class="heading-secondary heading-secondary--no-shadow heading-tertiary--dashed heading-tertiary--dashed-right">{{ 'Baleary' | translate }}</h2>
                </div>
                <div class="destinations__switch">
                    <div class="destinations__switch-col destinations__switch-col--1"
                         :class="minorka.active ? 'destinations__switch-col--selected' : ''"
                         @click="switchIsland('minorka')">
                        <span> {{ 'Minorka' | translate }} </span>
                    </div>
                    <div class="destinations__switch-col destinations__switch-col--2"
                         :class="mallorca.active ? 'destinations__switch-col--selected' : ''"
                         @click="switchIsland('mallorca')">
                        <span> {{ 'Majorka' | translate }} </span>
                    </div>
                    <div class="destinations__switch-col destinations__switch-col--2"
                         :class="cabrera.active ? 'destinations__switch-col--selected' : ''"
                         @click="switchIsland('cabrera')">
                        <span> Cabrera </span>
                    </div>
                    <div class="destinations__switch-col destinations__switch-col--2"
                         :class="formentera.active ? 'destinations__switch-col--selected' : ''"
                         @click="switchIsland('formentera')">
                        <span> Formentera </span>
                    </div>
                    <div class="destinations__switch-col destinations__switch-col--3"
                         :class="ibiza.active ? 'destinations__switch-col--selected' : ''"
                         @click="switchIsland('ibiza')">
                        <span> Ibiza </span>
                    </div>
                </div>
                <card :header="currentHeader"
                      :paragraph="currentParagraph"
                      :image="currentImage"
                      :link="currentLink"></card>
            </div>
        </div>
    </article>
</template>
<script>
    import card from './elements/card'

    export default {
        data() {
            return {
                currentHeader: '',
                currentParagraph: '',
                currentLink: '',
                currentImage: '',

                minorka: {
                    active: false,
                    header: 'Minorka',
                    paragraph: 'Szmaragdowe zatoki, dzikie plaże, megalityczne budowle i brak tłumów. Oto hiszpańska Minorka – najspokojniejsza wyspa Morza Śródziemnego i jeden z ostatnich rajskich zakątków Europy. Wyspa toczy życie kompletnie odmienne od imprezowo-turystycznych kombinatów reszty Balearów.',
                    image: 'https://res.cloudinary.com/dlqvkenro/image/upload/v1542668562/assas.jpg',
                    link: '/minorka'
                },
                mallorca: {
                    active: true,
                    header: 'Majorka',
                    paragraph: 'Majorka to największa z pięciu wysp archipelagu Balearów położona kilkadziesiąt mil na południe od wybrzeża Hiszpanii. Wyróżnia się piękną rzeźbą i zróżnicowanym krajobrazem. Turystów przyciągają jej długie, piaszczyste plaże oraz ciepłe morze.',
                    image: 'https://res.cloudinary.com/dlqvkenro/image/upload/v1542115098/mallorca.jpg',
                    link: '/mallorca'
                },
                ibiza: {
                    active: false,
                    header: 'Ibiza',
                    paragraph: 'Symbol szaleństwa i długich hiszpańskich nocy. Mekka fanów muzyki tanecznej oraz najsłynniejszych DJ-ów z całego świata. Regularnie rezydują tu David Guetta, Tiesto, Armin Van Buuren, Skrillex czy Steve Aoki. Poznaj najpopularniejsze kluby z rankingu Billboard',
                    image: 'https://res.cloudinary.com/dlqvkenro/image/upload/v1542125749/ibiza.jpg',
                    link: '/ibiza'
                },
                formentera: {
                    active: false,
                    header: 'Formentera',
                    paragraph: 'Nazywana często „ostatnim śródziemnomorskim rajem”. Odwiedź ją i przekonaj się, że nie ma w tych słowach ani grama przesady. Ogromne plaże z białym, miękkim piaskiem oraz turkusowa woda przypominają krajobrazem Karaiby czy Malediwy.',
                    image: 'https://res.cloudinary.com/dlqvkenro/image/upload/v1546948576/shutterstock_209064655.jpg',
                    link: '/formentera'
                },
                cabrera: {
                    active: false,
                    header: 'Cabrera',
                    paragraph: 'To najmniejsza wyspa archipelagu ulokowana 10 km na południe od Majorki. Z uwagi na ukształtowanie terenu oraz bajeczną roślinność od 1991 roku jest parkiem narodowym, który można zwiedzać przez cały rok.',
                    image: 'https://res.cloudinary.com/dlqvkenro/image/upload/v1547004651/cabreraimg.jpg',
                    link: '/cabrera'
                }
            }
        },
        methods: {
            switchIsland(island) {
                if(island === 'mallorca') {
                    this.mallorca.active = true;
                    this.minorka.active = false;
                    this.ibiza.active = false;
                    this.formentera.active = false;
                    this.cabrera.active = false;

                    this.currentImage = this.mallorca.image;
                    this.currentParagraph = this.mallorca.paragraph;
                    this.currentLink = this.mallorca.link;
                    this.currentHeader = this.mallorca.header;
                }
                if(island === 'minorka') {
                    this.mallorca.active = false;
                    this.minorka.active = true;
                    this.ibiza.active = false;
                    this.formentera.active = false;
                    this.cabrera.active = false;

                    this.currentImage = this.minorka.image;
                    this.currentParagraph = this.minorka.paragraph;
                    this.currentLink = this.minorka.link;
                    this.currentHeader = this.minorka.header;
                }
                if(island === 'ibiza') {
                    this.mallorca.active = false;
                    this.minorka.active = false;
                    this.ibiza.active = true;
                    this.formentera.active = false;
                    this.cabrera.active = false;

                    this.currentImage = this.ibiza.image;
                    this.currentParagraph = this.ibiza.paragraph;
                    this.currentLink = this.ibiza.link;
                    this.currentHeader = this.ibiza.header;
                }
                if(island === 'formentera') {
                    this.mallorca.active = false;
                    this.minorka.active = false;
                    this.ibiza.active = false;
                    this.formentera.active = true;
                    this.cabrera.active = false;

                    this.currentImage = this.formentera.image;
                    this.currentParagraph = this.formentera.paragraph;
                    this.currentLink = this.formentera.link;
                    this.currentHeader = this.formentera.header;
                }
                if(island === 'cabrera') {
                    this.mallorca.active = false;
                    this.minorka.active = false;
                    this.ibiza.active = false;
                    this.formentera.active = false;
                    this.cabrera.active = true;

                    this.currentImage = this.cabrera.image;
                    this.currentParagraph = this.cabrera.paragraph;
                    this.currentLink = this.cabrera.link;
                    this.currentHeader = this.cabrera.header;
                }

            }
        },
        created() {
            this.currentImage = this.mallorca.image;
            this.currentParagraph = this.mallorca.paragraph;
            this.currentLink = this.mallorca.link;
            this.currentHeader = this.mallorca.header;
        },
        components: {
            card
        }
    }
</script>