<template>
    <div class="offer__row offer__row--car">
        <div class="offer-car__left">
            <app-logo></app-logo>
            <div class="offer-car__left-overlay"></div>
            <div class="offer-car__left-image"></div>
        </div>
        <div class="offer-car__main">
            <h3 class="heading-tertiary offer__header offer-car-header">{{ 'Samochody' | translate }}</h3>
            <p class="offer-car__main-paragraph">
                {{ 'Z myślą o podróżach w głąb wyspy oferujemy ekskluzywne samochody. Dodatkowo zapewniamy kierowcę, który pokaże najpiękniejsze zakątki wyspy, poleci sprawdzone restauracje i wskaże najciekawsze miejsca. Dbając o komfort naszych Gości, oferujemy transport z oraz na lotnisko. Nie musisz martwić się o prowiant, gdyż na życzenie zrobimy za Ciebie potrzebne zakupy, zgodnie z zamówieniem.' | translate }}
            </p>
        </div>
        <div class="offer-car__right">
            <div class="offer-car__right-overlay--1"></div>
            <div class="offer-car__right-overlay--2"></div>
            <div class="offer-car__right-image"></div>
        </div>
    </div>
</template>