<template>
    <div class="car__slider-container">
        <h3 class="heading-secondary destinations__heading">{{ name }}</h3>
        <section class="car__slider-body">
            <div class="car__slider-body--left">
                <h3 class="heading-tertiary heading-tertiary--dashed">{{ 'Specyfikacja' | translate }}</h3>
                <div class="car__slider-details">
                    <div class="car__slider-detail">
                        <span>{{ 'Moc' | translate }}: </span>
                        <span class="car__slider-detail--span">{{ power }} KM</span>
                    </div>
                    <div class="car__slider-detail" v-if="acceleration">
                        <span>0-100 km/h: </span>
                        <span class="car__slider-detail--span">{{ acceleration }}s</span>
                    </div>
                    <div class="car__slider-detail" v-if="propulsion">
                        <span>{{ 'Napęd' | translate }}: </span>
                        <span class="car__slider-detail--span">{{ propulsion }}</span>
                    </div>
                    <div class="car__slider-detail" v-if="niutonometr">
                        <span>{{ 'Moment' | translate }}: </span>
                        <span class="car__slider-detail--span">{{ niutonometr }} NM</span>
                    </div>
                    <div class="car__slider-detail">
                        <span>{{ 'Dzień' | translate }}: </span>
                        <span class="car__slider-detail--span">{{ priceDay }} Eur</span>
                    </div>
                    <div class="car__slider-detail">
                        <span>{{ 'Tydzień' | translate }}: </span>
                        <span class="car__slider-detail--span">{{ priceWeek }} Eur</span>
                    </div>
                </div>
            </div>
            <div class="car__slider-body--right">
                <h3 class="heading-tertiary heading-tertiary--dashed">{{ 'Galeria' | translate }}</h3>
                <div class="car__slider-gallery">
                    <div class="car__slider-gallery-image"
                         v-for="(n, key) in images"
                         :key="key"
                         @click="index = key"
                         :style="{ backgroundImage: `url(${n})`}">
                    </div>
                </div>
            </div>
        </section>
        <vue-gallery :images="images" :index="index" @close="index = null"></vue-gallery>
    </div>
</template>
<script>
    import VueGallery from 'vue-gallery';

    export default {
        data() {
            return {
                index: null
            }
        },
        props:[
            'power',
            'acceleration',
            'propulsion',
            'niutonometr',
            'name',
            'priceWeek',
            'priceDay',
            'images'
        ],
        components: {
            VueGallery
        }
    }
</script>