<template>
    <article class="car__slider">
        <section class="car__slider-header">
            <div class="car__slider-thumbnail car__slider-thumbnail--1" @click="changeSelected(0)"></div>
            <div class="car__slider-thumbnail car__slider-thumbnail--2" @click="changeSelected(1)"></div>
            <div class="car__slider-thumbnail car__slider-thumbnail--3" @click="changeSelected(2)"></div>
            <div class="car__slider-thumbnail car__slider-thumbnail--4" @click="changeSelected(3)"></div>
            <div class="car__slider-thumbnail car__slider-thumbnail--5" @click="changeSelected(4)"></div>
            <div class="small-fleet__selected car__slider-thumbnail-selected"
                 :class="[
                    currentCar === 0 ? 'car__slider-thumbnail-selected--1' : '',
                    currentCar === 1 ? 'car__slider-thumbnail-selected--2' : '',
                    currentCar === 2 ? 'car__slider-thumbnail-selected--3' : '',
                    currentCar === 3 ? 'car__slider-thumbnail-selected--4' : '',
                    currentCar === 4 ? 'car__slider-thumbnail-selected--5' : ''
                ]">
                <div class="small-fleet__selected-icon"></div>
            </div>
        </section>
        <car-slider-body :power="cars[currentCar].power"
                         :acceleration="cars[currentCar].acceleration"
                         :propulsion="cars[currentCar].propulsion"
                         :niutonometr="cars[currentCar].niutonometr"
                         :name="cars[currentCar].name"
                         :priceWeek="cars[currentCar].priceWeek"
                         :priceDay="cars[currentCar].priceDay"
                         :images="cars[currentCar].images"></car-slider-body>
    </article>
</template>
<script>
    import carSliderBody from './carSliderBody';

    export default {
        data() {
            return {
                currentCar: 0,
                intervalId: null,
                cars: [
                    {
                        nr: 1,
                        power: 530,
                        acceleration: 4.7,
                        propulsion: 'RWD',
                        niutonometr: 710,
                        name: 'Maseratti Quattroporte',
                        priceWeek: 2850,
                        priceDay: 410,
                        images: [
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1545000144/maserati1.jpg',
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1545000144/maserati2.jpg',
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1545000146/maserati4.jpg',
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1545000138/maserati3.jpg'
                        ]
                    },
                    {
                        nr: 2,
                        power: 230,
                        acceleration: null,
                        propulsion: 'RWD',
                        niutonometr: null,
                        name: 'Mercedes GLE',
                        priceWeek: 1450,
                        priceDay: 210,
                        images: [
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1545230851/glc1_1.jpg',
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1545230851/glc1_2.jpg',
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1545230851/glc1_3.jpg',
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1545230851/glc1_4.jpg'
                        ]
                    },
                    {
                        nr: 3,
                        power: 230,
                        acceleration: null,
                        propulsion: '',
                        niutonometr: null,
                        name: 'Mercedes GLS',
                        priceWeek: 1650,
                        priceDay: 240,
                        images: [
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1545232523/gls4.jpg',
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1545232523/gls2.jpg',
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1545232523/gls3.jpg',
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1545232523/gls1.jpg'
                        ]
                    },
                    {
                        nr: 4,
                        power: 190,
                        acceleration: null,
                        propulsion: '',
                        niutonometr: null,
                        name: 'Mercedes V-Class 6os',
                        priceWeek: 900,
                        priceDay: 130,
                        images: [
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1546853015/mercedes6os4.webp',
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1546853015/mercedes6os1.jpg',
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1546853015/mercedes6os2.jpg',
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1546853015/mercedes6os3.jpg'
                        ]
                    },
                    {
                        nr: 5,
                        power: 190,
                        acceleration: null,
                        propulsion: '',
                        niutonometr: null,
                        name: 'Mercedes V-Class 7os',
                        priceWeek: 950,
                        priceDay: 140,
                        images: [
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1546853299/mercedes7os1.jpg',
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1546853299/mercedes7os2.jpg',
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1546853299/mercedes7os4.jpg',
                            'https://res.cloudinary.com/dlqvkenro/image/upload/v1546853299/mercedes7os3.jpg'
                        ]
                    }
                ]
            }
        },
        methods: {
            changeSelected(nr) {
                this.currentCar = nr;
                clearInterval(this.intervalId);
            }
        },
        created() {
            this.intervalId = setInterval(() => {
                this.currentCar++;
                if(this.currentCar === 5) this.currentCar = 0;
            }, 25000)
        },
        components: {
            carSliderBody
        }
    }
</script>