<template>
    <div class="second-fleet__slider-container">
        <vue-flux
            class="second-fleet__slider"
            :options="fluxOptions"
            :images="fluxImages"
            :transitions="fluxTransitions"
            fullscreen="false"
            ref="slider">
            <!--<flux-pagination slot="pagination"></flux-pagination>-->
        </vue-flux>
        <div class="second-fleet__header" v-if="selected === 0">
            <div class="second-fleet__header-inner">
                <div class="second-fleet__icon second-fleet__icon--mc"></div>
                <h4 class="heading-tertiary about__intro-heading" >Monte Carlo 5</h4>
                <router-link to="/yacht/1">
                    <div class="second-fleet__button">
                        <span class="second-fleet__button-image"></span>
                        <span class="second-fleet__button-text"> {{ 'Dowiedz się więcej' | translate }} </span>
                    </div>
                </router-link>
            </div>
        </div>
        <div class="second-fleet__header" v-if="selected === 1">
            <div class="second-fleet__header-inner">
                <div class="second-fleet__icon second-fleet__icon--mc"></div>
                <h4 class="heading-tertiary about__intro-heading" v-if="selected === 1">Monte Carlo 4</h4>
                <router-link to="/yacht/2">
                    <div class="second-fleet__button">
                        <span class="second-fleet__button-image"></span>
                        <span class="second-fleet__button-text"> {{ 'Dowiedz się więcej' | translate }} </span>
                    </div>
                </router-link>
            </div>
        </div>
        <div class="second-fleet__header" v-if="selected === 2">
            <div class="second-fleet__header-inner">
                <div class="second-fleet__icon second-fleet__icon--azimut"></div>
                <h4 class="heading-tertiary about__intro-heading" v-if="selected === 2">Azimut magellano 43</h4>
                <router-link to="/yacht/3">
                    <div class="second-fleet__button">
                        <span class="second-fleet__button-image"></span>
                        <span class="second-fleet__button-text"> {{ 'Dowiedz się więcej' | translate }} </span>
                    </div>
                </router-link>
            </div>
        </div>
        <div class="second-fleet__header" v-if="selected === 3">
            <div class="second-fleet__header-inner">
                <div class="second-fleet__icon second-fleet__icon--cranchi"></div>
                <h4 class="heading-tertiary about__intro-heading" v-if="selected === 3">Cranchi m 44 ht</h4>
                <router-link to="/yacht/4">
                    <div class="second-fleet__button">
                        <span class="second-fleet__button-image"></span>
                        <span class="second-fleet__button-text"> {{ 'Dowiedz się więcej' | translate }} </span>
                    </div>
                </router-link>
            </div>
        </div>
        <div class="second-fleet__header" v-if="selected === 4">
            <div class="second-fleet__header-inner">
                <div class="second-fleet__icon second-fleet__icon--catamaran"></div>
                <h4 class="heading-tertiary about__intro-heading">Catamaran Lagoon 420</h4>
                <router-link to="/yacht/5">
                    <div class="second-fleet__button">
                        <span class="second-fleet__button-image"></span>
                        <span class="second-fleet__button-text"> {{ 'Dowiedz się więcej' | translate }} </span>
                    </div>
                </router-link>
            </div>
        </div>
    </div>
</template>
<script>
    let VueFlux;
    let Transitions;

    if (process.browser) {
        const VF = require('vue-flux');
        VueFlux = VF.VueFlux;
        Transitions = VF.Transitions;
    }

    export default {
        data () {
            return {
                collapseBool: false,
                fluxOptions: {
                    autoplay: true,
                    delay: 5000
                },
                fluxImages: [
                    'https://res.cloudinary.com/dlqvkenro/image/upload/v1542801492/7.jpg',
                    'https://res.cloudinary.com/dlqvkenro/image/upload/v1542802068/3.jpg',
                    'https://res.cloudinary.com/dlqvkenro/image/upload/v1542801997/6.jpg'
                ],
                fluxTransitions: Transitions
            };
        },
        props:['images', 'selected'],
        created() {
            this.$nuxt.$on('resize::slider', () => {
                //this.$refs.slider.resize();
            });
        },
        components: {
            VueFlux
        }
    }
</script>