<template>
    <section class="small-fleet" :class="showFleet ? 'small-fleet--expand' : 'small-fleet--collapsed'">
        <div class="small-fleet__selected"
             :class="[
                    selected === 0 ? 'small-fleet__selected--1' : '',
                    selected === 1 ? 'small-fleet__selected--2' : '',
                    selected === 2 ? 'small-fleet__selected--3' : '',
                    selected === 3 ? 'small-fleet__selected--4' : '',
                    selected === 4 ? 'small-fleet__selected--5' : ''
                ]">
            <div class="small-fleet__selected-icon"></div>
        </div>
        <div class="small-fleet__box">
            <div class="small-fleet__image-box">
                <router-link to="/yacht/1">
                    <div class="small-fleet__image small-fleet__image--first"
                         :class="selected === 0 ? 'small-fleet__image--selected' : ''"></div>
                </router-link>
            </div>
            <div class="small-fleet__image-box">
                <router-link to="/yacht/2">
                    <div class="small-fleet__image small-fleet__image--second"
                         :class="selected === 1 ? 'small-fleet__image--selected' : ''"></div>
                </router-link>
            </div>
            <div class="small-fleet__image-box">
                <router-link to="/yacht/3">
                    <div class="small-fleet__image small-fleet__image--third"
                         :class="selected === 2 ? 'small-fleet__image--selected' : ''"></div>
                </router-link>
            </div>
            <div class="small-fleet__image-box">
                <router-link to="/yacht/4">
                    <div class="small-fleet__image small-fleet__image--fourth"
                         :class="selected === 3 ? 'small-fleet__image--selected' : ''"></div>
                </router-link>
            </div>
            <div class="small-fleet__image-box">
                <router-link to="/yacht/5">
                    <div class="small-fleet__image small-fleet__image--fifth"
                         :class="selected === 4 ? 'small-fleet__image--selected' : ''"></div>
                </router-link>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        data() {
            return {
                showFleet: true
            }
        },
        methods: {
            togglePanel() {
                this.showFleet = !this.showFleet;
                this.$nuxt.$emit('toggle::small-fleet');
            }
        },
        props:['selected']
    }
</script>

