<template>
    <section class="services">
        <div class="services__row services__row--first">
            <service-col image="https://res.cloudinary.com/dlqvkenro/image/upload/v1542115098/mallorca.jpg"
                         place="left"
                         link="/mallorca"
                         row="1"
                         header="Majorka"
                         paragraph="Planujemy trasy na lądzie i morzu, pokazując najpiękniejsze miejsca wyspy."></service-col>
            <service-col image="https://res.cloudinary.com/dlqvkenro/image/upload/v1542667959/minorka.png"
                         place="right"
                         link="/additional-services"
                         row="1"
                         header="Jachty"
                         paragraph="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum"></service-col>
            <P></P>
        </div>
        <div class="services__row">
            <service-col image="https://res.cloudinary.com/dlqvkenro/image/upload/v1542125749/ibiza.jpg"
                         place="middle"
                         link="ibiza"
                         row="2"
                         header="Ibiza"
                         paragraph="Planujemy trasy na lądzie i morzu, pokazując najpiękniejsze miejsca wyspy"></service-col>
            <service-col image="https://res.cloudinary.com/dlqvkenro/image/upload/v1542127996/car.jpg"
                         place="right"
                         link="/additional-services"
                         row="2"
                         header="Samochody"
                         paragraph="Planujemy trasy na lądzie i morzu, pokazując najpiękniejsze miejsca wyspy"></service-col>
        </div>
        <div class="services__row services__row--third">
            <service-col image="https://res.cloudinary.com/dlqvkenro/image/upload/v1542668562/assas.jpg"
                         place="left"
                         link="/minorka"
                         row="3"
                         header="Minorka"
                         paragraph="Planujemy trasy na lądzie i morzu, pokazując najpiękniejsze miejsca wyspy"></service-col>
            <service-col image="https://res.cloudinary.com/dlqvkenro/image/upload/v1542135289/sports.jpg"
                         place="middle"
                         link="/additional-services"
                         row="3"
                         header="Sporty Wodne"
                         paragraph="Planujemy trasy na lądzie i morzu, pokazując najpiękniejsze miejsca wyspy"></service-col>
        </div>

    </section>
</template>
<script>
import serviceCol from './elements/serviceCol';

export default {
    components: {
        serviceCol
    }
}
</script>
