<template>
    <article>
        <div class="offer-sport__left">
            <div class="offer-sport__left-overlay"></div>
            <div class="offer-sport__left-image offer-special-image"></div>
            <div class="offer-sport__intro">
                <div class="offer-sport__intro-inner">
                    <h2 class="heading-secondary heading-secondary--white">
                        {{ 'Oferta specjalna' | translate }}
                    </h2>
                    <p class="offer-sport__text-paragraph offer-sport__text-paragraph--white">
                        {{ 'Dostosujemy do Państwa potrzeb program pobytu na jachcie. Zorganizujemy sesję zdjęciową, romantyczną kolację, wycieczki w wymarzone miejsca. Dla Państwa jesteśmy elastyczni i kreatywni.' | translate }}
                    </p>
                </div>
            </div>
        </div>
    </article>
</template>