<template>
    <article class="third-services">
        <third-services-col align="left"
                            row="1"
                            paragraph="Propozycja dla osób poszukujących adrenaliny i prędkości"
                            image="https://res.cloudinary.com/dlqvkenro/image/upload/v1547816227/seedoolast.jpg"
                            header="Sporty wodne"
                            link="/sports"></third-services-col>
        <third-services-col align="right"
                            row="2"
                            paragraph="Z myślą o podróżach w głąb wyspy oferujemy ekskluzywne samochody"
                            image="https://res.cloudinary.com/dlqvkenro/image/upload/v1547109952/carimageddd.jpg"
                            header="Samochody"
                            link="/cars"></third-services-col>
        <third-services-col align="left"
                            row="3"
                            paragraph="Zaręczyny lub weekend miodowy, Weekend panieński lub kawalerski, Sesja ślubna na jachcie"
                            image="https://res.cloudinary.com/dlqvkenro/image/upload/v1545062303/szmapannn.jpg"
                            header="Oferta specjalna"
                            link="/special"></third-services-col>
    </article>
</template>
<script>
    import thirdServicesCol from './elements/thirdServicesCol';

    export default {
        components: {
            thirdServicesCol
        }
    }
</script>