<template>
    <vue-flux
        :options="fluxOptions"
        :images="fluxImages"
        :transitions="fluxTransitions"
        :class="[
                justify === 'left' ? 'yachts__slider--1' :  'yachts__slider--2',
                order === '2' && justify === 'left' ? 'yachts__slider--3' : '',
                order === '2' && justify === 'right' ? 'yachts__slider--4' : ''
                ]"
        class="yachts__slider"
        fullscreen="true"
        ref="slider">
        <flux-controls slot="controls"></flux-controls>
    </vue-flux>
</template>
<script>
    import { VueFlux, FluxPagination, Transitions, FluxControls } from 'vue-flux';


    export default {
        props: ['images', 'justify', 'order'],
        components: {
            VueFlux,
            FluxPagination,
            FluxControls
        },
        data() {
            return {
                collapseBool: false,
                fluxOptions: {
                    autoplay: false,
                    delay: 10000,
                    width: '100%',
                    height: 'auto'
                },
                fluxImages: this.images,
                fluxTransitions: {
                    transitionSlide: Transitions.transitionSlide
                },
            };
        },
        created() {
            this.$nuxt.$on('resize::slider', () => {
                this.$refs.slider.resize();
            });
        }
    }
</script>