<template>
    <b-dropdown :text="selectedLanguage"
                right
                class="nav__icon nav__dropdown"
                :class="[
                        selectedLanguage === 'pl' ? 'nav__dropdown--pl' : '',
                        selectedLanguage === 'en' ? 'nav__dropdown--en' : '',
                        selectedLanguage === 'es' ? 'nav__dropdown--es' : '',
                        selectedLanguage === 'ru' ? 'nav__dropdown--ru' : '',
                        selectedLanguage === 'de' ? 'nav__dropdown--de' : '',
                    ]">
        <b-dropdown-item @click="changeLanguage('es')"
                         v-if="selectedLanguage !== 'es'"
                         class="navbar__lang-esp">
            ES
        </b-dropdown-item>
        <b-dropdown-item @click="changeLanguage('en')"
                         v-if="selectedLanguage !== 'en'">
            EN
        </b-dropdown-item>
        <b-dropdown-item @click="changeLanguage('pl')"
                         v-if="selectedLanguage !== 'pl'">
            PL
        </b-dropdown-item>
        <b-dropdown-item @click="changeLanguage('pl')"
                         v-if="selectedLanguage !== 'pl'">
            RU
        </b-dropdown-item>
        <b-dropdown-item @click="changeLanguage('pl')"
                         v-if="selectedLanguage !== 'pl'">
            DE
        </b-dropdown-item>
    </b-dropdown>
</template>
<script>
    export default {
        data() {
            return {
                selectedLanguage: ''
            }
        },
        methods: {
            changeLanguage(lang) {
                this.selectedLanguage = lang;
                this.$store.commit('changeLang', lang);
            }
        },
        created() {
            this.selectedLanguage = this.$store.state.currentLanguage;
        }
    }
</script>