<template>
    <div>
        <ul class="nav__list">
            <li>
                <router-link to="/">
                    <img src="/icons/nav/home-icon.png"
                        alt="Strona główna"
                        class="nav__round"
                        v-b-tooltip.bottom
                        title="Strona główna"/>
                </router-link>
            </li>
            <li>
                <router-link to="/" href="#yachts" v-smooth-scroll="{ duration: 500, offset: -60 }">
                    <img src="/icons/nav/yachts-icon.png"
                        alt="Jachty"
                        class="nav__round"
                        v-b-tooltip.bottom
                        title="Nasza flota" />
                </router-link>
            </li>
            <li>
                <router-link to="/">
                    <img src="/icons/nav/about-us.png"
                        alt="O nas"
                        class="nav__round"
                        v-b-tooltip.bottom
                        title="O nas" />
                </router-link>
            </li>
            <li>
                <router-link to="/">
                    <img src="/icons/nav/contact-icon.png"
                        alt="Kontakt"
                        class="nav__round"
                        v-b-tooltip.bottom
                        title="Kontakt" />
                </router-link>
            </li>
            <li>
                <router-link to="/mallorca">
                    <img src="/icons/nav/mallorca-icon.png"
                        alt="Majorka"
                        class="nav__round"
                        v-b-tooltip.bottom
                        title="Majorka" />
                </router-link>
            </li>
        </ul>
    </div>
</template>