<template>
    <div>
        <vue-flux :options="fluxOptions"
                  :images="fluxImages"
                  :transitions="fluxTransitions"
                  fullscreen="false"
                  ref="slider">
        </vue-flux>
    </div>
</template>
<script>
    let VueFlux;
    let Transitions;

    if (process.browser) {
        const VF = require('vue-flux');
        VueFlux = VF.VueFlux;
        Transitions = VF.Transitions;
    }

    export default {
        data() {
            return {
                collapseBool: false,
                fluxOptions: {
                    autoplay: true,
                    delay: 5000
                },
                fluxImages: [
                    'https://res.cloudinary.com/dlqvkenro/image/upload/v1542801492/7.jpg',
                    'https://res.cloudinary.com/dlqvkenro/image/upload/v1542802068/3.jpg',
                    'https://res.cloudinary.com/dlqvkenro/image/upload/v1542801997/6.jpg'
                ],
                fluxTransitions: Transitions,
                timeGap: false,
                showTermsModal: false,
                showRulesModal: false
            }
        },
        created() {
            this.$nuxt.$on('resize::slider', () => {
                if(process.browser && this.$refs.slider) {
                    this.$refs.slider.resize();
                    console.log('resize');
                }
            })
        },
        components: {
            VueFlux
        }
    }
</script>
<style scoped>
    .logo {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -2;
    }
    @media screen and (max-width: 768px) {
        .logo {
            width: 100%;
        }
    }

    .zoom-enter-active,
    .zoom-leave-active {
        animation-duration: .8s;
        animation-fill-mode: both;
        animation-name: zoom;
    }

    .zoom-leave-active {
        animation-direction: reverse;
    }

    .circle-enter-active,
    .circle-leave-active {
        animation-duration: 2s;
        animation-fill-mode: both;
        animation-name: zoom;
    }

    .circle-leave-active {
        animation-direction: reverse;
    }
</style>