<template>
    <article class="second-fleet">
        <second-fleet-slider :selected="currentYacht" :images="currentImages"></second-fleet-slider>
        <small-fleet :selected="currentYacht"></small-fleet>
    </article>
</template>
<script>
    import secondFleetSlider from './elements/secondFleetSlider.vue';
    import smallFleet from './elements/smallFleet.vue';

    export default {
        data() {
            return {
                currentYacht: 0,
                currentImages: [],
                intervalId: undefined,
                images: [
                    [
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543076828/mc5featured3.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543076828/mc5featured2.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543076827/mc5featured1.jpg'
                    ],
                    [
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543321432/mc4featured1.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543321439/mc4featured2.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543321441/mc4featured3.jpg'
                    ],
                    [
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543077031/m43featured1.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543077031/m43featured2.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1543077031/m43featured3.jpg'
                    ],
                    [
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1547100785/597_d8907b3de13883ae5e653931df788de6.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1547100785/602_aaeb7145581a81da1a8ce17ae3c3711e.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1547100785/599_97d396539a2fd6fd27ea2d0934f4773f.jpg'
                    ],
                    [
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1542801492/7.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1542802068/3.jpg',
                        'https://res.cloudinary.com/dlqvkenro/image/upload/v1542801997/6.jpg'
                    ]
                ]
            }
        },
        created() {
            this.currentImages = this.images[this.currentYacht];
            this.intervalId = setInterval(() => {
                console.log('start interval - fleet second');
                //console.log(this.currentYacht);
                this.currentYacht++;
                if(this.currentYacht === 5) this.currentYacht = 0;
                this.currentImages = this.images[this.currentYacht];
                //console.log(this.currentImages);

            }, 20000)
        },
        destroyed() {
            clearInterval(this.intervalId);
        },
        components: {
            secondFleetSlider,
            smallFleet
        }
    }
</script>