<template>
    <div class="offer">
        <app-logo></app-logo>
        <header-special></header-special>
        <col-special align="left"
                     header="Zaręczyny lub weekend miodowy"
                     paragraph="Słowo „tak” nabierze tu magicznego znaczenia. Przygotuj się na rejs i poznaj piękno wyspy. Na zakochanych czekają malownicze zatoki, kameralne plaże i niezapomniane zachody słońca."
                     image="https://res.cloudinary.com/dlqvkenro/image/upload/v1546016765/zareczyny.jpg"></col-special>
        <col-special align="right"
                     header="Weekend panieński lub kawalerski"
                     paragraph="Czy dasz się porwać długiej hiszpańskiej nocy? Przyjęcie „niespodzianka” na nowoczesnym jachcie czy impreza na Ibizie? Jedno jest pewne. Długo będziecie wspominać ten szalony czas!"
                     image="https://res.cloudinary.com/dlqvkenro/image/upload/v1546016764/weekend.jpg"></col-special>
        <col-special align="left"
                     header="Sesja ślubna na jachcie"
                     paragraph='Zatrzymaj w czasie to, co najbardziej wyjątkowe. Śniadanie przy wschodzie słońca, romantyczna kolacja na środku morza i ukryte plaże. Stworzymy dla Ciebie najpiękniejszy album wspomnień.'
                     image="https://res.cloudinary.com/dlqvkenro/image/upload/v1546016764/sesja.jpg"></col-special>
        <col-special align="right"
                     header="REJS DO ES TRENC"
                     paragraph='Zabierz przyjaciół bądź rodzinę na rejs na jedną z najdłuższych piaszczystych plaż Majorki. Podczas podróży będziecie mogli podziwiać przepiękne widoki południowego wybrzeża wyspy przy lampce hiszpańskiej sangrii i opowieściach kapitana.'
                     image="https://res.cloudinary.com/dlqvkenro/image/upload/v1546016765/rejs.jpg"></col-special>
        <col-special align="left"
                     header="Wycieczki"
                     paragraph="Palma de Mallorca zwiedzanie stolicy • Katedra La Seu • Palma Aquarium • obiad i kolacja Całodniowe nurkowanie pełne wyposażenie • doświadczeni instruktorzy • snorkeling Valldemossa wycieczka szlakiem Chopina • słynący z najlepszej oliwy port Soller Zachodnie wybrzeze wyspy kręta droga do Sa Calobra • niesamowite widoki • wycieczka do kanionu • kąpiel w malowniczej zatoce"
                     image="https://res.cloudinary.com/dlqvkenro/image/upload/v1546016765/wycieczki.jpg"></col-special>
        <other-yachts header="Zobacz nasze jachty"></other-yachts>
    </div>
</template>
<script>
    import headerSpecial from './elements/headerSpecial'
    import colSpecial from './elements/colSpecial'

    export default {
        components: {
            headerSpecial,
            colSpecial
        }
    }
</script>
