<template>
    <div class="external-bg">
        <!--<background-video></background-video>-->
        <fleet></fleet>
        <!--<second-services></second-services>
        <third-services></third-services>-->
    </div>
</template>
<script>
    import backgroundVideo from './video/video'
    import fleet from './fleet/fleet'
    //import thirdServices from './thirdServices/thirdServices'

    export default {
        components: {
            backgroundVideo,
            fleet
        }
    }
</script>
<style>
    .external-bg {
        background-color: #f7f5ed;
    }
    .caret {
        display: none !important;
        opacity: 0;
    }
</style>
