<template>
    <div class="yacht">
        <section class="yacht__container">
            <featured-slider v-if="yachtData.images_featured" :images="yachtData.images_featured"></featured-slider>
            <main-info :name="yachtData.name"
                       :description="yachtData.description"
                       :length="yachtData.length_total"
                       :person="yachtData.max_people"
                       :bed="yachtData.bedrooms"
                       :throws="yachtData.images_throw"
            ></main-info>
        </section>
        <section class="container">
            <specification :data="yachtData"></specification>
        </section>
        <main>
            <section class="row">
                <div class="col-12">
                    <gallery :images="yachtData.images"></gallery>
                </div>
            </section>
        </main>
        <other-yachts header="Zobacz inne nasze jachty"></other-yachts>
    </div>
</template>
<script>
    import axios from 'axios';
    import axiosConfig from '../../../config/axios.conf'
    import mainInfo from './elements/mainInfo'
    import specification from './elements/specification'
    import gallery from './elements/gallery'
    import yachtHeader from './elements/yachtHeader'
    import featuredSlider from './elements/featuredSlider'
    //import { eventBus } from "../../../helpers/eventBus";

    export default {
        data() {
            return {
                yachtId: this.$route.params.id,
                yachtData: []
            }
        },
        methods: {
            getYachts(id) {
                axios.get(`/yacht/getYacht.php?id=${id}`, axiosConfig)
                    .then(res => {
                        if(res.status === 200) {
                            console.log(res.data.record[0]);
                            this.yachtData = res.data.record[0];
                            this.$nuxt.$emit('loadedYacht', res.data.record[0]);
                        }
                    })
                    .catch(err => {
                        alert(err);
                    })
            }
        },
        created() {
            this.getYachts(this.yachtId);
        },
        watch: {
            '$route.params.id'(newVal) {
                console.log(newVal);
                this.getYachts(newVal);
            }
        },
        components: {
            mainInfo,
            specification,
            gallery,
            yachtHeader,
            featuredSlider
        }
    }
</script>