<template>
    <div class="composition__slider" v-if="images">
        <vue-flux
            id="compositionSlider"
            :class="[
                order === '1' ? 'composition__slider--first' : '',
                order === '2' ? 'composition__slider--middle' : '',
                order === '3' ? 'composition__slider--last' : ''
            ]"
            :options="fluxOptions"
            :images="images"
            :transitions="fluxTransitions"
            fullscreen="false"
            ref="slider">
            <flux-pagination slot="pagination"></flux-pagination>
        </vue-flux>
    </div>
</template>
<script>
    import { VueFlux, Transitions, FluxPagination } from 'vue-flux';

    export default {
        data () {
            return {
                collapseBool: false,
                fluxOptions: {
                    autoplay: false,
                    delay: 10000,
                },
                fluxImages: [],
                fluxTransitions: {
                    transitionFade: Transitions.transitionFade
                }
            };
        },
        components: {
            VueFlux,
            FluxPagination
        },
        props:['images', 'order']
    }
</script>