<template>
    <div class="card">
        <div class="card__left">
            <h3 class="heading-tertiary card__heading">{{ header | translate }}</h3>
            <p class="card__text">
                {{ paragraph | translate }}
            </p>
            <router-link :to="link">
                <button class="card__button">{{ 'Dowiedz się więcej' | translate }}</button>
            </router-link>
        </div>
        <div class="card__right"
             :style="{ backgroundImage: `url(${image})`}"></div>
    </div>
</template>
<script>
    export default {
        props: [
            'header',
            'paragraph',
            'image',
            'link'
        ]
    }
</script>