<template>
    <article class="balears">
        <mallorca v-if="url === '/mallorca'"></mallorca>
        <minorka v-if="url === '/minorka'"></minorka>
        <ibiza v-if="url === '/ibiza'"></ibiza>
        <cabrera v-if="url === '/cabrera'"></cabrera>
        <formentera v-if="url === '/formentera'"></formentera>
        <other-yachts header="Zobacz nasze jachty"></other-yachts>
    </article>
</template>
<script>
    import mallorca from './pages/mallorca'
    import minorka from './pages/minorka'
    import ibiza from './pages/ibiza'
    import cabrera from './pages/cabrera'
    import formentera from './pages/formentera'

    export default {
        data() {
            return {
                url: this.$route.path
            }
        },
        watch: {
            '$route.path'(newVal) {
                this.url = newVal;
            }
        },
        components: {
            mallorca,
            minorka,
            ibiza,
            cabrera,
            formentera
        }
    }
</script>