<template>
    <section class="offer__row offer__row--space">
        <div class="offer__col offer__col--image"
             :class="align === 'left' ? 'offer__col--order-1' : 'offer__col--order-2'">
            <div class="offer__image"
                 :style="{ backgroundImage: `url(${image})`}"></div>
            <div class="offer__image--overlay"></div>
        </div>
        <div class="offer__col"
             :class="align === 'right' ? 'offer__col--order-1' : 'offer__col--order-2'">
            <h3 class="heading-tertiary heading-tertiary--dashed">
                {{ header | translate }}
            </h3>
            <p class="offer-sport__text-paragraph">
                {{ paragraph | translate }}
            </p>
        </div>
    </section>
</template>
<script>
    export default {
        props: ['align', 'image', 'paragraph', 'header']
    }
</script>