<template>
    <article>
        <div class="offer-sport__left">
            <div class="offer-sport__left-overlay"></div>
            <div class="offer-sport__left-image"></div>
            <div class="offer-sport__intro">
                <div class="offer-sport__intro-inner">
                    <h2 class="heading-secondary heading-secondary--white"> {{ 'Sporty wodne' | translate }} </h2>
                    <p class="offer-sport__text-paragraph offer-sport__text-paragraph--white">
                        {{ 'Propozycja dla osób poszukujących adrenaliny i prędkości. Możliwość pływania zarówno na wodzie, jak i pod wodą. Sea Bob i Sea Doo są niezwykle dynamiczne, przy czym bardzo bezpieczne. Duża dawka zabawy i wrażeń gwarantowana.' | translate }}
                    </p>
                </div>
            </div>
        </div>
    </article>
</template>