/*
    media query manager:

    0 - 600px       : phone
    600 - 900px     : tablet
    900 - 1200px    : small laptop
    1800px +        : desktop

    - phone
    - tab-port
    - tab-land
    - big-desktop

    1em = 16px here
 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }

body {
  box-sizing: border-box;
  background-color: #f7f5ed;
  overflow-x: hidden;
  padding: 1.5rem; }
  @media only screen and (max-width: 768px) {
    body {
      padding: .5rem; } }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a {
  text-decoration: none; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: white;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #000; }
  @media only screen and (max-width: 767px) {
    .heading-primary {
      font-size: 3rem;
      text-align: center; } }

.heading-secondary {
  color: #16A09E;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #000;
  font-family: 'Raleway', sans-serif; }
  .heading-secondary--white {
    color: white; }
  .heading-secondary--no-shadow {
    text-shadow: none; }

.heading-tertiary {
  color: #16A09E;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif; }
  .heading-tertiary--dashed {
    min-height: 32px; }
    .heading-tertiary--dashed::after {
      content: '';
      display: block;
      margin-top: .5rem;
      width: 8rem;
      border-bottom: 3px solid #dca17c; }
  .heading-tertiary--dashed-right {
    position: relative; }
    .heading-tertiary--dashed-right::after {
      position: absolute;
      right: 0; }

.heading-quaternary {
  color: #dee2e6;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-3rem); }
  80% {
    transform: translateX(0.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(3rem); }
  80% {
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes jumpUpDown {
  0% {
    transform: translateY(-0.5rem); }
  50% {
    transform: translateY(0.5rem); }
  100% {
    transform: translateY(-0.5rem); } }

@keyframes jumpLeftRight {
  0% {
    transform: translateX(-0.5rem); }
  50% {
    transform: translateX(0.5rem); }
  100% {
    transform: translateX(-0.5rem); } }

@keyframes squeezeNavList {
  0% {
    padding: 1.5rem 2rem;
    opacity: 0; }
  80% {
    padding: 1.5rem 1.8rem; }
  100% {
    padding: 1.5rem 1.5rem;
    opacity: 1; } }

@keyframes zoom {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  100% {
    opacity: 1; } }

@keyframes circle {
  from {
    transform: scale(0.1); }
  to {
    transform: scale(1); } }

@keyframes blackAndWhite {
  from {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  to {
    -webkit-filter: grayscale(0);
    filter: grayscale(0); } }

.u-center-text {
  text-align: center; }

.u-no-padding-right {
  padding-right: 0 !important; }

.u-no-padding-left {
  padding-left: 0 !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-tiny {
  margin-top: .8rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 14rem !important; }

.u-padding-top-small {
  padding-top: 1.5rem; }

.u-hidden {
  display: none !important; }

.slideout {
  width: 95vw; }

.u-no-padding {
  padding: 0; }

.button-gold-border {
  text-transform: uppercase;
  border: 1px solid #16A09E; }
  .button-gold-border:hover {
    border: 1px solid #d9963b; }

.u-list-inline {
  margin: 0; }
  .u-list-inline > li {
    display: inline-block;
    margin: 0 3rem; }

.u-link {
  color: #16A09E; }
  .u-link:hover {
    text-decoration: underline;
    cursor: pointer; }

.button {
  transition: background-color .4s; }
  .button, .button:link, .button:visited {
    transition: all .2s;
    position: relative;
    border: none;
    cursor: pointer; }
  .button:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7); }
  .button::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .button-primary {
    border-radius: 2rem;
    color: white;
    background-color: #16A09E;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.5rem;
    min-width: 6rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: 2px solid #16A09E;
    margin: 3rem auto 0 auto;
    filter: drop-shadow(2px 2px 4px #000); }
    .button-primary::after {
      background-color: #16A09E; }
    .button-primary:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      background: transparent; }
      .button-primary:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }

.arrow {
  background-color: #16A09E;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  border: 2px solid #16A09E;
  position: relative;
  transition: all .4s;
  display: block;
  filter: drop-shadow(2px 2px 4px #000); }
  .arrow:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7); }
  .arrow::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    background-color: #16A09E; }
  .arrow:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background: transparent; }
    .arrow:hover::after {
      transform: scaleX(1.6) scaleY(1.6);
      opacity: 0; }
  .arrow--main {
    margin: 4rem auto 0 auto;
    animation: jumpUpDown 1.5s ease-in infinite; }
  .arrow--yacht {
    animation: jumpLeftRight 1.5s ease-in infinite; }
  .arrow:hover {
    cursor: pointer;
    background-color: transparent;
    -webkit-animation: none;
    -o-animation: none;
    animation: none;
    transform: scale(1.1); }
  .arrow__down {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 40%;
    height: 40%;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg); }
  .arrow__up {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 40%;
    height: 40%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-135deg); }
  .arrow__right {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 40%;
    height: 40%;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-60%, -35%) rotate(-45deg); }
  .arrow__left {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 40%;
    height: 40%;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-40%, -35%) rotate(-225deg); }

@media screen and (max-width: 768px) {
  .other-yachts {
    display: none; } }

.other-yachts__heading {
  margin-top: 8vh;
  margin-bottom: 5vh;
  padding: 1rem; }

.other-yachts__header {
  width: 70%;
  height: 6rem;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); }

.other-yachts__yachts {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dca17c;
  height: 22rem; }
  @media only screen and (max-width: 768px) {
    .other-yachts__yachts {
      flex-wrap: wrap; } }
  .other-yachts__yachts-link--1 {
    position: relative;
    flex: 1;
    margin-left: .5rem;
    margin-right: .5rem; }
    @media only screen and (max-width: 768px) {
      .other-yachts__yachts-link--1 {
        width: 50%; } }
  .other-yachts__yachts-link--2, .other-yachts__yachts-link--3, .other-yachts__yachts-link--4 {
    flex: 1;
    position: relative;
    margin-right: .5rem; }
    @media only screen and (max-width: 768px) {
      .other-yachts__yachts-link--2, .other-yachts__yachts-link--3, .other-yachts__yachts-link--4 {
        width: 50%; } }
  .other-yachts__yachts-link--5 {
    position: relative;
    flex: 1;
    margin-right: .5rem; }
    @media only screen and (max-width: 768px) {
      .other-yachts__yachts-link--5 {
        width: 50%; } }
  .other-yachts__yachts-link:hover {
    z-index: 666; }
  .other-yachts__yachts-image {
    height: 21rem;
    width: 100%;
    transition: all .4s;
    z-index: 10;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center; }
    .other-yachts__yachts-image:hover {
      z-index: 666; }
    .other-yachts__yachts-image--1 {
      background-image: url("/yachts/monte_carlo.jpg");
      z-index: 333; }
    .other-yachts__yachts-image--2 {
      background-image: url("/yachts/monte_carlo_2.jpg");
      z-index: 333; }
      @media only screen and (max-width: 768px) {
        .other-yachts__yachts-image--2 {
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%); } }
    .other-yachts__yachts-image--3 {
      background-image: url("/yachts/cranchi_m.jpg"); }
      @media only screen and (max-width: 768px) {
        .other-yachts__yachts-image--3 {
          -webkit-clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%); } }
    .other-yachts__yachts-image--4 {
      background-image: url("/yachts/azimut_magellano.jpg"); }
      @media only screen and (max-width: 768px) {
        .other-yachts__yachts-image--4 {
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%); } }
    .other-yachts__yachts-image--5 {
      background-image: url("/yachts/catamaran.jpg"); }
    .other-yachts__yachts-image:hover {
      z-index: 200;
      cursor: pointer;
      transform: scale(1.1);
      -webkit-filter: grayscale(0);
      filter: grayscale(0); }

.small-fleet {
  height: 100%;
  padding-left: .4rem;
  background-color: #dca17c;
  position: absolute;
  top: 0;
  right: 0;
  transition: width .4s;
  width: 20%;
  z-index: 200; }
  @media screen and (max-width: 768px) {
    .small-fleet {
      display: none; } }
  .small-fleet__box {
    height: 100%; }
  .small-fleet--collapsed {
    width: 0; }
    .small-fleet--collapsed .small-fleet__button {
      left: -5.5rem; }
  .small-fleet__button {
    position: absolute;
    top: .5rem;
    left: 1.5rem;
    width: 4rem;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    font-size: 1.5rem;
    color: white;
    z-index: 50;
    transition: all .4s; }
    .small-fleet__button-span {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: .5rem;
      line-height: 1px;
      transition: transform .4s; }
      .small-fleet__button-span--collapsed {
        transform: translate(-50%, -50%) rotate(180deg); }
    .small-fleet__button:hover {
      cursor: pointer;
      transform: scale(1.05); }
    .small-fleet__button:focus {
      outline: 0; }
  .small-fleet__image-box {
    height: 19.5%;
    margin-bottom: 1.4%; }
    .small-fleet__image-box:hover {
      z-index: 200; }
  .small-fleet__image {
    height: 100%;
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-size: cover;
    background-position: center;
    transition: all .4s;
    z-index: 100; }
    .small-fleet__image:hover {
      z-index: 201;
      cursor: pointer;
      transform: scale(1.1);
      -webkit-filter: grayscale(0);
      filter: grayscale(0); }
    .small-fleet__image--selected {
      -webkit-filter: grayscale(0);
      filter: grayscale(0); }
    .small-fleet__image--first {
      background-image: url(/yachts/monte_carlo.jpg);
      margin-bottom: 0.625%; }
    .small-fleet__image--second {
      background-image: url(/yachts/monte_carlo_2.jpg);
      margin-bottom: 0.625%; }
    .small-fleet__image--third {
      background-image: url(/yachts/azimut_magellano.jpg);
      margin-bottom: 0.625%; }
    .small-fleet__image--fourth {
      background-image: url(/yachts/cranchi_m.jpg);
      margin-bottom: 0.625%; }
    .small-fleet__image--fifth {
      background-image: url(/yachts/catamaran.jpg); }
  .small-fleet__selected {
    position: absolute;
    left: 1rem;
    z-index: 300;
    transition: all .7s; }
    .small-fleet__selected--1 {
      top: 1rem; }
    .small-fleet__selected--2 {
      top: 21%; }
    .small-fleet__selected--3 {
      top: 41%; }
    .small-fleet__selected--4 {
      top: 61%; }
    .small-fleet__selected--5 {
      top: 82.5%; }
    .small-fleet__selected-icon {
      height: 3rem;
      width: 3rem;
      background-image: url("/icons/selected-icon.png");
      background-size: contain;
      background-repeat: no-repeat; }

.other-island__body {
  display: flex;
  position: relative; }

.other-island__image {
  -webkit-background-size: cover;
  background-size: cover;
  width: 39%;
  height: 19rem; }
  .other-island__image--first {
    background-image: url("https://res.cloudinary.com/dlqvkenro/image/upload/v1542115098/mallorca.jpg");
    -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%); }
  .other-island__image--middle {
    background-image: url("https://res.cloudinary.com/dlqvkenro/image/upload/v1542125749/ibiza.jpg");
    -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
    clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
    margin: 0 -3%; }
  .other-island__image--last {
    background-image: url("https://res.cloudinary.com/dlqvkenro/image/upload/v1542668562/assas.jpg");
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%); }

.other-island__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #dca17c;
  z-index: 0; }

.other-island__header {
  color: white; }

.other-island__heading {
  position: absolute;
  top: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: .5rem;
  width: 20rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .other-island__heading-inner {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: 1px solid #dee2e6; }
  .other-island__heading--1 {
    left: 1rem; }
  .other-island__heading--2 {
    left: 35%; }
  .other-island__heading--3 {
    left: 68%; }

.balears-composition {
  margin: 8vh 0; }
  .balears-composition__container {
    height: 95vh;
    width: 100%;
    position: relative; }
    @media only screen and (max-width: 768px) {
      .balears-composition__container {
        height: 190vh; } }
  .balears-composition__left, .balears-composition__right {
    height: 100%;
    width: 50%;
    position: absolute;
    display: flex; }
    @media only screen and (max-width: 768px) {
      .balears-composition__left, .balears-composition__right {
        width: 100%; } }
  .balears-composition__left {
    top: 0;
    left: 0; }
    .balears-composition__left-image {
      position: absolute;
      top: 0;
      left: 0;
      height: 95vh;
      width: 50%;
      -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
      z-index: 1;
      background-image: url("https://res.cloudinary.com/dlqvkenro/image/upload/v1542970712/cypelekstock.jpg");
      background-size: cover;
      background-position-x: center; }
      .balears-composition__left-image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 95vh;
        width: 50%;
        background-color: #dca17c;
        -webkit-clip-path: polygon(0 0, 100% 0, 88% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 88% 100%, 0 100%);
        z-index: 0; }
    .balears-composition__left-thumb {
      height: 20rem;
      width: 60%;
      position: absolute;
      top: 7rem;
      left: 35%;
      background-color: white;
      -webkit-clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
      clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
      z-index: 2;
      padding: 1rem; }
      .balears-composition__left-thumb-image {
        position: absolute;
        top: 1rem;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        background-size: cover;
        -webkit-clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
        clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%); }
    .balears-composition__left-text {
      position: absolute;
      top: 50vh;
      left: 50%; }
  .balears-composition__right {
    top: 0;
    right: 0; }
    @media only screen and (max-width: 768px) {
      .balears-composition__right {
        right: auto;
        left: 0;
        top: 95vh; } }
    .balears-composition__right-image {
      position: absolute;
      top: 0;
      right: 0;
      height: 95vh;
      width: 48%;
      -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
      z-index: 2;
      padding: 1rem;
      background-position: -45rem 0; }
      .balears-composition__right-image-overlay {
        position: absolute;
        top: 0;
        right: 0;
        height: 95vh;
        width: 48%;
        background-color: #dca17c;
        -webkit-clip-path: polygon(12% 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(12% 0, 100% 0, 100% 100%, 0 100%);
        z-index: 0; }
    .balears-composition__right-thumb {
      height: 20rem;
      width: 60%;
      position: absolute;
      top: 50vh;
      right: 35%;
      background-size: cover;
      background-color: white;
      -webkit-clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
      clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
      z-index: 2;
      padding: 1rem; }
      .balears-composition__right-thumb-image {
        position: absolute;
        top: 1rem;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        background-size: cover;
        -webkit-clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
        clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%); }
    .balears-composition__right-text {
      position: absolute;
      top: 7rem;
      right: 45%; }
  .balears-composition__paragraph {
    margin-top: 1rem;
    font-size: 1.5rem; }

.fleet-manager {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  width: 30rem;
  height: 3rem;
  display: flex;
  z-index: 200; }
  .fleet-manager-col {
    height: 100%;
    width: 33.33%;
    border: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white; }
    .fleet-manager-col--selected {
      background-color: #dca17c; }
      .fleet-manager-col--selected span {
        color: white;
        font-weight: 700;
        font-size: 1.5rem; }
    .fleet-manager-col span {
      font-size: 1.3rem;
      text-transform: uppercase; }
    .fleet-manager-col--1 {
      border-top-left-radius: .5rem;
      border-bottom-left-radius: .5rem; }
    .fleet-manager-col--2 {
      border-left: 0;
      border-right: 0;
      cursor: pointer; }
      .fleet-manager-col--2:hover {
        background-color: #dee2e6; }
    .fleet-manager-col--3 {
      border-top-right-radius: .5rem;
      border-bottom-right-radius: .5rem;
      cursor: pointer; }
      .fleet-manager-col--3:hover {
        background-color: #dee2e6; }

.card {
  min-height: 20rem;
  display: flex;
  flex-direction: row;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  position: relative; }
  .card__heading {
    color: #16A09E; }
  .card__left {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem; }
    @media only screen and (max-width: 1300px) {
      .card__left {
        width: 80%;
        padding: 1rem; } }
    @media only screen and (max-width: 950px) {
      .card__left {
        width: 100%; } }
  .card__text {
    font-size: 1.3rem;
    color: black; }
  .card__right {
    height: 20.5rem;
    width: 40%;
    background-image: url("/mallorca.jpg");
    background-size: cover;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 30% 100%, 0% 38%);
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 30% 100%, 0% 38%);
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    border-radius: .5rem; }
    @media only screen and (max-width: 1300px) {
      .card__right {
        width: 20%;
        -webkit-clip-path: none;
        clip-path: none; } }
    @media only screen and (max-width: 950px) {
      .card__right {
        display: none; } }
  .card__button {
    height: 3rem;
    width: 25%;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    color: #16A09E;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    border-radius: .5rem;
    border: 1px solid #dee2e6;
    background-color: white;
    position: absolute;
    bottom: 1rem;
    left: 1rem; }
    @media screen and (max-width: 768px) {
      .card__button {
        width: 50%; } }
    .card__button:hover {
      background-color: #dee2e6;
      cursor: pointer; }

@media screen and (max-width: 768px) {
  .balears-slider {
    position: relative; } }

.balears-slider--order-1 {
  order: 1; }

.balears-slider--order-2 {
  order: 2; }

.balears-slider__overlay {
  height: 90vh;
  width: 55.5%;
  background-color: #dca17c;
  position: relative; }
  @media screen and (max-width: 768px) {
    .balears-slider__overlay {
      position: absolute;
      width: 100%; } }

.balears-slider__inner {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 8; }

.balears-slider__container {
  margin-top: 15vh;
  height: 90vh;
  display: flex;
  position: relative; }

.balears-slider__image {
  position: absolute;
  top: .4%;
  bottom: .4%;
  left: .3%;
  right: .3%;
  background-size: cover; }

.balears-slider__slider {
  position: absolute;
  top: .4%;
  bottom: .4%;
  left: .3%;
  right: .3%; }
  .balears-slider__slider .mask {
    height: 100% !important;
    width: 100% !important; }

.balears-slider__pagination {
  position: absolute;
  left: 2rem;
  bottom: 1rem;
  height: 2rem;
  width: 8rem;
  z-index: 444;
  display: flex; }
  .balears-slider__pagination-dot {
    margin: 0 .3rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    border-radius: 50%;
    cursor: pointer; }
    .balears-slider__pagination-dot--active {
      background-color: #dca17c;
      border: 2px solid white; }
  .balears-slider__pagination--slider {
    display: flex; }
    @media screen and (max-width: 768px) {
      .balears-slider__pagination--slider {
        display: none; } }
  .balears-slider__pagination--caption {
    display: none; }
    @media screen and (max-width: 768px) {
      .balears-slider__pagination--caption {
        display: flex; } }

.balears-slider__caption {
  opacity: 0;
  -webkit-animation: moveInLeft .7s ease-in;
  animation: moveInLeft .7s ease-in;
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
  .balears-slider__caption-container {
    margin-left: 3%;
    height: 90vh;
    width: 40%;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 768px) {
      .balears-slider__caption-container {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: .4%;
        bottom: .4%;
        left: .3%;
        right: .3%;
        z-index: 222;
        margin-left: 0;
        color: white;
        padding: 1rem; }
        .balears-slider__caption-container p {
          text-shadow: 2px 2px black; } }

.office {
  width: 100%;
  padding-top: 4rem; }
  .office__row {
    width: 90%;
    margin: 0 auto;
    height: 20rem;
    display: flex;
    position: relative; }
  @media screen and (max-width: 768px) {
    .office__col {
      position: absolute;
      top: 0;
      left: 0; } }
  .office__col-list {
    color: black;
    padding-top: 1rem;
    list-style: none; }
    @media screen and (max-width: 768px) {
      .office__col-list {
        color: white; } }
    .office__col-list > li {
      font-size: 1.4rem; }
  .office__col--big {
    height: 100%;
    width: 70%; }
    @media screen and (max-width: 768px) {
      .office__col--big {
        width: 100%;
        filter: brightness(20%); } }
  .office__col--small {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    padding: 2rem; }
    @media screen and (max-width: 768px) {
      .office__col--small {
        width: 100%;
        z-index: 190; } }
  .office__col--bottom {
    text-align: right;
    justify-content: flex-end; }
  .office__col--poland {
    background-image: url("/ayc_panorama.png");
    background-size: cover;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }
    .office__col--poland--overlay {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #dca17c;
      transform: translate(-1rem, -1rem);
      z-index: 0;
      filter: brightness(100%); }
  .office__col--mallorca {
    background-image: url("https://res.cloudinary.com/dlqvkenro/image/upload/v1544704989/ayc_panorama-mallorca.png");
    background-size: cover;
    background-position: 0;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }
    .office__col--mallorca--overlay {
      position: absolute;
      top: 0;
      right: 0;
      background-color: #dca17c;
      transform: translate(1rem, 1rem);
      z-index: 0;
      filter: brightness(100%); }
  @media screen and (max-width: 768px) {
    .office__header {
      color: white; } }

.car__slider-container {
  width: 90%;
  margin: 3rem auto; }

.car__slider-header {
  margin: 1rem 0;
  display: flex;
  background-color: #dca17c;
  position: relative; }

.car__slider-thumbnail {
  height: 15rem;
  flex: 1;
  margin: .3rem;
  background-size: cover;
  cursor: pointer; }
  .car__slider-thumbnail--1 {
    background-image: url("/cars/maseratti.jpg"); }
  .car__slider-thumbnail--2 {
    background-image: url("/cars/gls.jpg"); }
  .car__slider-thumbnail--3 {
    background-image: url("/cars/gle.jpg"); }
  .car__slider-thumbnail--4 {
    background-image: url("/cars/vclass-6.jpg"); }
  .car__slider-thumbnail--5 {
    background-image: url("/cars/vclass-7.jpg"); }
  .car__slider-thumbnail-selected {
    top: .7rem; }
    .car__slider-thumbnail-selected--1 {
      left: .7rem; }
    .car__slider-thumbnail-selected--2 {
      left: 21%; }
    .car__slider-thumbnail-selected--3 {
      left: 41%; }
    .car__slider-thumbnail-selected--4 {
      left: 61%; }
    .car__slider-thumbnail-selected--5 {
      left: 81%; }

.car__slider-body {
  display: flex;
  width: 100%;
  margin: 5rem auto; }
  .car__slider-body--left {
    width: 25%; }
    @media screen and (max-width: 768px) {
      .car__slider-body--left {
        width: 100%; } }
  .car__slider-body--right {
    margin-left: 10%;
    width: 65%; }
    @media screen and (max-width: 768px) {
      .car__slider-body--right {
        margin-left: 0;
        width: 100%; } }
  @media screen and (max-width: 768px) {
    .car__slider-body {
      flex-direction: column; } }

.car__slider-details {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem; }

.car__slider-detail {
  flex: 1;
  min-width: 10rem;
  padding: 1rem;
  margin: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
  border: 1px solid #dee2e6;
  font-size: 1.3rem; }
  .car__slider-detail--span {
    font-weight: 700; }

.car__slider-gallery {
  margin-top: 2rem;
  min-height: 16rem;
  display: flex;
  flex-wrap: wrap; }
  .car__slider-gallery-image {
    flex: 1;
    margin: 0 .5rem;
    background-size: cover;
    cursor: pointer; }
    @media screen and (max-width: 768px) {
      .car__slider-gallery-image {
        width: 48%;
        margin: .5rem 1%;
        flex: unset;
        height: 20rem; } }

.nav {
  z-index: 2000; }
  .nav__logo {
    position: absolute;
    top: 2rem;
    left: 3rem;
    z-index: 40;
    filter: drop-shadow(0 0 4px black); }
  .nav__checkbox {
    display: none; }
  .nav__image {
    position: fixed;
    top: 3rem;
    right: 3rem;
    height: 6rem;
    width: 6rem;
    background-color: #dca17c;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
    text-align: center;
    cursor: pointer;
    margin: 0;
    opacity: .8;
    transition: all .4s; }
    .nav__image:hover {
      opacity: 1;
      transform: scale(1.1); }
    .nav__image-icon {
      display: block;
      width: 5rem;
      height: 5rem;
      position: absolute;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("/icons/nav/home-icon.png");
      background-size: contain; }
    @media screen and (max-width: 768px) {
      .nav__image {
        display: none; } }
  .nav__button {
    position: fixed;
    top: 3rem;
    right: 2rem;
    display: none;
    height: 7rem;
    width: 7rem;
    background-color: #fff;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    margin: 0; }
    @media screen and (max-width: 768px) {
      .nav__button {
        display: block; } }
  .nav__icon {
    margin-top: 3.5rem;
    position: relative; }
    .nav__icon, .nav__icon::before, .nav__icon::after {
      width: 3rem;
      height: 2px;
      background-color: black;
      display: inline-block; }
    .nav__icon::before, .nav__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .nav__icon::before {
      top: -.8rem; }
    .nav__icon::after {
      top: .8rem; }
  .nav__button:hover .nav__icon::before {
    top: -1rem; }
  .nav__button:hover .nav__icon::after {
    top: 1rem; }
  .nav__checkbox:checked + .nav__button > .nav__icon {
    background-color: transparent; }
  .nav__checkbox:checked + .nav__button > .nav__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .nav__checkbox:checked + .nav__button > .nav__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .nav__round {
    width: 6rem;
    height: 6rem;
    filter: drop-shadow(0 0 4px black); }
  .nav__list {
    height: 8rem;
    width: 1px;
    overflow: hidden;
    margin: 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    transition: width .4s; }
    .nav__list--expand ul {
      transition: all .4s;
      width: 40rem; }
    .nav__list--collapsed ul {
      transition: all .4s;
      width: 1px;
      opacity: 0; }
    .nav__list > li {
      font-size: 1.6rem;
      text-shadow: 2px 2px 5px #000;
      padding: 0 1rem; }
      .nav__list > li > a {
        color: white; }
  .nav__dropdown .dropdown-toggle {
    width: 4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    font-size: 1.2rem; }
  .nav__dropdown--pl .dropdown-toggle {
    background-image: url(/flags/pl-flag.jpg); }
  .nav__dropdown--en .dropdown-toggle {
    background-image: url(/flags/en-flag.jpg); }
  .nav__dropdown--es .dropdown-toggle {
    background-image: url(/flags/es-flag.jpg); }

.yachts__row {
  display: flex;
  height: 90vh;
  background: #f7f5ed;
  margin-bottom: 15vh;
  position: relative; }

.yachts__record {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%; }
  .yachts__record--2 {
    left: auto;
    right: 0; }

.yachts__overlay {
  height: 90vh;
  width: 100%;
  position: absolute;
  background-color: #dca17c;
  z-index: 0;
  top: 0;
  left: 0; }
  .yachts__overlay--1 {
    -webkit-clip-path: polygon(0 0, 75% 0%, 97% 100%, 0% 100%);
    clip-path: polygon(0 0, 75% 0%, 97% 100%, 0% 100%); }
  .yachts__overlay--2 {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%); }
  .yachts__overlay--3 {
    -webkit-clip-path: polygon(0 0, 97% 0, 75% 100%, 0 100%);
    clip-path: polygon(0 0, 97% 0, 75% 100%, 0 100%); }
  .yachts__overlay--4 {
    -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%); }

.yachts__header {
  position: absolute;
  padding: 2rem 4rem;
  width: 50%;
  z-index: 20;
  background-color: white;
  -webkit-clip-path: polygon(0 0, 96% 0%, 100% 100%, 4% 100%);
  clip-path: polygon(0 0, 96% 0%, 100% 100%, 4% 100%);
  text-align: center; }
  .yachts__header--1 {
    top: 3rem;
    left: 2rem; }
  .yachts__header--2 {
    bottom: 3rem;
    right: 2rem; }
  .yachts__header-anim {
    -webkit-animation: moveInRight 1s ease-in;
    animation: moveInRight 1s ease-in;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

.yachts__thumb {
  position: absolute;
  height: 15rem;
  width: 50%;
  background: white;
  z-index: 40;
  -webkit-clip-path: polygon(0 0, 90% 0%, 100% 100%, 9% 100%);
  clip-path: polygon(0 0, 90% 0%, 100% 100%, 9% 100%); }
  .yachts__thumb--1 {
    bottom: 8rem;
    right: -5rem; }
  .yachts__thumb--2 {
    top: 6rem;
    left: -5rem; }
  .yachts__thumb-anim {
    -webkit-animation: moveInLeft 1s ease-in;
    animation: moveInLeft 1s ease-in;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

.yachts__thumbnail {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 93%;
  background-size: cover;
  background-position: center;
  padding: .5rem;
  -webkit-clip-path: polygon(0 0, 90% 0%, 100% 100%, 9% 100%);
  clip-path: polygon(0 0, 90% 0%, 100% 100%, 9% 100%); }

.yachts__slider {
  height: 90vh;
  width: 100%; }
  .yachts__slider .mask {
    height: 100%;
    width: 100% !important; }
  .yachts__slider--big {
    height: 99%;
    width: 99.5%;
    margin: auto;
    padding-top: .2%; }
  .yachts__slider--1 {
    -webkit-clip-path: polygon(0 0, 75% 0, 95% 100%, 0 100%);
    clip-path: polygon(0 0, 75% 0, 95% 100%, 0 100%); }
  .yachts__slider--2 {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 22% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 22% 100%); }
  .yachts__slider--3 {
    -webkit-clip-path: polygon(0 0, 95% 0, 75% 100%, 0 100%);
    clip-path: polygon(0 0, 95% 0, 75% 100%, 0 100%); }
  .yachts__slider--4 {
    -webkit-clip-path: polygon(22% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(22% 0, 100% 0, 100% 100%, 0 100%); }
  .yachts__slider-anim {
    -webkit-animation: blackAndWhite .7s ease-in;
    animation: blackAndWhite .7s ease-in;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

.yachts__catamaran {
  width: 100%;
  height: 90vh;
  margin-bottom: 15vh;
  background-color: #dca17c;
  position: relative; }
  .yachts__catamaran-heading {
    color: white; }
  .yachts__catamaran-header {
    position: absolute;
    width: 35rem;
    height: 7rem;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    padding: .5rem;
    border-radius: .2rem;
    color: white; }
    .yachts__catamaran-header-inner {
      width: 100%;
      height: 100%;
      border: 1px solid white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: .2rem; }
    .yachts__catamaran-header-left {
      top: 2rem;
      left: 4rem; }
    .yachts__catamaran-header-right {
      top: 2rem;
      right: 4rem; }
  .yachts__catamaran-thumbnails {
    position: absolute;
    bottom: 2rem;
    right: 5rem;
    width: 55rem;
    height: 15rem;
    background-color: #fff;
    z-index: 100;
    -webkit-clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);
    clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);
    display: flex; }
  .yachts__catamaran-thumbnail {
    margin-top: 1%;
    height: 92%;
    width: 34%;
    background-size: cover;
    -webkit-clip-path: polygon(20% 0, 100% 0, 80% 100%, 0% 100%);
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0% 100%);
    position: relative; }
    .yachts__catamaran-thumbnail-overlay {
      margin-left: 2%;
      margin-top: 1%;
      height: 92%;
      width: 34%;
      position: absolute;
      background-color: #dca17c;
      z-index: -1; }
      .yachts__catamaran-thumbnail-overlay--1 {
        -webkit-clip-path: polygon(20% 0, 100% 0, 84% 100%, 0% 100%);
        clip-path: polygon(20% 0, 100% 0, 84% 100%, 0% 100%);
        top: 0;
        left: 0; }
      .yachts__catamaran-thumbnail-overlay--2 {
        -webkit-clip-path: polygon(16% 0, 100% 0, 84% 100%, 0% 100%);
        clip-path: polygon(16% 0, 100% 0, 84% 100%, 0% 100%);
        top: 0;
        left: 31%; }
      .yachts__catamaran-thumbnail-overlay--3 {
        -webkit-clip-path: polygon(16% 0, 100% 0, 80% 100%, 0% 100%);
        clip-path: polygon(16% 0, 100% 0, 80% 100%, 0% 100%);
        top: 0;
        left: 62%; }
    .yachts__catamaran-thumbnail--1 {
      margin-left: 2%;
      background-image: url("https://res.cloudinary.com/dlqvkenro/image/upload/v1542315796/23122014173601.jpg"); }
    .yachts__catamaran-thumbnail--2 {
      background-image: url("https://res.cloudinary.com/dlqvkenro/image/upload/v1542315796/sunday-lagoon-420100363310000100000_lagoon420_interior.normal.jpg");
      margin: 1% -3% 1% -3%; }
    .yachts__catamaran-thumbnail--3 {
      background-image: url("https://res.cloudinary.com/dlqvkenro/image/upload/v1542315796/Lagoon-420-3925_0m_1.jpg"); }

.bg-video {
  height: 95vh;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 8vh;
  -webkit-transition: height .4s;
  -moz-transition: height .4s;
  -ms-transition: height .4s;
  -o-transition: height .4s;
  transition: height .4s;
  position: relative;
  display: flex; }
  .bg-video--collapsed {
    height: 0;
    margin-bottom: 0; }
  .bg-video__content {
    height: 100%;
    flex: 1; }
    .bg-video__content::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      background-color: rgba(0, 0, 0, 0.2); }
    .bg-video__content div {
      height: 100%;
      width: 100%; }
    .bg-video__content video {
      object-fit: cover; }
  .bg-video__video {
    height: 100%;
    width: 100%;
    object-fit: fill; }
  .bg-video__list {
    position: absolute;
    bottom: .7rem;
    right: 1rem;
    width: 40%;
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content: space-around; }
    @media screen and (max-width: 768px) {
      .bg-video__list {
        width: 80%; } }
    .bg-video__list li {
      cursor: pointer;
      text-transform: uppercase;
      color: #d1d1d1;
      text-align: center;
      font-size: 1.4rem; }
    .bg-video__list--selected {
      color: #dca17c !important;
      font-weight: 900; }
  .bg-video__sound {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    width: 3rem;
    height: 4rem;
    z-index: 50; }
    .bg-video__sound-icon {
      height: 100%;
      width: 100%;
      background-size: contain;
      background-position: center;
      opacity: .8;
      background-repeat: no-repeat;
      cursor: pointer; }
      .bg-video__sound-icon--on {
        background-image: url("/icons/sound-on-icon.png"); }
      .bg-video__sound-icon--off {
        background-image: url("/icons/sound-off-icon.png"); }
  .bg-video__expand {
    position: absolute;
    bottom: 0;
    right: 1.5rem;
    width: 3rem;
    height: 4rem;
    z-index: 50; }
    .bg-video__expand-icon {
      height: 100%;
      width: 100%;
      background-size: contain;
      background-position: center;
      opacity: .8;
      background-repeat: no-repeat;
      cursor: pointer;
      background-image: url("/icons/full-screen-icon.png"); }

.vjs-loading-spinner {
  width: 50px !important;
  height: 50px !important; }

.vjs-poster {
  background-size: cover; }

.vjs-big-play-button {
  display: none;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 8rem !important;
  height: 8rem !important;
  border-radius: 50% !important; }
  .vjs-big-play-button span {
    width: 10px !important;
    height: 10px !important;
    position: absolute !important;
    top: 24% !important;
    left: 35% !important;
    transform: translate(-50%, -50%) !important; }

.fleet {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin-bottom: 10vh; }

.composition {
  margin-top: 3rem;
  height: 27rem;
  width: 100%;
  display: flex; }
  .composition__box {
    flex: 1;
    margin-right: 1rem; }
    .composition__box:last-of-type {
      margin-right: 0; }
  .composition__slider {
    max-height: 24rem !important; }
    .composition__slider div {
      max-height: 24rem !important; }
    .composition__slider--first {
      -webkit-clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%); }
    .composition__slider--middle {
      -webkit-clip-path: polygon(0 0, 85% 0%, 100% 100%, 15% 100%);
      clip-path: polygon(0 0, 85% 0%, 100% 100%, 15% 100%);
      width: 130%;
      margin-left: -15%; }
      .composition__slider--middle div {
        width: 130% !important; }
    .composition__slider--last {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%); }

.footer {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  min-height: 30rem; }
  .footer__tripadvisor {
    height: 8rem;
    width: 25rem;
    margin-right: 1rem;
    border: 1px solid black;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: white; }
    @media screen and (max-width: 768px) {
      .footer__tripadvisor {
        margin-bottom: 2rem; } }
    .footer__tripadvisor-header {
      -webkit-border-radius: 1.5rem;
      -moz-border-radius: 1.5rem;
      border-radius: 1.5rem;
      height: 100%;
      background-color: #16A09E;
      color: white;
      text-transform: uppercase;
      font-size: 1.4rem;
      padding: 1rem;
      text-align: center; }
  .footer__social {
    display: flex;
    align-items: center; }
    .footer__social-row {
      display: flex;
      justify-content: center; }
      @media screen and (max-width: 768px) {
        .footer__social-row {
          flex-direction: column;
          align-items: center; } }
    .footer__social-link {
      color: black; }
      .footer__social-link:hover {
        color: black; }
    .footer__social--2 {
      margin-left: 1rem; }
  .footer__bottom {
    margin-top: 10rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 768px) {
      .footer__bottom {
        flex-direction: column; } }
  .footer__text {
    color: black;
    font-size: 1.5rem;
    margin: 0;
    padding-left: 1rem;
    line-height: 16px; }
  .footer__instagram {
    margin-left: -8rem; }
    .footer__instagram--2 {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 30rem;
      height: 30rem;
      -webkit-background-size: cover;
      background-size: cover;
      background-image: url("/ig_phone.jpg");
      -webkit-clip-path: polygon(2% 1%, 100% 0, 100% 100%, 70% 100%);
      clip-path: polygon(2% 1%, 100% 0, 100% 100%, 70% 100%); }
    .footer__instagram--overlay {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 30rem;
      height: 30rem;
      background-color: #dca17c;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 100%); }

.yacht {
  background-color: #f7f5ed; }
  .yacht__container {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 768px) {
      .yacht__container {
        flex-direction: column; } }
  .yacht__heading-primary {
    text-shadow: none; }
    @media only screen and (max-width: 768px) {
      .yacht__heading-primary {
        margin-left: 0;
        margin-top: 3rem; } }
  .yacht__heading-secondary {
    margin: 7rem 0 2rem 0; }
  .yacht__header {
    background-color: #f7f5ed;
    position: relative;
    width: 60%; }
    @media only screen and (max-width: 768px) {
      .yacht__header {
        width: 100%; } }
  .yacht__slider {
    height: calc(90vh - 1.5rem);
    position: relative;
    width: 99%; }
    @media only screen and (max-width: 768px) {
      .yacht__slider {
        height: 100%;
        width: 100%; } }
    .yacht__slider .mask {
      height: 100%;
      width: 100% !important; }
    .yacht__slider-overlay {
      height: calc(90vh - 1.5rem);
      width: 100%;
      background-color: #dca17c; }
      @media only screen and (max-width: 768px) {
        .yacht__slider-overlay {
          height: 90vh; } }
    .yacht__slider-thumb {
      position: absolute;
      bottom: 10rem;
      right: -8rem;
      width: 50%;
      height: 20rem;
      background-color: #f7f5ed;
      -webkit-clip-path: polygon(0 0, 85% 0%, 100% 100%, 15% 100%);
      clip-path: polygon(0 0, 85% 0%, 100% 100%, 15% 100%); }
    .yacht__slider-thumbnail {
      margin: .5rem;
      -webkit-clip-path: polygon(0 0, 85% 0%, 100% 100%, 15% 100%);
      clip-path: polygon(0 0, 85% 0%, 100% 100%, 15% 100%);
      background-image: url("https://res.cloudinary.com/dlqvkenro/image/upload/v1541669139/MONTE_CARLO_4.jpg");
      background-size: cover;
      width: 98%;
      height: 95%; }
    .yacht__slider-button {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 50; }
      .yacht__slider-button a {
        filter: none !important;
        text-decoration: none; }
        .yacht__slider-button a:hover {
          text-decoration: none;
          color: white;
          background-color: #16A09E; }
  .yacht__row {
    margin: 0; }
  .yacht__main-info {
    width: 45%;
    margin-left: 3%;
    z-index: 200; }
    @media only screen and (max-width: 768px) {
      .yacht__main-info {
        width: 100%; } }
  .yacht__description {
    font-size: 1.6rem;
    padding: .5rem 0;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 0; }
    @media only screen and (max-width: 768px) {
      .yacht__description {
        margin: 0; } }
  .yacht__small-specification {
    display: flex;
    padding-bottom: .5rem;
    border-bottom: 1px solid #dee2e6; }
    .yacht__small-specification-col {
      display: flex;
      flex: 1;
      font-size: 1.6rem;
      align-items: center; }
    .yacht__small-specification-text {
      padding-left: 1rem;
      font-weight: 700; }
  .yacht__throw {
    padding-top: 2rem;
    width: 95%;
    margin: 0 auto; }
  .yacht__specification {
    margin: 5vh 0; }
    .yacht__specification--not-collapsed {
      overflow: hidden;
      height: 0; }
    .yacht__specification--collapsed {
      overflow: hidden;
      min-height: 20rem; }
    .yacht__specification-header {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%; }
      .yacht__specification-header .arrow {
        margin-top: -1rem;
        margin-left: 2rem; }
        @media screen and (max-width: 768px) {
          .yacht__specification-header .arrow {
            margin-left: -2rem; } }
    .yacht__specification-body {
      margin-top: 2rem;
      transition: height .4s; }
  .yacht__table {
    font-size: 1.4rem; }
    .yacht__table-bold {
      font-weight: 700; }
  .yacht__gallery-heading {
    margin: 2rem 0;
    text-align: center; }
  .yacht__image {
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    cursor: pointer; }
    .yacht__image--big {
      height: 35rem; }
    .yacht__image--small {
      height: 24rem; }
      @media only screen and (max-width: 768px) {
        .yacht__image--small {
          height: 35rem; } }
    .yacht__image-container {
      padding: .5rem; }
      .yacht__image-container--big {
        width: 50%; }
        @media only screen and (max-width: 768px) {
          .yacht__image-container--big {
            width: 100%; } }
      .yacht__image-container--small {
        width: 33.3333333%; }
        @media only screen and (max-width: 768px) {
          .yacht__image-container--small {
            width: 100%; } }
  .yacht__footer-text {
    font-size: 1.6rem;
    margin-left: 6rem; }
    @media only screen and (max-width: 768px) {
      .yacht__footer-text {
        margin-left: 0; } }

.VueCarousel-dot {
  display: block;
  margin-top: 10px !important;
  padding: 5px !important; }

.about {
  min-height: 40rem;
  padding: 0 0 2rem 0; }
  .about__heading {
    width: 31%;
    margin: 1rem auto; }
    .about__heading--big {
      font-size: 3rem; }
  .about__image {
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    cursor: pointer;
    transition: all .5s;
    position: absolute; }
    .about__image-box {
      width: 100%;
      min-height: 40rem;
      position: relative; }
    .about__image-mallorca {
      background-image: url("/mallorca-icon.png");
      height: 50rem;
      width: 40rem; }
      .about__image-mallorca--overlay {
        transform: translateX(-50%) scale(1.05);
        background-image: url("/mallorca-icon_overlay.png");
        z-index: 1; }
      .about__image-mallorca--center {
        top: 2rem;
        left: 50%;
        transform: translateX(-50%); }
      .about__image-mallorca--left {
        top: -5rem;
        left: 15rem;
        transform: scale(0.6); }
    .about__image-minorka {
      background-image: url("/minorka-icon.png");
      height: 10rem;
      width: 20rem; }
      .about__image-minorka--overlay {
        transform: translateX(-50%) scale(1.1);
        background-image: url("/minorka-icon_overlay.png");
        z-index: 1; }
      .about__image-minorka--center {
        left: 70%;
        transform: translateX(-50%); }
      .about__image-minorka--left {
        left: 40rem;
        transform: scale(0.6); }
    .about__image-ibiza {
      background-image: url("/ibiza-icon.png");
      height: 10rem;
      width: 20rem;
      position: absolute;
      left: 40%;
      transform: translateX(-50%); }
      .about__image-ibiza--overlay {
        transform: translateX(-50%) scale(1.1);
        background-image: url("/ibiza-icon_overlay.png");
        z-index: 1; }
      .about__image-ibiza--center {
        top: 29rem;
        left: 40%;
        transform: translateX(-50%); }
      .about__image-ibiza--left {
        top: 20rem;
        left: 15rem;
        transform: scale(0.6); }
  .about__intro {
    height: 16rem;
    width: 31rem;
    position: absolute;
    bottom: 1.5rem;
    left: 3rem;
    border-radius: .2rem;
    background-color: rgba(0, 0, 0, 0.6);
    padding: .5rem;
    z-index: 5; }
    .about__intro-inner {
      height: 100%;
      width: 100%;
      border: 1px solid #dee2e6;
      border-radius: .2rem;
      padding: 1rem;
      position: relative; }
    .about__intro-button {
      position: absolute;
      bottom: 2.5rem;
      right: 3rem; }
      .about__intro-button a {
        color: #dca17c;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.4rem; }
    .about__intro-header {
      width: 100%; }
    .about__intro-heading {
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: white; }
    .about__intro-body {
      display: flex;
      padding-top: 1.5rem; }
      .about__intro-body > div {
        width: 50%; }
    .about__intro-text {
      color: white; }
    .about__intro-list {
      list-style: none;
      color: #dee2e6; }
      .about__intro-list > li {
        display: block; }
  .about__content {
    position: absolute;
    top: 5rem;
    left: 45%;
    width: 60rem;
    height: 25rem;
    border-radius: .2rem;
    padding: 1rem; }
    .about__content--mallorca {
      background-image: url("https://res.cloudinary.com/dlqvkenro/image/upload/v1542115098/mallorca.jpg");
      background-size: cover; }
    .about__content-inner {
      width: 100%;
      height: 100%;
      border-radius: .2rem;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 1rem; }
      .about__content-inner-2 {
        width: 100%;
        height: 100%;
        border: 1px solid #dee2e6;
        padding: 1rem; }
    .about__content-text {
      padding-top: 1rem;
      font-size: 1.3rem;
      color: white; }
    .about__content-button {
      position: absolute;
      bottom: 1rem;
      right: 1rem; }
      .about__content-button a {
        color: #dca17c;
        font-weight: 700;
        text-transform: uppercase; }
  .about__text {
    font-size: 1.5rem; }

.contact__header {
  margin-top: 10vh;
  margin-bottom: 2rem;
  background-image: url("/contact-us.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center; }

.contact__heading {
  padding: 2rem;
  color: white;
  width: 25%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 768px) {
    .contact__heading {
      width: 80%; } }

.contact__rules {
  padding: 1rem;
  font-size: 1.4rem; }

.contact__label {
  color: #b7b7b7;
  font-size: 1.4rem;
  width: 40%;
  justify-content: flex-start !important;
  padding: 0 3rem; }
  .contact__label--name, .contact__label--phone, .contact__label--email, .contact__label--textarea {
    background-position: left;
    background-repeat: no-repeat; }
  .contact__label--name {
    background-image: url(/icons/contact/name-icon.png); }
  .contact__label--phone {
    background-image: url(/icons/contact/phone-icon.png); }
  .contact__label--email {
    background-image: url(/icons/contact/email-icon.png); }
  .contact__label--textarea {
    background-image: url(/icons/contact/message-icon.png);
    width: 20%; }

.contact__input {
  width: 60%;
  background: none;
  border: none;
  padding: 0 1rem;
  font-size: 1.5rem; }
  .contact__input--textarea {
    height: 10.1rem;
    width: 80%; }
  .contact__input:focus {
    outline: none; }

.contact__field {
  margin: 1rem 0;
  border-bottom: 1px solid #dee2e6;
  align-items: baseline; }

.contact__button {
  height: 3.5rem;
  min-width: 18rem;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  color: #16A09E;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
  border: 1px solid #dee2e6;
  background-color: #f7f5ed;
  font-size: 1.2rem;
  cursor: pointer; }
  .contact__button-container {
    text-align: center; }

.contact__checkboxes {
  width: 100%;
  padding: 0;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  display: flex; }
  @media only screen and (max-width: 768px) {
    .contact__checkboxes {
      flex-direction: column;
      font-size: 1.3rem;
      padding: 0 4px; } }
  .contact__checkboxes-group {
    background-color: #f7f5ed;
    display: block;
    margin: 10px 0;
    position: relative;
    width: 50%; }
    @media only screen and (max-width: 768px) {
      .contact__checkboxes-group {
        width: 100%;
        margin: 0; } }
    .contact__checkboxes-group label {
      margin: 0;
      padding: 12px 30px;
      width: 100%;
      display: block;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden; }
      @media only screen and (max-width: 768px) {
        .contact__checkboxes-group label {
          padding: 8px 6px; } }
      .contact__checkboxes-group label:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        background-color: #16A09E;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
        z-index: -1; }
      .contact__checkboxes-group label:after {
        width: 32px;
        height: 32px;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in; }
        @media only screen and (max-width: 768px) {
          .contact__checkboxes-group label:after {
            right: 10px; } }
    .contact__checkboxes-group input:checked ~ label {
      color: #fff; }
      .contact__checkboxes-group input:checked ~ label:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1; }
      .contact__checkboxes-group input:checked ~ label:after {
        background-color: #54E0C7;
        border-color: #54E0C7; }
    .contact__checkboxes-group input {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden; }

.services {
  margin-top: 16vh;
  margin-bottom: 16vh; }
  .services-anim {
    -webkit-animation: blackAndWhite .7s ease-in;
    animation: blackAndWhite .7s ease-in;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  .services__row {
    display: flex; }
    .services__row--first, .services__row--third {
      background-color: white; }
  .services__col {
    display: flex;
    width: 48%; }
    .services__col:first-child {
      margin-right: 4%; }
    .services__col-inner {
      position: relative;
      height: 18rem;
      width: 60%; }
    .services__col--order-1 {
      order: 1; }
    .services__col--order-2 {
      order: 2; }
    .services__col-info {
      padding-left: 1rem;
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .services__col-info--1 {
        margin-left: 15%; }
      .services__col-info--3 {
        margin-left: -5%; }
    .services__col-text {
      padding-top: .5rem;
      font-size: 1.5rem; }
    .services__col-overlay {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #dca17c;
      height: 18rem;
      width: 100%;
      -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%); }
      .services__col-overlay--first {
        width: 132.5%; }
      .services__col-overlay--second {
        width: 101%; }
      .services__col-overlay--third {
        width: 91%; }
    .services__col-image {
      position: absolute;
      top: 0;
      left: 0;
      height: 18rem;
      width: 100%;
      -webkit-background-size: cover;
      background-size: cover;
      -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      transform: scale(0.97); }
      .services__col-image--first {
        width: 131%; }
      .services__col-image--third {
        width: 90%; }
  .services__image-overlay {
    background-color: #dca17c; }
    .services__image-overlay--first {
      -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%); }
    .services__image-overlay--second {
      -webkit-clip-path: polygon(20% 0, 100% 0, 90% 100%, 0% 100%);
      clip-path: polygon(20% 0, 100% 0, 90% 100%, 0% 100%); }

.offer {
  background-color: #f7f5ed;
  display: flex;
  flex-direction: column;
  position: relative; }
  .offer__row {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 580px) {
      .offer__row {
        position: relative;
        min-height: 65vh;
        margin-top: 5vh;
        flex-direction: column; } }
    .offer__row--space {
      margin-top: 10vh;
      width: 90%;
      margin-left: auto;
      margin-right: auto; }
    .offer__row--car {
      margin-bottom: 10vh; }
      @media only screen and (max-width: 768px) {
        .offer__row--car {
          flex-direction: row;
          margin-top: 0;
          height: 90vh; } }
  .offer__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 2;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }
    .offer__image--overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: white;
      z-index: 1; }
  .offer__col {
    width: 40%;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    position: relative; }
    @media only screen and (max-width: 580px) {
      .offer__col {
        width: 100%;
        height: 40vh; } }
    .offer__col--image {
      width: 60%; }
      @media only screen and (max-width: 580px) {
        .offer__col--image {
          width: 100%; } }
    .offer__col-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #dca17c;
      z-index: 0;
      transform: translate(-1rem, -1rem); }
    .offer__col--order-1 {
      order: 1; }
    .offer__col--order-2 {
      order: 2; }
      @media only screen and (max-width: 580px) {
        .offer__col--order-2 {
          order: 1; } }
  .offer__header::after {
    content: '';
    display: block;
    margin-top: .5rem;
    width: 8rem;
    border-bottom: 3px solid #dca17c; }
  .offer-car__left {
    height: 90vh;
    width: 40%;
    position: relative; }
    @media only screen and (max-width: 768px) {
      .offer-car__left {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        clip-path: none; } }
    .offer-car__left-overlay {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
      background-color: #dca17c; }
      @media only screen and (max-width: 768px) {
        .offer-car__left-overlay {
          clip-path: none; } }
    .offer-car__left-image {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-clip-path: polygon(0 0, 98% 0, 80% 100%, 0% 100%);
      clip-path: polygon(0 0, 98% 0, 80% 100%, 0% 100%);
      background-image: url(/road.jpg);
      background-size: cover;
      background-position-x: 50%; }
      @media only screen and (max-width: 768px) {
        .offer-car__left-image {
          clip-path: none; } }
    .offer-car__left-thumb {
      position: absolute;
      top: 7rem;
      right: -33rem;
      height: 12.7rem;
      width: 60rem;
      background: white;
      -webkit-clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
      clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%); }
      .offer-car__left-thumb-image {
        max-width: 100%;
        margin: .5rem; }
  .offer-car__main {
    height: 90vh;
    width: 40%;
    padding: 15rem 2rem; }
    .offer-car__main-paragraph {
      padding: 1rem 0;
      font-size: 1.6rem; }
      @media only screen and (max-width: 768px) {
        .offer-car__main-paragraph {
          color: white; } }
    @media only screen and (max-width: 768px) {
      .offer-car__main {
        width: 100%;
        z-index: 190;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1rem; } }
  .offer-car__right {
    height: 90vh;
    width: 30%;
    position: relative; }
    @media only screen and (max-width: 768px) {
      .offer-car__right {
        display: none; } }
    .offer-car__right-overlay--1 {
      position: absolute;
      height: 100%;
      width: 100%;
      -webkit-clip-path: polygon(18% 0, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(18% 0, 100% 0, 100% 100%, 0% 100%);
      background-color: #dca17c; }
    .offer-car__right-overlay--2 {
      position: absolute;
      height: 100%;
      width: 100%;
      -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
      background-color: #e4e4e4; }
    .offer-car__right-image {
      background-image: url(/car.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position-y: 80%;
      position: absolute;
      bottom: 3rem;
      left: -10%;
      width: 110%;
      height: 30rem; }
  @media screen and (max-width: 768px) {
    .offer-car-header {
      color: white; } }
  .offer-sport__left {
    height: 50vh;
    width: 100%;
    position: relative;
    margin-bottom: 3vh; }
    @media only screen and (max-width: 580px) {
      .offer-sport__left {
        height: 95vh; } }
    .offer-sport__left-overlay {
      height: 51vh;
      width: 100%;
      background-color: #dca17c; }
      @media only screen and (max-width: 580px) {
        .offer-sport__left-overlay {
          height: 96vh; } }
    .offer-sport__left-image {
      height: 50vh;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url(/sports.jpg);
      background-position: 0;
      background-size: cover;
      background-repeat: no-repeat; }
      @media only screen and (max-width: 580px) {
        .offer-sport__left-image {
          height: 95vh; } }
  .offer-sport__intro {
    position: absolute;
    width: 55rem;
    min-height: 15rem;
    bottom: 3rem;
    right: 3rem;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    border-radius: .5rem;
    padding: 1rem; }
    @media only screen and (max-width: 580px) {
      .offer-sport__intro {
        width: 95%;
        left: 2.5%;
        margin: 0 auto;
        height: auto;
        bottom: 1rem; } }
    .offer-sport__intro-inner {
      height: 100%;
      width: 100%;
      border: 1px solid white;
      padding: .5rem;
      border-radius: .5rem; }
  .offer-sport__text {
    margin-top: -10rem; }
    .offer-sport__text-paragraph {
      margin-top: 1rem;
      font-size: 1.4rem; }
      .offer-sport__text-paragraph--white {
        color: white; }
  .offer-sport__main {
    margin-top: 2rem;
    margin-bottom: 20vh;
    width: 80%; }
  .offer-special-image {
    background-image: url("https://res.cloudinary.com/dlqvkenro/image/upload/v1546016009/specialoffer.jpg");
    background-position: left; }
    @media only screen and (max-width: 580px) {
      .offer-special-image {
        background-position: -40rem 0px; } }

.balears {
  background-color: #f7f5ed; }
  .balears-images {
    display: flex;
    position: relative; }
  .balears__images-loop {
    margin-top: 5rem; }
  .balears__header-main {
    height: 50vh;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 1; }
    .balears__header-main-overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 51vh;
      width: 100%;
      background-color: #dca17c;
      z-index: 0; }
  .balears__header-right {
    margin-left: -20%;
    height: 60rem;
    width: 20%;
    background-image: url("/mallorca_night.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    z-index: 1; }
    @media only screen and (max-width: 1000px) {
      .balears__header-right {
        display: none; } }
    .balears__header-right-overlay {
      position: absolute;
      top: 0;
      right: 0;
      height: 60rem;
      width: 21%;
      -webkit-clip-path: polygon(100% 0, 2% 100%, 100% 100%);
      clip-path: polygon(100% 0, 2% 100%, 100% 100%);
      background-color: #dca17c;
      z-index: 0; }
      @media only screen and (max-width: 1000px) {
        .balears__header-right-overlay {
          display: none; } }
  .balears__header-body {
    margin: 3rem auto 0 auto;
    width: 70%;
    padding-left: 1rem; }
    @media only screen and (max-width: 1000px) {
      .balears__header-body {
        width: 100%; } }
    .balears__header-body p {
      margin-top: 1.5rem;
      font-size: 1.5rem; }
  .balears__body {
    display: flex;
    position: relative;
    height: 90vh;
    margin-top: 10vh; }
  .balears__left {
    top: 0;
    left: 0; }
    .balears__left-image {
      background-size: cover;
      width: 60%;
      height: 90vh;
      position: absolute;
      z-index: 1; }
      .balears__left-image--1 {
        -webkit-clip-path: polygon(0 5%, 100% 0, 85% 100%, 0% 100%);
        clip-path: polygon(0 5%, 100% 0, 85% 100%, 0% 100%); }
      .balears__left-image--2 {
        -webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%) !important;
        clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%) !important; }
    .balears__left-overlay {
      width: 60%;
      height: 90vh;
      position: absolute;
      background-color: #dca17c;
      z-index: 0; }
      .balears__left-overlay--1 {
        -webkit-clip-path: polygon(0 3%, 100% 0, 86.5% 100%, 0% 100%);
        clip-path: polygon(0 3%, 100% 0, 86.5% 100%, 0% 100%); }
      .balears__left-overlay--2 {
        -webkit-clip-path: polygon(0 0, 86.5% 0, 100% 100%, 0% 100%) !important;
        clip-path: polygon(0 0, 86.5% 0, 100% 100%, 0% 100%) !important; }
  .balears__right {
    height: 90vh;
    width: 40%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .balears__text {
    padding-top: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem; }
    @media only screen and (max-width: 768px) {
      .balears__text {
        margin-left: 0 !important; } }

.first-fleet__main {
  background-color: deepskyblue;
  background-image: url("/all_yachts.jpg");
  background-size: cover;
  background-position: 0 60%;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(33% 0, 100% 0, 92% 100%, 0 100%, 0 79%, 24% 79%);
  clip-path: polygon(33% 0, 100% 0, 92% 100%, 0 100%, 0 79%, 24% 79%);
  height: 100%;
  width: 80%; }

.first-fleet__corner-images {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column; }

.first-fleet__right {
  display: flex;
  flex-direction: column;
  width: 20%; }

.first-fleet__heading {
  text-align: right;
  padding: 2rem 5rem 2rem 2rem; }

.first-fleet__header {
  color: white;
  font-size: 1.7rem;
  text-transform: uppercase; }

.first-fleet__image {
  transition: all .4s; }
  .first-fleet__image:hover {
    cursor: pointer; }
  .first-fleet__image-container {
    position: relative; }
    .first-fleet__image-container:hover .fleet__image-fourth,
    .first-fleet__image-container:hover .fleet__image-fifth,
    .first-fleet__image-container:hover .fleet__image-first {
      transform: scale(1.05);
      background-color: rgba(0, 0, 0, 0.6); }
    .first-fleet__image-container:hover .fleet__image-second {
      transform: translateX(-9%) scale(1.05);
      background-color: rgba(0, 0, 0, 0.6); }
    .first-fleet__image-container:hover .fleet__image-third {
      transform: translateX(-17%) scale(1.05);
      background-color: rgba(0, 0, 0, 0.6); }
    .first-fleet__image-container:hover .arrow {
      background: transparent;
      animation: none;
      transform: scale(1.1); }
  .first-fleet__image-arrow {
    position: absolute !important;
    bottom: 2rem;
    left: 2rem;
    animation: jumpLeftRight 5s ease-in infinite; }
    .first-fleet__image-arrow--right {
      left: auto;
      bottom: 2rem;
      right: 2rem; }
  .first-fleet__image-first {
    -webkit-clip-path: polygon(8% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(8% 0, 100% 0, 100% 100%, 0% 100%);
    height: 27vh; }
  .first-fleet__image-second {
    -webkit-clip-path: polygon(8% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(8% 0, 100% 0, 100% 100%, 0% 100%);
    height: 29vh;
    margin-top: 1vh;
    max-width: 110%;
    transform: translateX(-9%); }
  .first-fleet__image-third {
    -webkit-clip-path: polygon(8% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(8% 0, 100% 0, 100% 100%, 0% 100%);
    height: 29vh;
    margin-top: 1vh;
    max-width: 120%;
    transform: translateX(-17%); }
  .first-fleet__image-fourth {
    -webkit-clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
    max-width: 33rem;
    margin-top: 1rem; }
  .first-fleet__image-fifth {
    -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    max-width: 28rem;
    margin-top: 1rem; }
  .first-fleet__image-row {
    width: 45%;
    margin: .5rem 0; }

.first-fleet__steps {
  margin-top: 2rem;
  padding-right: 5rem; }
  .first-fleet__steps-row {
    display: flex;
    justify-content: flex-end; }

.first-fleet__span {
  color: white;
  font-size: 1.6rem;
  display: block; }

.first-fleet__yacht {
  width: 70%;
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  height: 80%;
  position: relative; }
  .first-fleet__yacht-image {
    -webkit-clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0% 100%);
    clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0% 100%);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 0 70%;
    width: 100%;
    min-height: 30rem;
    filter: drop-shadow(0px 10px 5px black);
    text-shadow: 2px 2px 5px #000; }
  .first-fleet__yacht-footer {
    display: flex;
    justify-content: space-around;
    width: 90%; }
  .first-fleet__yacht-thumb {
    width: 24.5%;
    margin: 2rem .5rem;
    -webkit-background-size: cover;
    background-size: cover;
    height: 10rem;
    -webkit-animation-name: moveInBottom;
    -moz-animation-name: moveInBottom;
    -o-animation-name: moveInBottom;
    animation-name: moveInBottom;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    opacity: 0;
    animation-fill-mode: forwards; }
    .first-fleet__yacht-thumb--1 {
      background-image: url("/yachts/azimut_magellano.jpg");
      animation-delay: .5s; }
    .first-fleet__yacht-thumb--2 {
      background-image: url("/yachts/azimut_magellano.jpg");
      animation-delay: 1s; }
    .first-fleet__yacht-thumb--3 {
      background-image: url("/yachts/azimut_magellano.jpg");
      animation-delay: 1.5s; }
    .first-fleet__yacht-thumb--4 {
      background-image: url("/yachts/azimut_magellano.jpg");
      animation-delay: 2s; }
  .first-fleet__yacht-paragraph {
    float: right;
    width: 80%;
    color: white;
    font-size: 1.3rem;
    padding-right: 4rem;
    padding-left: 1rem;
    padding-top: 1rem;
    text-shadow: 2px 2px 5px #000;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 10rem; }
  .first-fleet__yacht-button {
    position: absolute;
    left: -27rem;
    bottom: 3.5rem; }

.second-fleet {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 95vh;
  width: 100%; }
  .second-fleet__slider {
    width: 100%;
    height: 100%; }
    .second-fleet__slider-container {
      width: 80%;
      height: 100%;
      position: relative; }
      .second-fleet__slider-container--fluid {
        width: 100%; }
      @media screen and (max-width: 768px) {
        .second-fleet__slider-container {
          width: 100%; } }
    .second-fleet__slider .flux-pagination {
      left: auto;
      right: 2rem;
      bottom: 1rem; }
      .second-fleet__slider .flux-pagination .pagination-item {
        background-color: white !important; }
      .second-fleet__slider .flux-pagination .active .pagination-item {
        background-color: #dca17c !important; }
  .second-fleet__header {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    min-height: 10rem;
    width: 22rem;
    background-color: rgba(0, 0, 0, 0.6);
    padding: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    border-radius: .5rem;
    z-index: 300;
    opacity: 0;
    -webkit-animation: moveInLeft .7s ease-in;
    animation: moveInLeft .7s ease-in;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
    .second-fleet__header--sec {
      bottom: 6.5rem; }
    .second-fleet__header-text {
      font-size: 1.3rem;
      color: white;
      padding-top: 1rem; }
    .second-fleet__header-inner {
      height: 100%;
      width: 100%;
      border: 1px solid #dee2e6;
      -webkit-border-radius: .2rem;
      -moz-border-radius: .2rem;
      border-radius: .2rem;
      display: flex;
      flex-direction: column;
      padding: 1rem; }
  .second-fleet__button {
    display: flex;
    transition: .4s all; }
    .second-fleet__button:hover {
      transform: translateX(1rem);
      text-decoration: none; }
      .second-fleet__button:hover {
        text-decoration: none; }
    .second-fleet__button-image {
      display: block;
      height: 3rem;
      width: 3rem;
      background-image: url("/icons/next.png");
      background-size: contain; }
    .second-fleet__button-text {
      color: white;
      font-size: 1.2rem;
      text-transform: uppercase;
      display: flex;
      padding-left: 1rem;
      justify-content: center;
      align-items: center;
      height: 3rem; }
  .second-fleet__icon {
    background-repeat: no-repeat;
    width: 10rem;
    height: 5rem;
    -webkit-background-size: contain;
    background-size: contain; }
    .second-fleet__icon--mc {
      background-image: url("/icons/montecarlo.png"); }
    .second-fleet__icon--azimut {
      background-image: url("/icons/azimut.png"); }
    .second-fleet__icon--cranchi {
      background-image: url("/icons/cranchi.png"); }
    .second-fleet__icon--catamaran {
      background-image: url("/icons/catamaran.png"); }

.destinations {
  background-color: #f7f5ed;
  padding-top: 15vh; }
  .destinations__container {
    width: 100%;
    min-height: 20vh;
    background-color: white;
    display: flex;
    align-items: flex-end; }
    @media only screen and (max-width: 768px) {
      .destinations__container {
        flex-direction: column; } }
    @media only screen and (min-width: 1400px) {
      .destinations__container {
        align-items: center; } }
  @media screen and (max-width: 768px) {
    .destinations__image {
      width: 100%; } }
  .destinations__heading {
    color: #16A09E;
    text-shadow: none; }
  .destinations__text-small {
    color: grey;
    font-size: 1.4rem; }
  .destinations__left, .destinations__right {
    width: 50%;
    padding: 5rem; }
    @media only screen and (max-width: 768px) {
      .destinations__left, .destinations__right {
        padding: 2rem; } }
  .destinations__left {
    text-align: center;
    padding-right: 0; }
    @media only screen and (max-width: 950px) {
      .destinations__left {
        width: 60%;
        padding-right: 2rem; } }
    @media only screen and (max-width: 768px) {
      .destinations__left {
        width: 80%; } }
    @media only screen and (max-width: 570px) {
      .destinations__left {
        width: 100%; } }
  .destinations__right {
    padding-left: 0; }
    @media only screen and (max-width: 950px) {
      .destinations__right {
        width: 40%;
        padding-right: 2rem; } }
    @media only screen and (max-width: 768px) {
      .destinations__right {
        width: 60%;
        padding-right: 0; } }
    @media only screen and (max-width: 570px) {
      .destinations__right {
        width: 90%;
        margin: 0 auto; } }
  .destinations__switch {
    display: flex;
    width: 80%;
    margin: 2rem 0;
    margin-left: auto; }
    @media only screen and (max-width: 768px) {
      .destinations__switch {
        width: 99%;
        margin: 2rem auto; } }
    .destinations__switch-col {
      height: 3rem;
      flex: 1;
      padding: 0 .5rem;
      border: 1px solid #dee2e6;
      color: grey;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center; }
      .destinations__switch-col--selected {
        background-color: #16A09E; }
        .destinations__switch-col--selected span {
          color: white;
          font-weight: 700;
          font-size: 1.5rem; }
          @media only screen and (max-width: 768px) {
            .destinations__switch-col--selected span {
              font-size: 1.4rem; } }
      .destinations__switch-col span {
        font-size: 1.3rem;
        text-transform: uppercase; }
        @media only screen and (max-width: 768px) {
          .destinations__switch-col span {
            font-size: 1.1rem; } }
      .destinations__switch-col:hover {
        background-color: #dee2e6; }
      .destinations__switch-col--1 {
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem; }
      .destinations__switch-col--2 {
        border-left: 0; }
      .destinations__switch-col--3 {
        border-left: 0;
        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem; }
  @media screen and (max-width: 768px) {
    .destinations__map {
      display: none; } }
  .destinations__islands {
    height: 20rem;
    width: 80%;
    margin: 0 auto;
    position: relative;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222); }
    .destinations__islands-mallorca {
      height: 12rem;
      width: 15rem;
      background-image: url("/mallorca-icon.png");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 3rem;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer; }
    .destinations__islands-minorka {
      height: 7rem;
      width: 8rem;
      background-image: url("/minorka-icon.png");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 1rem;
      left: 70%;
      transform: translateX(-50%);
      cursor: pointer; }
    .destinations__islands-ibiza {
      height: 10rem;
      width: 8rem;
      background-image: url("/ibiza-icon.png");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 13rem;
      left: 28%;
      transform: translateX(-50%);
      cursor: pointer; }

.second-service__row {
  display: flex; }
  .second-service__row--1, .second-service__row--3 {
    background-color: white; }

.second-service__col {
  height: 20rem;
  width: 50%;
  display: flex;
  position: relative; }
  .second-service__col-image {
    height: 20rem;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 1;
    transform: scale(0.97); }
    .second-service__col-image--left {
      order: 1;
      position: absolute;
      top: 0;
      left: 0; }
      .second-service__col-image--left--1 {
        width: 68%;
        webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%); }
      .second-service__col-image--left--2 {
        width: 61%;
        webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%); }
      .second-service__col-image--left--3 {
        width: 55%;
        webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%); }
    .second-service__col-image--right {
      order: 2;
      position: absolute;
      top: 0;
      right: 0; }
      .second-service__col-image--right--1 {
        width: 55%;
        -webkit-clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%); }
      .second-service__col-image--right--2 {
        width: 61%;
        -webkit-clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%); }
      .second-service__col-image--right--3 {
        width: 68%;
        -webkit-clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%); }
  .second-service__col-text {
    height: 20rem;
    width: 30%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0; }
    .second-service__col-text--left--1 {
      left: 70%; }
    .second-service__col-text--left--2 {
      left: 63%; }
    .second-service__col-text--left--3 {
      left: 57%; }
    .second-service__col-text--right {
      top: 0;
      text-align: right; }
      .second-service__col-text--right--1 {
        right: 55%; }
      .second-service__col-text--right--2 {
        right: 61%; }
      .second-service__col-text--right--3 {
        right: 68%; }
  .second-service__col-overlay {
    height: 20rem;
    background-color: #dca17c;
    z-index: 0;
    top: 0;
    position: absolute; }
    .second-service__col-overlay--left {
      left: 0; }
    .second-service__col-overlay--right {
      right: 0; }

.second-service__text {
  margin-top: .5rem;
  font-size: 1.5rem; }

.third-services {
  margin-top: 10vh; }
  .third-services__row {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 29vh; }
    @media screen and (max-width: 768px) {
      .third-services__row {
        position: relative; } }
    .third-services__row--middle {
      margin-top: 3rem;
      margin-bottom: 3rem; }
  .third-services__col--order-1 {
    order: 1; }
  .third-services__col--order-2 {
    order: 2; }
  .third-services__col--image {
    height: 100%;
    width: 60%;
    position: relative; }
    @media screen and (max-width: 768px) {
      .third-services__col--image {
        width: 100%; } }
  .third-services__col--text {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 2rem; }
    @media screen and (max-width: 768px) {
      .third-services__col--text {
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 200; } }
  .third-services__col--text-left {
    align-items: flex-end;
    text-align: right; }
  .third-services__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }
    @media screen and (max-width: 768px) {
      .third-services__image {
        filter: brightness(20%); } }
    .third-services__image-overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      height: 100%;
      background-color: #dca17c;
      transform: scaleY(1.02) scaleX(1.01); }
  @media screen and (max-width: 768px) {
    .third-services__header {
      color: white; } }
  .third-services__text {
    margin-top: .5rem;
    font-size: 1.5rem;
    width: 60%; }
    @media screen and (max-width: 768px) {
      .third-services__text {
        color: white; } }

.navigation {
  display: none; }
  @media only screen and (max-width: 545px) {
    .navigation {
      display: block; } }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    position: fixed;
    top: 3rem;
    right: 2rem;
    display: none;
    height: 7rem;
    width: 7rem;
    background-color: #fff;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    margin: 0; }
    @media screen and (max-width: 768px) {
      .navigation__button {
        display: block; } }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 3.5rem;
    right: 2rem;
    background-image: radial-gradient(#16A09E, #d9963b);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    display: none; }
    @media screen and (max-width: 768px) {
      .navigation__background {
        display: block; } }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 250%;
    transition: all .4s; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #16A09E;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__icon {
    margin-top: 3.5rem;
    position: relative; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #333;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: .2s all; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button > .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button > .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button > .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.rules {
  height: calc(100vh - 3rem);
  width: 100%;
  background-image: url("https://res.cloudinary.com/dlqvkenro/image/upload/v1547021516/rulesimg.jpg");
  background-size: cover; }
  .rules__header {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center; }
  .rules__body {
    margin-top: 2vh;
    height: 80vh;
    width: 100%;
    padding: 1rem;
    overflow: auto; }
  .rules__text {
    font-size: 1.4rem;
    color: black;
    overflow: auto;
    padding: 1rem; }

.all-yachts {
  background-color: #f7f5ed; }

.modal {
  display: block !important;
  position: unset !important;
  background-color: white;
  border: 1px solid #dee2e6;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }
  .modal__outer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; }
  .modal__header {
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    padding: .5rem 1.5rem;
    position: relative; }
    .modal__header-close {
      position: absolute;
      top: -1rem;
      right: 1rem;
      font-size: 3rem;
      cursor: pointer; }
  .modal__body {
    height: 80%;
    padding: 1rem 0;
    overflow: auto;
    color: black; }
  .modal__footer {
    height: 10%;
    width: 100%;
    border-top: 1px solid #dee2e6;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .modal__footer > button {
      margin-right: 1rem; }

.overlay-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000; }

.modal-big {
  position: unset !important;
  height: 80vh;
  width: 60%;
  max-height: 100rem;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  @media screen and (max-width: 768px) {
    .modal-big {
      height: 90vh;
      width: 95%; } }

.lang {
  display: flex;
  align-items: center;
  margin-right: 1rem; }
  @media screen and (max-width: 768px) {
    .lang {
      justify-content: center;
      margin-bottom: .5rem; } }
  .lang__row {
    display: flex;
    align-items: flex-end; }
  .lang__col {
    padding: .1rem;
    filter: drop-shadow(0px 0px 2px black); }
  .lang__span {
    display: block;
    width: 30px;
    height: 20px;
    background-size: cover;
    transition: all .3s;
    cursor: pointer; }
    .lang__span--pl {
      background-image: url("/flags/pl-flag.jpg"); }
    .lang__span--en {
      background-image: url("/flags/en-flag.jpg"); }
    .lang__span--es {
      background-image: url("/flags/es-flag.jpg"); }
    .lang__span--de {
      background-image: url("/flags/de-flag.jpg"); }
    .lang__span--selected {
      background-color: #dca17c;
      width: 40px;
      height: 25px;
      margin-right: .15rem;
      margin-left: .15rem; }
