<template>
    <div>
        <destinations-second></destinations-second>
        <footer class="footer">
            <contact header="Kontakt" :hedearEnabled="true"></contact>
            <office></office>
            <div class="footer__bottom">
                <lang></lang>
                <social></social>
            </div>
        </footer>
    </div>
</template>
<script>
    import destinations from './destinations/destinations'
    import destinationsSecond from './destinations/destinationsSecond'
    import office from './elements/office'
    import social from './elements/social'
    import partners from './elements/partners'
    import lang from './elements/lang'

    export default {
        components: {
            destinations,
            destinationsSecond,
            office,
            social,
            partners,
            lang
        }
    }
</script>