<template>
    <section>
        <div class="balears-images">
            <app-logo></app-logo>
            <div class="balears__header-main"
                 :style="{ backgroundImage: `url(${image})`}"></div>
            <div class="balears__header-main-overlay"></div>
        </div>
        <div class="balears__header-body">
            <h3 class="heading-tertiary heading-tertiary--dashed">
                {{ header | translate }}
            </h3>
            <p v-html="$options.filters.translate(paragraph)"></p>
        </div>
    </section>
</template>
<script>
    export default {
        props: ['header', 'paragraph', 'image']
    }
</script>