<template>
    <section class="row yacht__row balears__images-loop">
        <vue-gallery :images="images" :index="index" @close="index = null"></vue-gallery>
        <div v-for="(n, key) in images"
             :key="key"
             :class="key % 5 === 0 || key % 5 === 1 || key % 5 === 2 ? 'yacht__image-container--small' : 'yacht__image-container--big'"
             class="yacht__image-container"
             @click="index = key">
            <div :style="{ backgroundImage: `url(${n})`}"
                 :class="key % 5 === 0 || key % 5 === 1 || key % 5 === 2 ? 'yacht__image--small' : 'yacht__image--big'"
                 class="yacht__image"></div>
        </div>
    </section>
</template>
<script>
    import VueGallery from 'vue-gallery';

    export default {
        data() {
            return {
                index: null
            }
        },
        components: {
            VueGallery
        },
        props: ['images']
    }
</script>