<template>
    <div class="balears-slider__container">
        <div class="balears-slider__overlay"
             :class="align === 'right' ? 'balears-slider--order-2' : ''">
            <div class="balears-slider__image"
                 :style="{ backgroundImage: `url(${image})`}"></div>
        </div>
        <div class="balears-slider__caption-container">
            <div class="balears-slider__caption">
                <h3 class="heading-tertiary heading-tertiary--dashed">
                    {{ header }}
                </h3>
                <div v-html="$options.filters.translate(paragraph)"></div>
            </div>
        </div>
    </div>
</template>
<script>
    import { VueFlux, Transitions } from 'vue-flux';
    ////import { eventBus } from "../../../helpers/eventBus";

    export default {
        props:[
            'header',
            'paragraph',
            'image',
            'align'
        ]
    }
</script>