<template>
    <section class="balears__body">
        <div>
            <div :class="row === '1' ? 'balears__left-image balears__left-image--1' :
                                       'balears__left-image balears__left-image--2'"
                 :style="{ backgroundImage: `url(${image})` }"></div>
            <div class="balears__left-overlay"
                 :class="row === '1' ? 'balears__left-overlay--1' : 'balears__left-overlay--2'"></div>
        </div>
        <div class="balears__right">
            <h3 class="heading-tertiary heading-tertiary--dashed"> {{ heading }} </h3>
            <div v-html="paragraph"></div>
        </div>
    </section>
</template>
<script>
    export default {
        props:['image', 'row', 'heading', 'paragraph']
    }
</script>