<template>
    <div class="balears-slider__container">
        <div class="balears-slider__overlay"
            :class="align === 'right' ? 'balears-slider--order-2' : ''">
            <div class="balears-slider__inner">
                <vue-flux
                    class="balears-slider__slider"
                    :options="fluxOptions"
                    :images="fluxImages"
                    :transitions="fluxTransitions"
                    fullscreen="false"
                    ref="slider">
                </vue-flux>
                <div class="balears-slider__pagination balears-slider__pagination--slider">
                    <span class="balears-slider__pagination-dot"
                            :class="currentSlide === 0 ? 'balears-slider__pagination-dot--active' : ''"
                            @click="changeSlide(0)"></span>
                    <span class="balears-slider__pagination-dot"
                            :class="currentSlide === 1 ? 'balears-slider__pagination-dot--active' : ''"
                            @click="changeSlide(1)"></span>
                    <span class="balears-slider__pagination-dot"
                            :class="currentSlide === 2 ? 'balears-slider__pagination-dot--active' : ''"
                            v-if="paragraphThird && headerThird"
                            @click="changeSlide(2)">
                    </span>
                </div>
            </div>
        </div>

        <div class="balears-slider__caption-container">
            <div class="balears-slider__caption" key="1" v-if="currentSlide === 0">
                <h3 class="heading-tertiary heading-tertiary--dashed">
                    {{ headerFirst }}
                </h3>
                <div v-html="paragraphFirst"></div>
            </div>
            <div class="balears-slider__caption" key="2" v-if="currentSlide === 1">
                <h3 class="heading-tertiary heading-tertiary--dashed">
                    {{ headerSecond }}
                </h3>
                <div v-html="paragraphSecond"></div>
            </div>
            <div class="balears-slider__caption" key="3" v-if="headerThird && paragraphThird && currentSlide === 2">
                <h3 class="heading-tertiary heading-tertiary--dashed">
                    {{ headerThird }}
                </h3>
                <div v-html="paragraphThird"></div>
            </div>
            <div class="balears-slider__pagination balears-slider__pagination--caption">
                    <span class="balears-slider__pagination-dot"
                          :class="currentSlide === 0 ? 'balears-slider__pagination-dot--active' : ''"
                          @click="changeSlide(0)"></span>
                <span class="balears-slider__pagination-dot"
                      :class="currentSlide === 1 ? 'balears-slider__pagination-dot--active' : ''"
                      @click="changeSlide(1)"></span>
                <span class="balears-slider__pagination-dot"
                      :class="currentSlide === 2 ? 'balears-slider__pagination-dot--active' : ''"
                      v-if="paragraphThird && headerThird"
                      @click="changeSlide(2)">
                    </span>
            </div>
        </div>
    </div>
</template>
<script>
    import { VueFlux, Transitions } from 'vue-flux';
    ////import { eventBus } from "../../../helpers/eventBus";

    export default {
        data () {
            return {
                currentSlide: 0,
                intervalId: null,
                mounted: false,
                collapseBool: false,
                fluxOptions: {
                    autoplay: false,
                    delay: 10000,
                },
                fluxImages: this.images,
                fluxTransitions: {
                    transitionFade: Transitions.transitionFade,
                    transitionSwipe: Transitions.transitionSwipe
                }
            };
        },
        created() {
            this.$nuxt.$on('resize::slider', () => {
                this.$refs.slider.resize();
            });
            this.intervalId = setInterval(() => {
                this.currentSlide++;
                this.$refs.slider.showImage('next');
                if(this.currentSlide === 3) this.currentSlide = 0;
                if(!this.headerThird && this.currentSlide === 2) this.currentSlide = 0;
            },30000);
        },
        destroyed() {
            this.stopInterval();
        },
        methods: {
            stopInterval() {
                clearInterval(this.intervalId);
            },
            changeSlide(nr) {
                this.stopInterval();
                this.$refs.slider.showImage(nr);
                this.currentSlide = nr;
            }
        },
        components: {
            VueFlux
        },
        mounted() {
            this.mounted = true;
        },
        props:[
            'headerFirst',
            'headerSecond',
            'headerThird',
            'paragraphFirst',
            'paragraphSecond',
            'paragraphThird',
            'images',
            'align'
        ]
    }
</script>