<template>
    <article class="balears-composition">
        <div class="balears-composition__container">
            <div class="balears-composition__left">
                <div class="balears-composition__left-image"
                     :style="{ backgroundImage: `url(${imageFirst})`}"></div>
                <div class="balears-composition__left-image-overlay"></div>
                <div class="balears-composition__left-thumb">
                    <div class="balears-composition__left-thumb-image"
                         :style="{ backgroundImage: `url(${imageThumbnailFirst})`}"></div>
                </div>
                <div class="balears-composition__left-text">
                    <h3 class="heading-tertiary heading-tertiary--dashed">
                        {{ headerFirst }}
                    </h3>
                    <p class="balears-composition__paragraph">
                        {{ paragraphFirst }}
                    </p>
                </div>
            </div>
            <div class="balears-composition__right">
                <div class="balears-composition__right-image"
                     :style="{ backgroundImage: `url(${imageSecond})`}"></div>
                <div class="balears-composition__right-image-overlay"></div>
                <div class="balears-composition__right-thumb">
                    <div class="balears-composition__right-thumb-image"
                         :style="{ backgroundImage: `url(${imageThumbnailSecond})`}"></div>
                </div>
                <div class="balears-composition__right-text">
                    <h3 class="heading-tertiary heading-tertiary--dashed">
                        {{ headerSecond }}
                    </h3>
                    <p class="balears-composition__paragraph">
                        {{ paragraphSecond }}
                    </p>
                </div>
            </div>
        </div>
    </article>
</template>
<script>
    export default {
        props: [
            'imageThumbnailFirst',
            'imageThumbnailSecond',
            'imageFirst',
            'imageSecond',
            'headerFirst',
            'headerSecond',
            'paragraphFirst',
            'paragraphSecond'
        ]
    }
</script>