<template>
    <div>
        <img src="../static/logo-gif.gif" alt="Active Yacht Club" class="logo">
        <transition name="circle">
            <div v-show="timeGap">
                <navbar></navbar>
                <transition name="zoom" mode="out-in">
                    <nuxt />
                </transition>
                <foot></foot>
            </div>
        </transition>
        <transition name="fade">
            <overlay-modals v-if="showTermsModal || showRulesModal"></overlay-modals>
        </transition>
        <transition name="zoom">
            <div class="modal__outer"
                 v-if="showTermsModal || showRulesModal">
                <rules-modal v-if="showRulesModal" key="1"></rules-modal>
                <terms-modal v-if="showTermsModal" key="2"></terms-modal>
            </div>
        </transition>
    </div>
</template>
<script>
    import navbar from '@/components/nav/nav'
    import foot from '@/components/footer/footer'
    import rulesModal from '@/components/modals/rulesModal';
    import termsModal from '@/components/modals/termsModal';
    import overlayModals from '@/components/modals/overlayModals';

    export default {
        data() {
            return {
                timeGap: false,
                showTermsModal: false,
                showRulesModal: false
            }
        },
        components: {
            navbar,
            foot,
            rulesModal,
            termsModal,
            overlayModals
        },
        created() {
            setTimeout(() => {
                this.timeGap = true;
                this.$nuxt.$emit('resize::slider');
                console.log('emited');
            },2000);

            this.$nuxt.$on('toggle::modal-terms', () => {
                this.showTermsModal = !this.showTermsModal;
            });
            this.$nuxt.$on('toggle::modal-rules', () => {
                this.showRulesModal = !this.showRulesModal;
            });

        }
    }
</script>
<style scoped>
    .logo {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -2;
    }
    @media screen and (max-width: 768px) {
        .logo {
            width: 100%;
        }
    }

    .zoom-enter-active,
    .zoom-leave-active {
        animation-duration: .8s;
        animation-fill-mode: both;
        animation-name: zoom;
    }

    .zoom-leave-active {
        animation-direction: reverse;
    }

    .circle-enter-active,
    .circle-leave-active {
        animation-duration: 2s;
        animation-fill-mode: both;
        animation-name: zoom;
    }

    .circle-leave-active {
        animation-direction: reverse;
    }
</style>