<template>
    <article class="about">
        <div>
            <h3 class="heading-tertiary about__heading about__heading--big">Majorka, minorka, ibiza</h3>
            <p class="about__text heading-tertiary--dashed about__heading">Wybierz wyspę i dowiedz się więcej!</p>

            <div class="about__image-box">
                <div class="about__image about__image-minorka"
                     :class="minorka || mallorca || ibiza  ? 'about__image-minorka--left' : 'about__image-minorka--center'"
                     @click="setIsland('minorka')">
                </div>
                <transition name="fade">
                    <div v-if="minorka"
                         :class="minorka || mallorca || ibiza ? 'about__image-minorka--left' : 'about__image-minorka--center'"
                         class="about__image about__image-minorka about__image-minorka--overlay about__image-minorka--center"></div>
                </transition>

                <div class="about__image about__image-mallorca"
                     :class="minorka || mallorca || ibiza ? 'about__image-mallorca--left' : 'about__image-mallorca--center'"
                     @click="setIsland('mallorca')"></div>
                <transition name="fade">
                    <div v-if="mallorca"
                         :class="mallorca ? 'about__image-mallorca--left' : 'about__image-mallorca--center'"
                         class="about__image about__image-mallorca about__image-mallorca--overlay about__image-mallorca--center"></div>
                </transition>

                <div class="about__image about__image-ibiza"
                     :class="minorka || mallorca || ibiza ? 'about__image-ibiza--left' : 'about__image-ibiza--center'"
                     @click="setIsland('ibiza')"></div>
                <transition name="fade">
                    <div v-if="ibiza"
                         class="about__image-ibiza about__image-ibiza--overlay"></div>
                </transition>
                <transition name="fade">
                    <div class="about__content about__content--mallorca" v-if="mallorca || minorka || ibiza">
                        <div class="about__content-inner">
                            <div class="about__content-inner-2">
                                <div class="about__content-header">
                                    <h3 class="heading-tertiary heading-tertiary--dashed about__intro-heading" v-if="mallorca">Majorka</h3>
                                    <h3 class="heading-tertiary heading-tertiary--dashed about__intro-heading" v-if="minorka">Minorka</h3>
                                    <h3 class="heading-tertiary heading-tertiary--dashed about__intro-heading" v-if="ibiza">Ibiza</h3>
                                </div>
                                <div class="about__content-header">
                                    <p class="about__content-text" v-if="mallorca">
                                        Majorka to największa z pięciu wysp archipelagu Balearów, położona jest kilkadziesiąt mil na południe od wybrzeża Hiszpanii. Wyróżnia się piękną
                                        rzeźbą terenu i zróżnicowanym krajobrazem. Turystów przyciągają jej długie, piaszczyste plaże, błękitne laguny, palmy oraz ciepłe morze. Pasmo
                                        górskie sięgające 1445 m n.p.m., z licznymi szlakami, jest idealne dla kolarzy. Urokliwe miasta zachwycają lokalną architekturą, jak stolica Palma
                                        de Mallorca czy Valldemossa.
                                    </p>
                                    <p class="about__content-text" v-if="minorka">
                                        Szmaragdowe zatoki, dzikie plaże, megalityczne budowle i brak tłumów. Oto hiszpańska Minorka – najspokojniejsza wyspa Morza
                                        Śródziemnego i jeden z ostatnich rajskich zakątków Europy.
                                        Wyspa toczy życie kompletnie odmienne od imprezowo-turystycznych kombinatów reszty Balearów. Przez cały sezon przyjeżdża tu tylu
                                        turystów, co w wakacyjny tydzień na pobliską Majorkę. Oczywiście nie dlatego, że nie warto, po prostu na Minorce przyroda jest ważniejsza
                                        niż masowa turystyka.
                                    </p>
                                    <p class="about__content-text" v-if="ibiza">
                                        Symbol szaleństwa i długich hiszpańskich nocy. Mekka fanów muzyki tanecznej oraz najsłynniejszych DJ-ów z całego świata. Regularnie rezydują tu David Guetta,
                                        Tiesto, Armin Van Buuren, Skrillex czy Steve Aoki. Poznaj najpopularniejsze kluby z rankingu Billboard: Amnesia, DC-10, Destino, Es Paradise, Eden, Heart, Space
                                        lub Ushuaia.
                                    </p>
                                </div>
                                <div class="about__intro-button">
                                    <router-link to="/mallorca">
                                        Więcej o wyspie &rarr;
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>
        </div>
    </article>
</template>
<script>
    export default {
        data() {
            return {
                mallorca: false,
                ibiza: false,
                minorka: false
            }
        },
        methods: {
            setIsland(island) {
                if(island === 'mallorca') {
                    this.mallorca = true;
                    this.ibiza = false;
                    this.minorka = false;
                }
                if(island === 'minorka') {
                    this.mallorca = false;
                    this.ibiza = false;
                    this.minorka = true;
                }
                if(island === 'ibiza') {
                    this.mallorca = false;
                    this.ibiza = true;
                    this.minorka = false;
                }

            }
        }
    }
</script>