    <template>
        <div>
            <other-component></other-component>
            <VF></VF>
        </div>
    </template>
<script>
    import otherComponent from '@/components/index/video/video'
    import VF from '@/components/VF.vue';

    export default {
        components: {
            VF,
            otherComponent
        }
    }
</script>