<template>
    <section class="modal modal-big">
        <div class="modal__header">
            <h3 class="heading-tertiary heading-tertiary--dashed">{{ 'Regulamin' | translate }}</h3>
            <span class="modal__header-close" @click="hideModal()"><span>&times;</span></span>
        </div>
        <div class="modal__body">
            <p class="rules__text">
                {{ "Podmiot odpowiedzialny za przetwarzanie danych osobowych: Yates d´Or S.L. ,N.I.F.: B57894461 Adres: Avenida de Cala Llonga 2, lokal 1, 07660 Cala d´Or Nr telefonu: +34629549409 Adres e-mail: contact@activeyachtclub.com. W imieniu firmy wykorzystujemy podawane informacje w celu świadczenia żądanej usługi, wystawienia rachunku rozliczeniowego, wypełnienia zobowiązań umownych, spełnienia zobowiązań prawnych oraz do celów wynikających z naszych prawowitych interesów i prawowitych interesów stron trzecich zgodnie z postanowieniami art. 6.1.f) RODO. Dostarczone dane będą przechowywane tak długo,jak długo utrzymywane będą stosunki handlowe lub w okresie czasu niezbędnym do wypełnienia zobowiązań prawnych. Dane nie zostaną przekazane stronom trzecim, z wyjątkiem przypadków, w których zaistnieje prawny obowiązek. Użytkownik ma prawo uzyskać potwierdzenie, czy w Yates d'Or S.L. są przetwarzane jego dane osobowe, w związku z czym ma prawo dostępu do swoich danych osobowych, poprawiania niedokładnych danych, żądania ich usunięcia, gdy dane nie są już potrzebne lub żądania przeniesienia danych zgodnie z postanowieniami artykułu 15 i nast. RODO. Zwracamy się również o pozwolenie na przesyłanie w ramach programu lojalnościowego ofert produktów i usług związanych z zakontraktowanymi." | translate }}
            </p>
        </div>
        <div class="modal__footer">
            <button type="button" class="contact__button" @click="hideModal">{{ 'Zamknij' | translate }}</button>
            <button type="button" class="contact__button" @click="accept">
                {{ 'Zaakceptuj' | translate }}
                {{ 'i' | translate }}
                {{ 'Zamknij' | translate }}
            </button>
        </div>
    </section>
</template>
<script>
    //import { eventBus } from "../../../helpers/eventBus";

    export default {
        methods: {
            hideModal() {
                this.$nuxt.$emit('toggle::modal-rules');
            },
            accept() {
                this.hideModal();
                this.$nuxt.$emit('accept::rules');
            }
        }
    }
</script>
