<template>
    <article class="bg-video">
        <app-logo></app-logo>
        <div>
            <p>Above app-logo is global component registered in global.js plugin</p>
        </div>
    </article>
</template>