<template>
    <div class="second-service__col">
        <router-link :to="link">
            <div class="second-service__col-image"
                 :style="{ backgroundImage: `url(${image})`}"
                 :class="[
                 place === 'left' ? 'second-service__col-image--left' : 'second-service__col-image--right',

                 row === '1' && place === 'left' ? 'second-service__col-image--left--1' : '',
                 row === '2' && place === 'left' ? 'second-service__col-image--left--2' : '',
                 row === '3' && place === 'left' ? 'second-service__col-image--left--3' : '',

                 row === '1' && place === 'right' ? 'second-service__col-image--right--1' : '',
                 row === '2' && place === 'right' ? 'second-service__col-image--right--2' : '',
                 row === '3' && place === 'right' ? 'second-service__col-image--right--3' : '',
             ]">
            </div>
        </router-link>
        <div class="second-service__col-overlay"
             :class="[
                 place === 'left' ? 'second-service__col-overlay--left' : 'second-service__col-overlay--right',

                 row === '1' && place === 'left' ? 'second-service__col-image--left--1' : '',
                 row === '2' && place === 'left' ? 'second-service__col-image--left--2' : '',
                 row === '3' && place === 'left' ? 'second-service__col-image--left--3' : '',

                 row === '1' && place === 'right' ? 'second-service__col-image--right--1' : '',
                 row === '2' && place === 'right' ? 'second-service__col-image--right--2' : '',
                 row === '3' && place === 'right' ? 'second-service__col-image--right--3' : '',
             ]"></div>
        <div class="second-service__col-text"
             :class="[
                 row === '1' && place === 'left' ? 'second-service__col-text--left--1' : '',
                 row === '2' && place === 'left' ? 'second-service__col-text--left--2' : '',
                 row === '3' && place === 'left' ? 'second-service__col-text--left--3' : '',

                 row === '1' && place === 'right' ? 'second-service__col-text--right--1' : '',
                 row === '2' && place === 'right' ? 'second-service__col-text--right--2' : '',
                 row === '3' && place === 'right' ? 'second-service__col-text--right--3' : ''
             ]">
            <div>
                <router-link :to="link">
                    <h3 class="heading-tertiary heading-tertiary--dashed"> {{ header }} </h3>
                </router-link>
                <p class="second-service__text" v-html="paragraph"></p>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['place', 'row', 'header', 'paragraph', 'image', 'link']
    }
</script>