<template>
    <router-link to="/">
        <h1>
            <img src="https://res.cloudinary.com/dlqvkenro/image/upload/v1540559292/logo.png" alt="ActiveYachtClub - strona główna" class="nav__logo">
        </h1>
    </router-link>
</template>