<template>
    <section id="contact">
        <div class="contact__header" v-if="headerEnabled">
            <h2 class="heading-tertiary contact__heading heading-tertiary--dashed">{{ header | translate }}</h2>
        </div>
        <div class="container u-margin-top-small u-margin-bottom-small" v-if="!headerEnabled">
            <h2 class="heading-secondary heading-secondary--no-shadow heading-tertiary--dashed">{{ 'Kontakt' | translate }}</h2>
        </div>
        <div class="container" v-if="!success">
            <form @submit.prevent="sendMessage">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="form-inline contact__field">
                            <label for="name" class="contact__label contact__label--name"> {{ 'Imię i nazwisko' | translate }}: </label>
                            <input type="text" class="contact__input" id="name" v-model="name" required>
                        </div>
                        <div class="form-inline contact__field">
                            <label for="phone" class="contact__label contact__label--phone"> {{ 'Numer telefonu' | translate }}:</label>
                            <input type="tel" class="contact__input" id="phone" v-model="phone">
                        </div>
                        <div class="form-inline contact__field">
                            <label for="mail" class="contact__label contact__label--email"> {{ 'E-mail' | translate }} </label>
                            <input type="text" class="contact__input" id="mail" v-model="mail" required>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-inline contact__field">
                            <label for="message" class="contact__label contact__label--textarea"> {{ 'Treść' | translate }}: </label>
                            <textarea id="message" class="contact__input contact__input--textarea" v-model="message" rows="4"></textarea>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="contact__rules">{{ 'Zaakceptuj' | translate }}
                        <span @click="showModal('rules')" class="u-link">{{ 'regulamin' | translate }}</span>
                        {{ 'i' | translate }}
                        <span @click="showModal('terms')" class="u-link">{{ 'politykę prywatności' | translate }}</span>
                        Active Yacht Club:
                    </p>
                </div>
                <div class="contact__checkboxes">
                    <div class="contact__checkboxes-group">
                        <input id="terms" name="option1" type="checkbox" v-model="rules" required />
                        <label for="terms">{{ 'Akceptuję regulamin Active Yacht Club' | translate }}</label>
                    </div>
                    <div class="contact__checkboxes-group">
                        <input id="rodo" name="option1" type="checkbox" v-model="terms" required />
                        <label for="rodo">{{ 'Akceptuję politykę prywatności Active Yacht Club' | translate }}</label>
                    </div>
                </div>
                <div v-if="error">
                    <p class="help-block">Nie udało się wysłać wiadomości. Spróbuj ponownie później.</p>
                </div>
                <div class="contact__button-container">
                    <button class="button contact__button">
                        {{ 'Wyślij' | translate }}
                    </button>
                </div>
            </form>
        </div>
        <div v-if="success">
            <h3 class="heading-tertiary">Dziękujemy! Wkrótce się z Państwem skontaktujemy.</h3>
        </div>
    </section>
</template>
<script>
    //import axios from 'axios';
    //import axiosConfig from '../../../config/axios.conf';

    export default {
        data() {
            return {
                name: '',
                phone: null,
                mail: '',
                message: '',
                terms: false,
                rules: false,
                success: false,
                error: false
            }
        },
        methods: {
            sendMessage() {
                let params = new URLSearchParams();
                params.append('name', this.name);
                params.append('phone', this.phone);
                params.append('email', this.mail);
                params.append('message', this.message);
                /*
                axios.post('/client/sendMessage.php', params, axiosConfig)
                    .then(res => {
                        this.error = false;
                        this.success = true;
                    })
                    .catch(err => {
                        this.success = false;
                        this.error = true;
                    });
                */
            },
            showModal(which) {
                if(which === 'rules') {
                    this.$nuxt.$emit('toggle::modal-rules');
                }
                if(which === 'terms') {
                    this.$nuxt.$emit('toggle::modal-terms');
                }
            },
        },
        created() {
            this.$nuxt.$on('accept::rules', () => {
                this.rules = true;
            });
            this.$nuxt.$on('accept::terms', () => {
                this.terms = true;
            });
        },
        props:['header', 'headerEnabled']
    }
</script>