<template>
    <article class="other-island">
        <h3 class="heading-tertiary heading-tertiary--dashed other-yachts__heading">
            {{ header }}
        </h3>
        <section class="other-island__body">
            <div class="other-island__image other-island__image--first"></div>
            <div class="other-island__image other-island__image--middle"></div>
            <div class="other-island__image other-island__image--last"></div>
            
            <router-link to="/mallorca">
                <div class="other-island__heading other-island__heading--1">
                    <div class="other-island__heading-inner">
                        <h3 class="other-island__header heading-tertiary heading-tertiary--dashed">Majorka</h3>
                    </div>
                </div>
            </router-link>
            <router-link to="/ibiza">
                <div class="other-island__heading other-island__heading--2">
                    <div class="other-island__heading-inner">
                        <h3 class="other-island__header heading-tertiary heading-tertiary--dashed">Ibiza</h3>
                    </div>
                </div>
            </router-link>
            <router-link to="/minorka">
                <div class="other-island__heading other-island__heading--3">
                    <div class="other-island__heading-inner">
                        <h3 class="other-island__header heading-tertiary heading-tertiary--dashed">Minorka</h3>
                    </div>
                </div>
            </router-link>
            <div class="other-yachts__overlay"></div>
        </section>
    </article>
</template>
<script>
    export default {
        props:['header']
    }
</script>