<template>
    <article class="other-yachts">
        <h3 class="heading-tertiary heading-tertiary--dashed other-yachts__heading">
            {{ header | translate }}!
        </h3>
        <section class="other-yachts__yachts">
            <router-link to="/yacht/1" class="other-yachts__yachts-link--1">
                <div class="other-yachts__yachts-image other-yachts__yachts-image--1"></div>
            </router-link>
            <router-link to="/yacht/2" class="other-yachts__yachts-link--2">
                <div class="other-yachts__yachts-image other-yachts__yachts-image--2"></div>
            </router-link>
            <router-link to="/yacht/3" class="other-yachts__yachts-link--4">
                <div class="other-yachts__yachts-image other-yachts__yachts-image--4"></div>
            </router-link>
            <router-link to="/yacht/4" class="other-yachts__yachts-link--3">
                <div class="other-yachts__yachts-image other-yachts__yachts-image--3"></div>
            </router-link>
            <router-link to="/yacht/5" class="other-yachts__yachts-link--5">
                <div class="other-yachts__yachts-image other-yachts__yachts-image--5"></div>
            </router-link>
        </section>
    </article>
</template>
<script>
    export default {
        props:['header']
    }
</script>