<template>
    <article class="rules">
        <div class="container">
            <div class="rules__header">
                <h2 class="heading-secondary">Ochrona danych osobowych</h2>
            </div>
            <div class="rules__body">
                <p class="rules__text">
                    1. Podmiot odpowiedzialny za przetwarzanie danych osobowych:
                    Zgodnie z obowiązującymi przepisami informujemy, że dane osobowe podane przez Użytkownika podczas korzystania ze strony internetowej
                    www.activeyachtclub.com (zwanej dalej “Stroną”) będą przetwarzane przez: Yates d´Or S.L., N.I.F.: B57894461 Adres: Avenida de
                    Cala Llonga 2, lokal 1, 07660 Cala d´Or
                    Użytkownik może skontaktować się z przedstawicielem firmy ds. ochrony danych osobowych za pośrednictwem następującego adresu e-mail:
                    contact@activeyachtclub.com<br><br>
                    2. Obowiązek podania danych osobowych:
                    Odwiedzenie Strony nie oznacza, że Użytkownik jest zobowiązany do podania jakichkolwiek informacji o sobie. Jednakże, korzystanie z
                    niektórych usług dostępnych na Stronie zależy od wypełnienia formularzy danych osobowych.
                    Dane wymagane w różnych formularzach występujących na Stronie to dane niezbędne do świadczenia żądanych usług. Odmowa podania
                    danych wskazanych jako niezbędne może oznaczać niemożność odpowiedniego świadczenia takich usług. Analogicznie, dobrowolne podanie
                    danych spowoduje świadczenie usług w optymalny sposób.
                    Ponadto, niektóre funkcjonalności dotyczące Strony zależą od tego, czy Użytkownik zezwala na przetwarzanie swoich danych osobowych.
                    Treść niniejszej Polityki prywatności pomoże dowiedzieć się, jakie informacje zbieramy, co z nimi robimy, jakie są prawa Użytkownika i nasze
                    obowiązki w stosunku do Użytkowników Strony oraz odnośnie przechowywania tych danych poza zasięgiem nieautoryzowanych osób trzecich.
                    Niniejsza Polityka prywatności ma zastosowanie podczas gromadzenia danych osobowych za pomocą dowolnej metody, takiej jak
                    korespondencja pisemna lub elektroniczna, odbiór wizytówek lub przekazywanie danych drogą telefoniczną, a także wysyłanie zapytań za
                    pośrednictwem formularza dostępnego na Stronie, pod warunkiem, że właściciel danych udzielił swojej wyraźnej i jednoznacznej zgody na
                    automatyczne ich przetworzenie.<br><br>
                    3. Cel przetwarzania danych osobowych:
                    Utrzymywanie naszych relacji biznesowych wymaga przetwarzania danych związanych z naszymi klientami
                    i dostawcami. Jeśli dane te wiążą się z osobą fizyczną (na przykład, jeśli Użytkownik pracuje na własną rękę
                    i nawiązuje z nami relacje), dane osobowe będą brane pod uwagę. Bez względu na formę prawną kontrahenta będziemy traktować dane w
                    odniesieniu do osób kontaktowych jako dane naszego klienta.
                    Dane podstawowe:
                    Informacje, które zostały nam przekazane podczas nawiązywania relacji biznesowych, o które prosiliśmy naszych klientów lub osobę kontaktową
                    (na przykład imię, adres i inne dane kontaktowe); i
                    Informacje gromadzone lub przetwarzane w związku z nawiązaniem stosunków handlowych (na przykład szczegóły zawieranych umów).
                    Informacje o wypełnieniu zobowiązań umownych naszych klientów w związku z zawartymi umowami.
                    Informacje na temat zgodności z naszymi zobowiązaniami umownymi w odniesieniu do zawartych umów.
                    Informacje, które klient lub osoba kontaktowa przekazała nam w trakcie trwania stosunku handlowego, samodzielnie lub na naszą prośbę; i
                    Dane osobowe przekazane nam w trakcie trwania stosunków handlowych, przez naszego klienta, osobę kontaktową lub osoby trzecie.
                    W zakresie dozwolonym przez prawo, poza wspomnianymi wyżej danymi podstawowymi, możemy uwzględniać również dane osobowe
                    dostarczone przez osoby trzecie. Dane te mogą obejmować informacje dotyczące zdolności kredytowej/handlowej naszych klientów, w przypadku
                    gdy jest to konieczne służą do oceny ryzyka finansowego (na przykład opóźnień w płatnościach).
                    Dane osobowe podane przez Użytkownika w celu świadczenia różnych usług udostępnianych na Stronie będą przetwarzane przez firmę w
                    następujących celach:
                    - Zarządzanie relacjami z klientami: utrzymywanie relacji biznesowych, fakturowanie, wysyłanie reklam drogą pocztową lub elektroniczną
                    (newsletter), obsługa posprzedażowa i programy lojalnościowe.<br>
                    - W przypadku telefonicznej obsługi klienta rozmowy z działem Obsługi Klienta mogą być rejestrowane ze względu na monitorowanie jakości
                    obsługi.<br>
                    - Ponadto informujemy, że niektóre funkcjonalności Strony zależą od używania COOKIES, więc jeśli Użytkownik nie odrzuci możliwości ich
                    użycia, będziemy przetwarzać pewne informacje związane z działaniami Użytkownika na Stronie. Użytkownik może zapoznać się z warunkami
                    korzystania w "Polityce plików cookies":
                    Z chwilą zgłoszenia chęci do korzystania z danej usługi lub skorzystania ze wskazanych funkcjonalności, Użytkownik otrzyma bardziej
                    szczegółowe informacje na temat konkretnego przetwarzania danych.<br><br>
                    4. Kategorie danych osobowych podlegających przetwarzaniu:
                    Dane niezbędne do utrzymania stosunków handlowych, takie jak dane rozliczeniowe, dane do wysyłania reklam drogą pocztową lub
                    elektroniczną, dane zwizane z obsług posprzedażową i programem lojalnościowym
                    Dane identyfikacyjne: imię i nazwisko(a), NIP, adres pocztowy, nr(y) telefonu(ów), adres e-mail, itd.
                    Dane bankowe: do poleceń zapłaty<br><br>
                    5. Przekazywanie danych osobom trzecim:
                    Dane osobowe podane przez Użytkownika nie będą przekazywane osobom trzecim, chyba że jest to niezbędne do świadczenia żądanych usług
                    lub gdy Użytkownik wyraźnie zaakceptował przekazanie danych. W obu przypadkach Użytkownik zostanie należycie poinformowany o tej
                    możliwości przed przekazaniem swoich danych osobowych.
                    Kategorie odbiorców, którym przekazano lub zostaną przekazane dane osobowe:
                    - Administracja skarbowa<br>
                    - Banki i podmioty finansowe<br>
                    - Agencje i firmy świadczące usługi prawne na rzecz spółki<br>
                    - Firmy świadczące usługi informatyczne i utrzymanie Strony internetowej<br><br>
                    6. Okres przetwarzania danych osobowych:
                    Dostarczone dane będą przechowywane tak długo, jak długo utrzymywane będą stosunki handlowe lub w okresie czasu niezbędnym do
                    wypełnienia zobowiązań prawnych.
                    W przypadku zarejestrowanych Użytkowników przetwarzanie danych będzie trwało do momentu złożenia wniosku
                    o usunięcie utworzonego konta.
                    W przypadku nagrywania rozmów telefonicznych z powodów jakościowych, maksymalny czas przetwarzania wyniesie sześć miesięcy.
                    7. Odpowiedzialność Użytkownika:<br><br>
                    Użytkownik, który przesyła informacje do firmy, gwarantuje i odpowiada w każdym przypadku za dokładność, ważność i autentyczność podanych
                    danych osobowych i zobowiązuje się do ich aktualizacji, zwalniając firmę od wszelkiej odpowiedzialności w tym zakresie. Użytkownik wyraża
                    zgodę na podanie pełnych i poprawnych informacji poprzez e-mail i/lub formularz rejestracyjny.
                    8. Prawa Użytkownika:<br><br>
                    Każdy Użytkownik, który podał swoje dane osobowe za pośrednictwem wyżej wymienionych kanałów komunikacji, może w dowolnym momencie
                    skorzystać ze swojego prawa dostępu, sprostowania, usunięcia lub przeniesienia danych, kontaktując się z osobą odpowiedzialną za
                    przetwarzanie danych, której dane są ujawnione w pkt. 1 niniejszej Polityki prywatności.
                    Zgodnie z powyższym Użytkownik może:
                    - odwołać udzielone zgody<br>
                    - uzyskać dostęp do swoich danych osobowych<br>
                    - sprostować niedokładne lub niekompletne dane<br>
                    - zażądać usunięcia danych, gdy nie są już one wykorzystywane do celów, do których zostały zebrane<br>
                    - wnioskować o ograniczenie przetwarzania danych przez firmę, gdy spełniony jest którykolwiek z warunków określonych w przepisach o ochronie
                    danych<br>
                    - wnioskować o przeniesienie swoich danych.<br>
                    - złożyć skargę do Prezesa Urzędu Ochrony Danych Osobowych w momencie gdy zainteresowana strona uzna, że firma naruszyła prawa
                    przysługujące użytkownikowi w obowiązujących przepisach dotyczących ochrony danych.<br>
                    W celu dochodzenia swoich praw, Użytkownik powinien potwierdzić swoją tożsamość za pomocą kserokopii ważnego dokumentu tożsamości lub
                    paszportu, dołączając go do adresu e-mail wysłanego do osoby odpowiedzialnej za przetwarzanie danych osobowych.
                    9. Osoby nieletnie:<br><br>
                    Osoby poniżej 16 roku życia nie mogą rejestrować się ani przekazywać swoich danych osobowych, chyba że zostaną wyraźnie upoważnione
                    przez rodziców i/lub opiekunów prawnych.<br><br>
                    10. Zmiany w Polityce prywatności.
                    Wszelkie zmiany w Polityce prywatności będą przekazywane za pośrednictwem sekcji “Polityka prywatności” znajdującej się na Stronie i zaczną
                    obowiązywać od momentu ich publikacji.
                    Firma zastrzega sobie prawo do modyfikacji, aktualizacji lub dostosowania niniejszej Polityki prywatności do wszelkich zmian legislacyjnych lub
                    interpretacji właściwych organów w zakresie ochrony danych.<br><br>
                    11. Obowiązujące ustawodawstwo i właściwa jurysdykcja:
                    Niniejsza Polityka prywatności jest regulowana przez prawo polskie i prawodawstwo Unii Europejskiej.
                    W przypadku wszelkich kwestii spornych wynikających z istnienia, dostępu lub wykorzystania treści strony internetowej, strony zostaną poddane
                    właściwemu sądowi zgodnemu z aktualnym ustawodawstwem. Działania te zostaną podjęte bez szkody dla praw przysługujących Użytkownikowi
                    lub Konsumentowi.
                </p>
            </div>
        </div>
    </article>
</template>