<template>
    <nav class="nav">
        <input type="checkbox" class="navigation__checkbox" id="nav-toggle" v-model="showPhoneNav">
        <label for="nav-toggle"
               class="navigation__button"
               @click="showPhoneNav = !showPhoneNav">
            <span class="navigation__icon"></span>
        </label>
        <div class="navigation__background">&nbsp;</div>
        <nav class="navigation__nav">
            <ul v-if="showPhoneNav" class="navigation__list">
                <li class="navigation__item" @click="showPhoneNav = !showPhoneNav">
                    <router-link to="/"
                       class="navigation__link">
                        <span> 01 </span>
                        {{ 'Strona główna' | translate }}
                    </router-link>
                </li>
                <li class="navigation__item" @click="showPhoneNav = !showPhoneNav">
                    <router-link to="/phone-fleet"
                       class="navigation__link">
                        <span> 02 </span>
                        {{ 'Flota' | translate }}
                    </router-link>
                </li>
                <li class="navigation__item" @click="showPhoneNav = !showPhoneNav">
                    <router-link to="/cars"
                       class="navigation__link">
                        <span> 03 </span>
                        {{ 'Samochody' | translate }}
                    </router-link>
                </li>
                <li class="navigation__item" @click="showPhoneNav = !showPhoneNav">
                    <a href="#contact"
                       class="navigation__link"
                       v-smooth-scroll="{ duration: 500, offset: -60 }">
                        <span>
                            04
                        </span>
                        {{ 'Kontakt' | translate }}
                    </a>
                </li>
            </ul>
        </nav>
        <router-link to="/">
            <div class="nav__image">
                <span class="nav__image-icon"></span>
            </div>
        </router-link>
    </nav>
</template>
<script>
    export default {
        data() {
            return {
                showPhoneNav: false
            }
        }
    }
</script>