<template>
    <section class="composition">
        <div class="composition__box">
            <composition-slider :images="imagesFirstSlider" order="1" ref="firstSlider"></composition-slider>
        </div>
        <div class="composition__box">
            <composition-slider :images="imagesSecondSlider" order="2" ref="secondSlider"></composition-slider>
        </div>
        <div class="composition__box">
            <composition-slider :images="imagesThirdSlider" order="3" ref="thirdSlider"></composition-slider>
        </div>
    </section>
</template>
<script>
    import compositionSlider from './elements/compositionSlider';
    import { setTimeout, setInterval } from 'timers';

    export default {
        components: {
            compositionSlider
        },
        data() {
            return {
                imagesFirstSlider: [
                    'static/composition/1/1.jpg',
                    'static/composition/1/2.jpg',
                    'static/composition/1/3.jpg',
                    'static/composition/1/4.jpg'
                ],
                imagesSecondSlider: [
                    'static/composition/1/1.jpg',
                    'static/composition/1/2.jpg',
                    'static/composition/1/3.jpg',
                    'static/composition/1/4.jpg'
                ],
                imagesThirdSlider: [
                    'static/composition/1/1.jpg',
                    'static/composition/1/2.jpg',
                    'static/composition/1/3.jpg',
                    'static/composition/1/4.jpg'
                ]
            }
        },
        created() {
            let counter = 0;
            setInterval(() => {
                counter++;
                if(counter === 1) {
                    this.$refs.firstSlider.$refs.slider.showImage('next');
                }
                if(counter === 2) {
                    this.$refs.secondSlider.$refs.slider.showImage('next');
                }
                if(counter === 3) {
                    this.$refs.thirdSlider.$refs.slider.showImage('next');
                }
                if(counter === 3) counter = 0;
                
            }, 8000);
        }
    }
</script>